/*	Input File */
.box
	margin-bottom: 10px

.inputfile
	opacity: 0
	overflow: hidden
	position: absolute
	z-index: -1

.inputfile + label span
	width: 200px
	min-height: 2em
	display: inline-block
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	vertical-align: top

.inputfile + label strong
	height: 100%
	color: #f1e5e6
	background-color: #d3394c
	display: inline-block

.inputfile + label img
	width: 1em
	height: 1em
	vertical-align: middle
	fill: currentColor
	margin-top: -0.25em
	margin-right: 0.25em

.load-file + label
	color: $primary_text
	overflow: hidden

.load-file + label
	border: 1px solid #cacaca
	background-color: #fff !important
	padding: 0

.load-file + label span,
.load-file + label strong
	padding: 0.625rem 1.25rem
	/* 10px 20px */

.load-file + label span
	width: 200px
	min-height: 2em
	display: inline-block
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	vertical-align: top

.load-file + label strong
	height: 100%
	color: #f1e5e6
	background-color: $blue
	display: inline-block

.load-file:focus + label strong,
.load-file.has-focus + label strong,
.load-file + label:hover strong
	background-color: $blue

@media (max-width: 650px)
	.load-file + label strong
		display: block

	.inputfile + label
		border: none