<!DOCTYPE html>
<html lang="es">

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="theme-color" content="#000">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="author" content="unexpect.mx">

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="/dist/cloeportaldiseno.css" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.min.css">

	<!-- TITLE -->
	<title>Clōe Design Portal</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/png" href="/dist/img/favicon.png" />
</head>

<body>
	<h1 class="hide">Clōe Design Portal</h1>
	<div id="app">
		<header-content :error_msg="error_msg" v-cloak v-if="hasToShowHeader"></header-content>
		<div class="main-content" :class="hasToShowHeader ? 'screen-header' : 'full-screen'">
			<sidebar-content v-cloak v-if="hasToShowHeader"></sidebar-content>
			<transition name="fade" mode="out-in">
				<router-view :key="$route.fullPath"></router-view>
			</transition>
		</div><!-- main-content -->
	</div><!-- app -->
	<!-- JS -->
	<script src="/dist/idb.js"></script>
	<script src="/dist/utility.js"></script>
	<script src="/dist/cloeportaldiseno.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.all.min.js"></script>
</body>

</html>