<template>
  <div class="login-content" :class="{'sending' : is_making_request}" v-cloak>
    <div class="logo-space-login text-center">
      <img src="./dist/img/logo.png" :alt="app_name" class="logo-login">
      <h3 class="text-center login-title smallest-font">DESIGN PORTAL</h3>
    </div>
    <div class="login-form" @keyup.enter="sendLoginForm">
      <div class="input-space">
        <input
          type="text"
          name="user"
          v-model="login_data.email"
          class="login-input medium-font text-center"
          @blur="checkEmail()"
          placeholder="User / Email"
          :class="{'has-error' : email_error}"
        >
        <span class="input-icon" v-show="email_error">
          <i class="fa fa-times error-login medium-font" aria-hidden="true"></i>
        </span>
      </div>
      <div class="input-space">
        <input
          type="password"
          name="password"
          v-model="login_data.password"
          class="login-input medium-font text-center"
          placeholder="Password"
          :class="{'has-error': password_error}"
        >
        <span class="icon-login">
          <i v-show="password_error" class="fa fa-times error-login medium-font" aria-hidden="true"></i>
        </span>
      </div>
      <div
        class="error-login small-font text-center"
        v-show="error_msg.length > 0"
        v-html="error_msg"
      ></div>
      <div class="login-button-space text-center">
        <button
          class="btn-rounded btn-login medium-font"
          title="Login"
          :disabled="!available"
          @click="sendLoginForm"
        >
          LOGIN
          <i v-show="is_making_request" class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
      <div class="login-forgot" v-show="false">
        <a href="#">Olvidé mi contraseña</a>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  name: "Login",
  data() {
    return {
      login_data: {
        email: "",
        password: ""
      },
      error_msg: "",
      email_error: false,
      password_error: false,
      is_making_request: false,
      app_name: APP_NAME
    };
  },
  methods: {
    sendLoginForm() {
      let self = this;

      this.is_making_request = true;
      this.error_msg = "";

      let data = {
        client_secret: window.CLIENT_SECRET,
        client_id: 2,
        grant_type: "password",
        username: self.login_data.email,
        password: self.login_data.password
      };

      axios
        .post(URL_SERVER + "/oauth/token", data)
        .then(function(response) {
          self.$auth.setToken(
            response.data.access_token,
            response.data.expires_in + Date.now()
          );

          axios.defaults.headers.common["Authorization"] =
            "Bearer " + self.$auth.getToken();

          let data = {
            id: new Date().toISOString(),
            authorization: "Bearer " + self.$auth.getToken()
          };

          //mhpm clean users
          clearAllData("user");

          axios
            .get(URL_SERVER + "/api/user")
            .then(function(response) {
              localStorage.setItem("id", response.data.data.id);
              localStorage.setItem("role", response.data.data.role);

              data.user_id = response.data.data.id;
              data.role = response.data.data.role;

              writeData("user", data);
              self.$store.dispatch("setUserInfo", data.role);

              self.$router.push("/design-dashboard");

              if (response.data.data.role == "designer")
                self.$router.push(
                  "/design-dashboard/user/" + response.data.data.id
                );
              else self.$router.push("/design-dashboard");
            })
            .catch(function(error) {
              self.is_making_request = false;
              self.error_msg =
                error.response.data.message ||
                "A problem was found on user data.";
            });
        })
        .catch(function(error) {
          self.is_making_request = false;
          self.error_msg =
            error.response.data.message ||
            "A problem was found on authentication.";
        });
    },

    checkEmail() {
      if (
        this.login_data.email.length < 3 ||
        this.login_data.email.length > 150
      ) {
        this.email_error = true;

        if (this.error_msg == "")
          this.error_msg =
            "The email / user doesn't have a valid format, please try again.";
      } else {
        this.email_error = false;
        this.error_msg = "";
      }
    },

    checkPass() {
      if (
        this.login_data.password == "" ||
        this.login_data.password.length < 3
      ) {
        this.password_error = true;
        this.error_msg = "Write a valid password.";
      } else {
        this.password_error = false;
        this.error_msg = "";

        this.checkCustomer();
      }
    }
  },
  computed: {
    available() {
      if (this.is_making_request) return false;
      else
        return (
          this.email_error == false &&
          this.password_error == false &&
          this.login_data.email != "" &&
          this.login_data.password != ""
        );
    }
  }
};
</script>