.design-top-options
    +flex()
    +flex-align(center)
    +flex-justify(space-between)
    margin-bottom: 20px

.input-serach-wrapper
    width: 900px

.input-search-design-book
    padding: 8px
    +border-radius(5px)
    border: 1px solid #dfdfdf
    color: #acacac
    width: calc(90% - 16px)

.sample-wrapper
    width: 370px
    +flex()
    +flex-align(center)
    +flex-justify(space-between)
    padding: 0 15px

.initial-data-wrapper
    width: 350px
    +flex()
    +flex-align(center)
    +flex-justify(space-evenly)
    padding: 0 15px

.filters-button-wrapper
    width: 120px

.btn-filter-design
    background-color: #df9b2b
    color: #fff
    height: 35px
    width: 110px
    border: 1px solid #fff
    border-radius: 5px

.design-group-by-wrapper
    +flex()
    +flex-align(center)
    +flex-justify(flex-end)
    margin-bottom: 20px

.header-section.biggest-button-space
    width: 310px

.une-category-design-body
    background-color: #f0f0f0
    border-top: 1px solid #fff
    padding: 25px 20px

.une-design-details
    +flex()
    +flex-justify(space-between)

.une-design-top
    margin-bottom: 15px
    span
        margin-right: 30px

.data-design-wrapper
    width: 100%
    max-width: 70%
    padding: 25px
    background-color: #fff
    +flex()
    +flex-justify(space-between)

.img-design-wrapper
    max-width: 220px

.pline-and-model-wrapper
    width: 25%

.img-design-book
    max-width: 100%

.filter-modal
    background-color: #000
    .modal-container
        max-width: 800px
        width: calc(100% - 36px)
        background-color: #000
        .top-modal-filter
            +flex()
            +flex-align(center)
            +flex-justify(space-between)
            margin-bottom: 35px
            .title-filter
                color: #fff
            .close-filter, .close-filter:hover, .close-filter:focus
                color: #fff
        .modal-filter-body
            +flex()
            +flex-justify(space-between)
            flex-wrap: wrap
            .select-filter-wrapper
                margin-bottom: 25px
            .clear-filter, .clear-filter:hover, .clear-filter:focus
                color: #fff
                text-decoration: underline

.pline-link, .pline-link:hover, .pline-link:focus
    color: #252525
    text-decoration: underline

.sections-categories-wrapper
    overflow: hidden
    height: 0
    +transition(all,.2s, ease)

.top-categories
    +flex()
    +flex-align(center)
    +flex-justify(space-between)
    padding: 15px

.design-title
    margin-bottom: 25px

.modal-model-body
    min-width: 900px

.width-as-select
    width: 180px