.designer-name
    +flex()
    +flex-align(center)
    +flex-justify(flex-start)
    padding: 15px
    label
        margin-right: 15px

.double-border-rectangle
    +box-shadow(0px, 0px, 0px, 2px, #e3e3e3)
    cursor: pointer

.select-full-width
    width: 100%

.add-new-wrapper
    +flex()
    +flex-align(flex-end)
    +flex-justify(flex-start)
    margin-bottom: 20px

.select-category-wrapper, .add-percent-wrapper
    +flex()
    +flex-align(center)
    +flex-justify(center)
    flex-direction: column
    margin-right: 8px

label
    color: #bbbbbb

.input-percent
    width: 50px
    height: 33px
    border: 1px solid #e1e1e1
    color: #000
    text-align: center

.margin-input-percet
    margin-left: 5px

.add-btn-wrapper
    width: 195px
    button
        width: 100%
        height: 33px
        +border-radius(5px)
        background-color: #27ae62
        color: #fff
        border: 1px solid #fff
        +box-shadow(0px, 0px, 17px, -4px, #000)
        font-weight: bold
        cursor: pointer

.btn-green
    background-color: #27ae62 !important

.btn-remove
    background-color: #9b2b20 !important

.colors-body
    +flex()
    +flex-align(center)
    +flex-justify(flex-start)
    flex-wrap: wrap
    margin-bottom: 20px

.flex-left
    +flex-align(flex-start)

.colors-inputs
    background-color: #f0f0f0
    padding: 15px 10px 0px 10px

.big-separator
    background-color: #000000
    height: 5px

.family-and-price-wrapper
    margin-top: 30px
    padding-bottom: 1px

.input-and-select-wrapper
    +flex()
    +flex-align(flex-start)
    flex-direction: column
    width: 50%
    input, select
        width: 95%

.small-padding
    padding: 5px !important

.inside-container
    margin: 5px

.bottom-wrapper
    background-color: #f0f0f0
    padding: 30px
    +flex()
    +flex-align(center)
    +flex-justify(center)
    flex-direction: column

.btn-blue
    background-color: #507fb6
    color: #fff
    width: 250px
    height: 39px
    +border-radius(5px)
    border: 1px solid #fff
    +box-shadow(0px, 0px, 17px, -5px, #000)
    cursor: pointer

.input-text
    width: 200px

.border-right-white
    border-right: 1px solid #f6f6f6 !important

.designer-input-wrapper
    position: relative
    width: 50%

@media(max-width: 768px)
    .designer-input-wrapper
    width: 100%

.autosearch-list
    position: absolute
    background: #fff
    width: 100%

.item-result
    list-style: none
    padding: 10px
    border-bottom: 1px solid #000
    overflow: hidden
    a, a:focus, a:hover
        text-decoration: none
        color: #585858

.bottom-families
    padding: 20px
    +flex()
    +flex-justify(flex-end)

.add-price-inside-wrapper
    padding: 10px
    +flex()
    +flex-justify(flex-end)