.title-module
    margin-bottom: 30px

.title-width-buttons
    +flex()
    +flex-align(center)
    +flex-justify(space-between)

.design-max-width
    max-width: 980px

.year-buttons
    +flex()
    +flex-align(center)
    +flex-justify(center)

.years-wrapper, .top-buttons-wrapper
    margin: 0 10px

.top-buttons-wrapper
    +flex()
    border-bottom: 2px solid #969696
    margin-bottom: 20px
    button
        padding: 10px 25px
        background-color: #e3e3e3
        color: #2a2a2a
        cursor: pointer
        border-radius: 10px 10px 0px 0px
        &:nth-child(3n+2)
            border-left: 1px solid #fff
            border-right: 1px solid #fff
        &[disabled]
            opacity: 1
            background-color: #565656
            color: #fff

.category-wrapper
    max-width: 980px
    margin-bottom: 22px

.category-title-wrapper
    color: #242424
    +flex()
    +flex-align(center)
    +flex-justify(flex-start)
    .une-title, .une-title:hover, .une-title:focus
        color: #242424
        text-decoration: underline
        font-weight: 600
    .link-design, .link-design:hover, .link-design:focus
        color: #1a7098
        text-decoration: underline
        font-weight: bold
    .header-section
        border-right: 1px solid #f6f6f6
        padding: 15px
        height: 60px
        width: 90px
        +flex()
        +flex-align(center)
        +flex-justify(center)
        flex-direction: column

.header-section.first-space
    width: 248px
    height: 60px
    +flex-justify(flex-start)
    flex-direction: initial

.header-section.big-space
    border-right: none
    width: 187px

.header-section.small-space
    border-right: none
    width: 65px

.link-edit
    color: #b4b4b4
    padding: 5px
    background-color: #f0f0f0

.main-category
    color: #fff
    .header-section
        border-right: 1px solid #464646

.ind-percent-wrapper
    +flex()
    +flex-align(center)
    span
        margin-left: 8px

.dropdown-bar
    padding: 0 10px
    cursor: pointer

.arrow-slide
    color: #aaaaaa
    +transition(all,.2s, ease)

.details-wrapper
    border-top: 2px solid #fff
    padding: 15px
    +flex()
    flex-direction: column

.detail-title
    margin-bottom: 10px

.detail-body
    +flex()
    +flex-align(center)
    +flex-justify(flex-start)
    flex-wrap: wrap

.rectangle-detail
    background-color: #e3e3e3
    padding: 5px 10px
    +border-radius(5px)
    border: 1px solid #fff
    margin-right: 5px
    margin-bottom: 5px

.color-mix
    margin-right: 32px
    margin-bottom: 20px
    span
        margin-left: 5px

.category-info
    height: 0
    overflow: hidden
    +transition(all,.2s, ease)
    color: #000

.cat-info-open
    height: auto !important

.arrow-open-info
    transform: rotate(180deg)

.details-extra-info
    .detail-title
        +flex()
        +flex-align(center)
        +flex-justify(flex-start)
        h3
            width: 220px
        .title-extra-indicators
            width: 600px
            +flex()
            +flex-align(center)
            +flex-justify(flex-start)
            .indicator-top
                +flex()
                +flex-align(center)
                +flex-justify(center)
                width: 125px

.big-space-indicator
    +flex()
    +flex-align(center)
    +flex-justify(center)
    width: 220px

.extra-space-indicator
    +flex()
    +flex-align(center)
    +flex-justify(center)
    width: 125px

.record-extra-indicators
    +flex()
    +flex-align(center)
    +flex-justify(flex-start)
    width: 100%
    margin: 15px 0px

.detail-extra-indicators
    +flex()
    width: 600px

.small-width-input
    width: 35px

.big-max-width
    max-width: 1200px
    .header-section.big-space
        width: 285px

.title-width-back-arrow
    +flex()
    +flex-align(center)

.back-design, .back-design:hover, .back-design:focus
    color: #000
    font-size: 30px
    margin-right: 8px