.login-content
	max-width: 280px
	width: 100%
	padding: 35px 60px

.login-input
	padding: 18px 32px
	background: transparent
	border: none
	border-bottom: 1px solid #fff
	width: calc(100% - 64px)
	color: #fff
	&::-webkit-input-placeholder
		color: #fff
	&::-moz-placeholder
		color: #fff
	&:-ms-input-placeholder
		color: #fff
	&:-moz-placeholder
		color: #fff

.input-space
	margin-bottom: 20px
	position: relative
	color: #fff

.input-icon
	position: absolute
	width: 10%
	+flex()
	+flex-justify(center)
	+flex-align(center)
	height: 100%
	left: 0
	top: 0
	&:last-child
		right: 0
		left: initial

.logo-space-login
	margin-bottom: 90px

.error-login
	color: #b00d3c !important
	font-weight: bold
	padding-bottom: 5px
	display: block

.has-error
	border-color: #a94442 !important
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus
	background-color: #85473d !important
	color: #b66254 !important
	font-weight: bold
	border-radius: 0
	opacity: 1 !important
	cursor: not-allowed
	text-transform: uppercase

.sending
	cursor: wait

.btn-login
	background-color: transparent
	cursor: pointer
	padding: 15px 90px

.login-title
	letter-spacing: 5px
	color: #fff
	font-weight: 300

.login-sub
	color: #bdbdbd
	margin-bottom: 50px

.bg-login-full
	+flex-justify(center)
	+flex-align(center)

.logo-login
	max-width: 149px
	width: 38vw

.login-button-space
	padding-top: 10px