.gray-square
    padding: 20px
    background-color: #f0f0f0

.gray-arrow
    +flex()
    +flex-align(center)
    +flex-justify(flex-start)

.columns-direction
    +flex()
    flex-direction: column

.one-of-three
    width: 33%
    margin: 20px

.one-of-two
    width: 48%
    margin: 20px

.form-product
    padding: 12px 7px
    background-color: #fff
    color: #2b2b2b

.flex-div
    +flex()
    +flex-align(center)
    +flex-justify(center)

.families-and-prices-product-wrapper
    +flex()
    +flex-align(center)
    +flex-justify(center)
    label
        margin-left: 8px
    select
        width: 60px
        margin-left: 8px

.align-left
    +flex-justify(flex-start)

.btn-product-line
    width: 177px
    height: 35px
    +border-radius(5px)
    background-color: #27ae62
    color: #fff
    border: 1px solid #fff
    font-weight: bold
    cursor: pointer

.materials-references
    +flex()

.materials-colors-wrapper, .references-wrapper
    padding: 20px
    width: calc(50% - 40px)
    display: flex
    flex-direction: column
    border: 1px solid #f0f0f0

.title-and-button
    +flex()
    +flex-align(center)
    +flex-justify(space-between)

.image-wrapper
    +flex()
    +flex-align(flex-start)
    padding: 15px 0

.img-sample
    max-width: 90%
    margin-right: 10px
    border: 1px solid #d3d3d1

.remove-lnk
    color: #b1b1b1
    background-color: #e7e7e7
    padding: 5px
    +border-radius(5px)

.bottom-memo-wrapper
    +flex()
    +flex-align(flex-start)
    label
        margin-right: 8px
    textarea
        width: 78%

.memo
    width: -webkit-fill-available
    width: -moz-available
    padding: 8px
    height: 70px

.general-notes-wrapper
    padding: 25px 10px

.general-notes
    +flex()
    flex-wrap: wrap
    .input-form
        width: 90%

.general-title
    margin-bottom: 10px

.special-notes
    width: 100%
    padding: 8px
    height: 70px
    border: 1px solid #e2e2e2

.model-top
    background-color: #f0f0f0
    padding: 30px 10px
    border-bottom: 2px solid #fff
    +flex()
    +flex-justify(space-between)

.model-serie
    background-color: #f0f0f0
    padding: 10px 30px
    +flex()
    +flex-align(center)
    +flex-justify(space-between)

.model-details-wrapper
    +flex()
    border: 1px solid #ededed
    border-bottom: none

.image-model-detail, .selects-model-detail, .price-model-details
    max-width: 33%
    padding: 25px
    width: 33%

.selects-model-detail
    width: 35%
    padding: 25px 0px

.select-input-model-wrapper
    +flex()
    +flex-align(center)
    +flex-justify(space-between)
    margin-bottom: 10px
    select
        min-width: 180px
    input
        max-width: 180px
    // .v-select
    //     width: 220px

.product-line-prices-data
    +flex()
    flex-direction: column

.model-bottom-wrapper
    padding: 10px 20px
    border: 1px solid #f0f0f0
    border-top: none
    +flex()
    textarea
        width: 100%

.bottom-button-model
    padding: 20px
    border: 1px solid #f1f1f1

.btn-remove-product-line
    width: 177px
    height: 33px
    +border-radius(5px)
    color: #fff
    border: 1px solid #fff
    font-weight: bold
    cursor: pointer

.body-and-trim-wrapper
    +flex()
    +flex-align(center)
    +flex-justify(space-between)
    padding: 0px 5px
    margin-bottom: 10px

.btn-add-body-trim
    +flex()
    +flex-align(center)
    +flex-justify(space-between)
    width: 60%

.bodies-and-trims-wrapper
    align-items: flex-start

.body-images
    max-height: 600px
    overflow: auto
    margin-bottom: 10px
    margin-top: 15px

.models-title-product-line
    margin: 35px 0

.models-margin-bottom
    margin-bottom: 20px

.pagination-product-line
    margin-bottom: 25px

.flex-right
    +flex()
    +flex-justify(flex-end)

hr.white-sep
    height: 2px
    background-color: #fff
    border: none

.flex-end
    +flex-align(flex-end)

.black-color
    color: #000

.product-line-wrapper
    label
        color: #000

.inputs-group
    width: 50%
    .input-wrapper
        width: 100%