.input-three
    width: 31%
    padding: 0px 5px
    input
        width: 90%

.input-three.fields-inside
    flex-direction: initial
    +flex-justify(space-between)
    margin-bottom: 0px
    input
        width: 80%

.wrapper-corner-right
    +flex-align(flex-end)
    +flex-justify(flex-end)

.resume-suppliers-wrapper
    +flex()
    +flex-align(flex-start)
    +flex-justify(space-between)

.create-supplier-sidebar
    width: calc(32% - 46px)
    background-color: #f2f2f2
    padding: 27px 23px 0px

.users-suppliers-wrapper
    width: 66%
    +flex()
    +flex-justify(space-between)
    flex-wrap: wrap

.bottom-subtitle
    margin-bottom: 20px

.user-card
    width: 45%
    background-color: #fff
    border: 2px solid #f3f3f3
    padding: 20px 10px 0px
    margin-bottom: 20px
    +flex()
    flex-direction: column

.top-card-options
    height: 25px
    padding-right: 10px
    +flex()
    +flex-align(flex-end)
    +flex-justify(flex-end)
    a
        color: #a3a3a3
        margin: 0 10px

.name-card
    margin-bottom: 20px

.data-card
    color: #747474
    text-decoration: underline
    margin-bottom: 20px

.supplier-name-lnk, .supplier-name-lnk:hover, .supplier-name-lnk:focus
    color: #737373
    text-decoration: underline
    font-weight: bold