.create-users-form
    padding: 20px 25px 0px
    background-color: #f2f2f2
    color: #000
    +flex()
    +flex-align(flex-start)
    +flex-justify(flex-start)
    flex-wrap: wrap

.input-wrapper
    width: 100%
    +flex()
    +flex-align(flex-start)
    +flex-justify(flex-start)
    flex-direction: column
    margin-bottom: 20px
    label
        color: #000
        margin-bottom: 10px

.input-form
    background-color: #fff
    border: 1px solid #e2e2e2
    padding: 5px 10px
    height: 22px
    width: 235px

.gray-button
    width: 250px
    height: 39px
    background-color: #747474
    color: #fff
    border: 1px solid #fff
    +box-shadow(0px, 0px, 17px, -3px, #747474)
    cursor: pointer

.align-bottom
    +flex()
    +flex-align(flex-start)
    width: 100%

.file-space
    margin-top: 30px
    margin-bottom: 5px

.btn-load
    background-color: #747474
    width: 330px
    height: 35px
    border: 1px solid #fff
    +box-shadow(0px, 0px, 17px, -3px, #747474)
    text-align: center
    color: #fff
    font-size: 16px
    cursor: pointer

.top-overload-user
    margin-top: 20px

.title-space
    margin-bottom: 15px

.download-link
    color: #006dbc

.select-type-user
    width: 257px

.msgs-user
    +flex-align(flex-end)
    width: 100%

.delete-lnk
    cursor: pointer

.modal-buttons
    +flex()
    +flex-align(center)
    flex-direction: column
    padding: 25px

.cancel-lnk, .cancel-lnk:hover, .cancel-lnk:focus
    margin-top: 25px
    color: #252525
    text-decoration: underline

.cancel-clear, .cancel-clear:hover, .cancel-clear:focus
    margin-top: 20px
    text-decoration: underline
    color: #006DBC