<template>
  <div class="content-mod">
    <div v-if="!isThePageLoaded" class="text-center">
      <h5 class="small-font">
        LOADING
        <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
      </h5>
    </div>
    <div v-else class="general-wrapper">
      <div class="title-module title-width-buttons design-max-width design-title">
        <h1 class="medium-font">DESIGN BOOK</h1>
        <div class="year-buttons">
          <!-- <button title="Save" class="btn-blue uppercase">Save</button> -->
          <button
            v-if="itIsInOnline"
            title="Download"
            @click="downloadFile"
            class="btn-product-line"
          >
            Download
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="module-content-wrapper design-max-width">
        <div class="design-top-options">
          <div class="input-serach-wrapper">
            <input
              type="text"
              class="input-search-design-book"
              placeholder="Search product line or model"
              v-model="filterModal.search"
            >
          </div>
          <div class="sample-wrapper" v-if="false">
            <span>Sample:</span>
            <div class="radio-wrapper">
              <input type="checkbox" id="yes">
              <label for="yes">Yes</label>
            </div>
            <div class="radio-wrapper">
              <input type="checkbox" id="no">
              <label for="no">No</label>
            </div>
            <div class="radio-wrapper">
              <input type="checkbox" id="pending">
              <label for="pending">Pending</label>
            </div>
          </div>
          <div class="initial-data-wrapper">
            <!-- <span>SKUS: <b>420</b></span> -->
            <span>
              Models:
              <b>{{ totalModels }}</b>
            </span>
            <span>
              P Lines:
              <b>{{ totalLines }}</b>
            </span>
          </div>
          <div class="filters-button-wrapper">
            <button
              v-if="itIsInOnline"
              title="Filters"
              class="btn-filter-design"
              @click="openFilter"
            >
              Filters
              <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div v-show="!isMakingRequestSearch">
          <div class="design-group-by-wrapper">
            <span>Group by:</span>
            <div class="top-buttons-wrapper">
              <button
                class="small-font"
                :disabled="filtered == 1"
                @click="filterBy(1)"
                title="UNE + Model"
              >UNE + Model</button>
              <button
                class="small-font"
                :disabled="filtered == 2"
                @click="filterBy(2)"
                title="Product Line"
              >Product Line</button>
            </div>
          </div>
          <div v-show="isMakingRequestSearch" class="search-pagination">
            <h6 class="small-font">
              Loading
              <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
            </h6>
          </div>
          <div class="design-unes-wrapper">
            <models
              v-for="(log, index) in tempRecord"
              :key="index"
              :log="log"
              :filtered="sectionLoaded"
            ></models>
          </div>
          <div class="design-unes-wrapper">
            <models v-for="(log, index) in logs" :key="index" :log="log" :filtered="sectionLoaded"></models>
          </div>
        </div>
        <filter-modal
          :filterModal="filterModal"
          :years="years"
          :seasons="seasons"
          :shapes="shapes"
          :families="families"
          :prices="prices"
          :suppliers="suppliers"
          :clients="clients"
          :subBrands="subBrands"
          :designers="designers"
        ></filter-modal>
        <modal :modal="modal" :model="model" :shapes="shapes" :unes="unes"></modal>
      </div>
    </div>
  </div>
</template>

<script>
import FilterModal from "./Filter.vue";
import Models from "./Models.vue";
import Modal from "./ModalModel.vue";

export default {
  name: "DesignBook",
  components: {
    FilterModal,
    Models,
    Modal
  },
  data() {
    return {
      isThePageLoaded: false,
      sectionLoaded: 1,
      filtered: 1,
      logs: [],
      years: [],
      seasons: [],
      shapes: [],
      families: [],
      prices: [],
      suppliers: [],
      clients: [],
      subBrands: [],
      tempRecord: [],
      filterModal: {
        show: false,
        errorMsg: "",
        year: "",
        search: "",
        season_id: "",
        price_id: "",
        shape_id: "",
        family_id: "",
        supplier_id: "",
        client_id: "",
        subBrand_id: "",
        designer_id: "",
        margin: "",
        isMakingRequest: false
      },
      url_server: URL_SERVER,
      isMakingRequestSearch: false,
      unes: [],
      shapes: [],
      colors: [],
      modal: {
        show: false
      },
      model: {
        show: false,
        model_id: "",
        colorsSample: [],
        color_id: "",
        une_id: "",
        shape_id: "",
        supplier_cost: "",
        price_point: "",
        info: "",
        image: null
      },
      uneId: this.$route.params.id || "",
      user_id: "",
      itIsInOnline: true
    };
  },
  created() {
    this.loadYears();
    this.loadSeasons();
    this.loadShapes();
    this.loadFamilies();
    this.loadPrices();
    this.loadSuppliers();
    this.loadClients();
    this.loadSubBrands();
    this.loadUsersDesigners();
  },
  mounted() {
    let self = this;

    this.loadUnes();
    this.loadColors();
    this.loadShapes();

    this.$on("makeFilter", function() {
      self.makefilter();
    });

    this.$on("openModal", function(id) {
      self.openModal(id);
    });

    this.$on("loadDesignBook", function() {
      self.loadDesignBook();
    });

    if (window.isDesigner()) {
      this.filterModal.designer_id = this.user_id =
        localStorage.getItem("id") || 0;
    } else if (Object.keys(this.$route.query).length > 0) {
      this.filterModal.designer_id = this.user_id =
        this.$route.query.user || "";
    }

    this.loadDesignBook();

    if (!navigator.onLine) this.itIsInOnline = false;
  },
  methods: {
    loadUnes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/unes/list")
        .then(function(response) {
          self.unes = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The unes were not loaded";
        });
    },

    loadShapes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/shapes/list")
        .then(function(response) {
          self.shapes = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The shapes were not loaded";
        });
    },

    loadColors() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/colors/list")
        .then(function(response) {
          self.colors = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The colors were not loaded";
        });
    },

    loadUsersDesigners() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/users/designers/list")
        .then(function(response) {
          self.designers = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The designers were not loaded";
        });
    },

    openModal(model) {
      let self = this;

      self.isMakingRequestSearch = true;

      axios
        .get(URL_SERVER + "/api/models/" + model.model_id + "/edit")
        .then(function(response) {
          console.log(response.data.data);
          self.model = response.data.data;

          //mhpm
          // self.model.special_label = model.special_label;
          // self.model.client_id = model.client_id.id;
          // self.model.season_id = model.season_id.id;
          // self.model.sub_brand_id = model.sub_brand_id;
          // self.model.year = model.year;

          self.isMakingRequestSearch = false;
          self.modal.show = true;
        })
        .catch(function(error) {
          self.isMakingRequestSearch = false;
          content.error_msg =
            error.response.data.message ||
            "The data could be found, please try again";
        });
    },

    makefilter() {
      let self = this;

      let data = {};

      if (this.filterModal.client_id != "")
        data.client = this.filterModal.client_id;

      if (this.filterModal.family_id != "")
        data.family = this.filterModal.family_id;

      if (this.filterModal.price_id != "")
        data.price = this.filterModal.price_id;

      if (this.filterModal.search != "") data.search = this.filterModal.search;

      if (this.filterModal.season_id != "")
        data.season = this.filterModal.season_id;

      if (this.filterModal.shape_id != "")
        data.shape = this.filterModal.shape_id;

      if (this.filterModal.subBrand_id != "")
        data.sub_brand = this.filterModal.subBrand_id;

      if (this.filterModal.supplier_id != "")
        data.supplier = this.filterModal.supplier_id;

      if (this.filterModal.year != "") data.year = this.filterModal.year;

      if (this.user_id != "") data.user_id = this.user_id;

      if (this.filterModal.margin != "") data.margin = this.filterModal.margin;

      // self.$router.push({query : data})

      if (this.filtered == 1) {
        if (window.navigator.onLine) {
          axios
            .get(URL_SERVER + "/api/designbook", {
              params: data
            })
            .then(function(response) {
              self.filterModal.show = false;
              self.filterModal.isMakingRequest = false;

              if (response.data.data.length > 0) {
                self.sectionLoaded = 1;
                self.logs = response.data.data;
                for (var key in response.data.data) {
                  writeData("design-une", response.data.data[key]);
                }
              } else content.error_msg = "No records found";

              self.isMakingRequestSearch = false;
            })
            .catch(function(error) {
              self.isMakingRequestSearch = false;
              self.filterModal.isMakingRequest = false;

              if (error.response.status == 500) {
                self.filterModal.errorMsg =
                  error.response.data.message ||
                  "A problem was found in the filtering";
              } else if (error.response.status == 422) {
                self.filterModal.errorMsg =
                  window.processStrJson(error.response.data.errors) ||
                  "A problem was found in the filtering";
              } else {
                self.filterModal.errorMsg =
                  "A problem was found in the filtering";
              }
            });
        } else {
          readAllData("design-une").then(function(data) {
            console.log("From cache", data);

            self.filterModal.show = false;
            self.filterModal.isMakingRequest = false;

            if (data.length > 0) {
              self.sectionLoaded = 1;
              self.logs = data;
            } else content.error_msg = "No records found";

            self.isMakingRequestSearch = false;
          });
        }
      }
      if (this.filtered == 2) {
        if (window.navigator.onLine) {
          axios
            .get(URL_SERVER + "/api/designbook/productLine", {
              params: data
            })
            .then(function(response) {
              self.filterModal.show = false;
              self.filterModal.isMakingRequest = false;

              if (response.data.data.length > 0) {
                self.sectionLoaded = 2;
                self.logs = response.data.data;

                for (var key in response.data.data) {
                  writeData("design-product-line", response.data.data[key]);
                }
              } else content.error_msg = "No records found";

              self.isMakingRequestSearch = false;
            })
            .catch(function(error) {
              self.filterModal.isMakingRequest = false;
              self.isMakingRequestSearch = false;

              if (error.response.status == 500) {
                self.filterModal.errorMsg =
                  error.response.data.message ||
                  "A problem was found in the filtering";
              } else if (error.response.status == 422) {
                self.filterModal.errorMsg =
                  window.processStrJson(error.response.data.errors) ||
                  "A problem was found in the filtering";
              } else {
                self.filterModal.errorMsg =
                  "A problem was found in the filtering";
              }
            });
        } else {
          readAllData("design-product-line").then(function(data) {
            console.log("From cache", data);

            self.filterModal.show = false;
            self.filterModal.isMakingRequest = false;

            if (data.length > 0) {
              self.sectionLoaded = 2;
              self.logs = data;
            } else content.error_msg = "No records found";

            self.isMakingRequestSearch = false;
          });
        }
      }
    },

    filterBy(index) {
      this.filtered = index;
      this.isMakingRequestSearch = true;
      this.makefilter();
    },

    downloadFile() {
      let data = "?";

      if (this.filterModal.client_id != "")
        data += "&client=" + this.filterModal.client_id;

      if (this.filterModal.family_id != "")
        data += "&family=" + this.filterModal.family_id;

      if (this.filterModal.price_id != "")
        data += "&price=" + this.filterModal.price_id;

      if (this.filterModal.season_id != "")
        data += "&season=" + this.filterModal.season_id;

      if (this.filterModal.shape_id != "")
        data += "&shape=" + this.filterModal.shape_id;

      if (this.filterModal.subBrand_id != "")
        data += "&sub_brand=" + this.filterModal.subBrand_id;

      if (this.filterModal.supplier_id != "")
        data += "&supplier=" + this.filterModal.supplier_id;

      if (this.filterModal.year != "") data += "&year=" + this.filterModal.year;

      data += "&auth=" + localStorage.id;
      if (this.filtered == 1) {
        console.log(data);

        window.open(URL_SERVER + "/api/designbook/export" + data);
      } else
        window.open(URL_SERVER + "/api/designbook/export/productLine" + data);
    },

    loadDesignBook() {
      let self = this;

      self.isThePageLoaded = false;

      let data = {};

      if (this.user_id != "") data.user_id = this.user_id;

      data.year = this.filterModal.year;

      if (window.navigator.onLine) {
        axios
          .get(URL_SERVER + "/api/designbook", {
            params: data
          })
          .then(function(response) {
            self.logs = response.data.data;
            for (var key in response.data.data) {
              writeData("design-une", response.data.data[key]);
            }
            self.isThePageLoaded = true;

            if (self.uneId != "") self.goToModel();
          })
          .catch(function(error) {
            self.isThePageLoaded = true;
            content.error_msg = "The data couldn't be loaded";
          });
      } else {
        readAllData("design-une").then(function(data) {
          console.log("From cache", data);
          self.logs = data;
          self.isThePageLoaded = true;

          if (self.uneId != "") self.goToModel();
        });
      }
    },

    goToModel() {
      let self = this;

      setTimeout(function() {
        let uneContent =
          $(".general-wrapper div.une-" + self.uneId).offset().top - 49;
        $(".content-mod")
          .stop()
          .animate({ scrollTop: uneContent }, "slow");
      }, 500);
    },

    openFilter() {
      this.filterModal.show = true;
    },

    loadYears() {
      let currentDay = new Date();
      let currentYear = currentDay.getFullYear();

      let data = [
        { year: currentYear - 1 },
        { year: currentYear },
        { year: currentYear + 1 },
        { year: currentYear + 2 }
      ];

      this.years = data;

      let yearSetted = localStorage.getItem("year") || "";

      if (yearSetted != "") this.filterModal.year = parseInt(yearSetted);
      else {
        localStorage.setItem("year", currentYear + 1);
        this.filterModal.year = currentYear + 1;
      }
    },

    loadSeasons() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/seasons/list")
        .then(function(response) {
          self.seasons = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The seasons were not loaded";
        });
    },

    loadShapes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/shapes/list")
        .then(function(response) {
          self.shapes = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The shapes were not loaded";
        });
    },

    loadFamilies() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/families/list")
        .then(function(response) {
          self.families = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The families were not loaded";
        });
    },

    loadPrices() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/prices/list")
        .then(function(response) {
          self.prices = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The families were not loaded";
        });
    },

    loadSuppliers() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/providers/list")
        .then(function(response) {
          self.suppliers = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The suppliers were not loaded";
        });
    },

    loadClients() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/clients/list")
        .then(function(response) {
          self.clients = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The clients were not loaded";
        });
    },

    loadSubBrands() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/subBrand/list")
        .then(function(response) {
          self.subBrands = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The sub-brands were not loaded";
        });
    }
  },
  computed: {
    totalModels() {
      let total = 0;

      for (var i = 0; i < this.logs.length; i++) {
        total += this.logs[i].models_count;
      }

      return total;
    },

    totalLines() {
      let total = 0;

      for (var i = 0; i < this.logs.length; i++) {
        total += this.logs[i].lines_count;
      }

      return total;
    },

    routeQuery() {
      return Object.keys(this.$route.query).length;
    }
  },
  watch: {
    "filterModal.search"() {
      let self = this;
      self.isMakingRequestSearch = true;
      window.delayKeyup(function() {
        self.makefilter();
      }, 400);
    }
  }
};
</script>
