<template>
    <transition name="fade" mode="out-in">
		<div class="modal filter-modal" v-show="filterModal.show">
			<div class="modal-wrapper">
				<div class="modal-container text-center">
					<div class="centered-modal">
						<div class="top-modal-filter">
							<h4 class="medium-font title-filter">FILTERS</h4>
							<a href="#" class="big-font close-filter" @click.prevent="filterModal.show = false">
								<i class="fa fa-times" aria-hidden="true"></i>
							</a>
						</div>
						<div class="modal-filter-body">
							<div class="select-filter-wrapper">
								<select name="years" id="years" v-model.number="filterModal.year">
									<option value="" disabled>Year</option>
									<option
										v-for="(year, index) in years"
										:key="index"
										:value="year.year">{{year.year}}</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<select name="seasons" id="seasons" class="uppercase" v-model="filterModal.season_id">
									<option value="" disabled>Season</option>
									<option
										v-for="(season, index) in seasons"
										:key="index"
										:value="season.id">{{season.name}}</option>
								</select>
							</div>
							<!-- <div class="select-filter-wrapper">
								<select name="shapes" id="shapes" class="uppercase" v-model="filterModal.shape_id">
									<option value="" disabled>Shape</option>
									<option
										v-for="(shape, index) in shapes"
										:key="index"
										:value="shape.id">{{shape.name}}</option>
								</select>
							</div> -->
							<div class="select-filter-wrapper">
								<select name="" id="" class="uppercase" v-model="filterModal.family_id">
									<option value="" disabled>F</option>
									<option v-for="(family, index) in families"
										:key="index"
										:value="family.id">
										{{ family.name }}</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<select name="" id="" class="uppercase" v-model="filterModal.price_id">
									<option value="" disabled>P</option>
									<option v-for="(price, index) in prices"
										:key="index"
										:value="price.id">
										{{price.name}}
									</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<select name="" id="" class="uppercase" v-model="filterModal.supplier_id">
									<option value="" disabled>Supplier</option>
									<option v-for="(supplier, index) in suppliers"
										:key="index"
										:value="supplier.id">
										{{supplier.name}}
										</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<select name="" id="" class="uppercase" v-model="filterModal.client_id">
									<option value="" disabled>Client</option>
									<option v-for="(client, index) in clients"
										:key="index"
										:value="client.id">
										{{ client.name }}
										</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<select name="" id="" class="uppercase" v-model="filterModal.subBrand_id">
									<option value="" disabled>Sub-Brand</option>
									<option v-for="(brand, index) in subBrands"
										:key="index"
										:value="brand.id">
										{{brand.name}}
										</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<select name="" id="" class="uppercase" v-model="filterModal.margin">
									<option value="">Margin</option>
									<option value="1">Green</option>
									<option value="2">Red</option>
								</select>
							</div>
							<div class="select-filter-wrapper uppercase" v-if="isItAdmin">
								<select name="" id="" class="uppercase" v-model="filterModal.designer_id">
									<option value="">Designer</option>
									<option v-for="(designer, index) in designers" :key="index" :value="designer.id">{{ designer.name }}</option>
								</select>
							</div>
							<div class="select-filter-wrapper">
								<button title="Go" class="btn-product-line" @click="makeFilter" :disabled="filterModal.isMakingRequest">
									GO <i v-show="filterModal.isMakingRequest" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
								</button>
							</div>
							<div class="select-filter-wrapper" :class="{'width-as-select': isItAdmin}">
								<a href="#" title="Clear filters" class="medium-font clear-filter" @click.prevent="clearFilters">
									<i class="fa fa-trash-o" aria-hidden="true"></i> Clear filters
								</a>
							</div>
						</div>
						<span v-show="filterModal.errorMsg.length > 0" class="error-msg small-font" v-html="filterModal.errorMsg"></span>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
    export default {
        name : "FilterModal",
        props: ["filterModal", "years", "seasons", "shapes", "families", "prices", "suppliers", "clients", "subBrands", "designers"],
		data(){
			return {
				isItAdmin : true
			}
		},
		mounted(){
			this.isItAdmin = !window.isDesigner()
		},
		methods : {

			clearFilters() {

				let currentDay   = new Date()
                let currentYear  = currentDay.getFullYear()
				this.filterModal.year = currentYear

				this.filterModal.client_id   = ""
				this.filterModal.errorMsg    = ""
				this.filterModal.family_id   = ""
				this.filterModal.price_id    = ""
				this.filterModal.season_id   = ""
				this.filterModal.shape_id    = ""
				this.filterModal.subBrand_id = ""
				this.filterModal.supplier_id = ""
				this.filterModal.designer_id = ""
				this.filterModal.margin      = ""

				this.filterModal.isMakingRequest = true
				this.$parent.$emit("makeFilter")
			},

			makeFilter(){

				this.filterModal.isMakingRequest = true
				this.$parent.$emit("makeFilter")
			}
		}
    }
</script>
