<template>
  <transition name="fade" mode="out-in">
    <div class="modal" v-show="modal.show">
      <div class="modal-wrapper">
        <div class="modal-container text-center modal-model-body">
          <div class="models-wrapper">
            <div class="model-wrapper">
              <div class="model-serie">
                <span class="uppercase">Model: {{model.model}}</span>
              </div>
              <div class="model-details-wrapper">
                <div class="image-model-detail">
                  <input type="file" accept="image/*" @change="showImage" v-show="false" id="model">
                  <!-- <button
                    title="Add image"
                    class="btn-product-line"
                    for="materials_and_colors"
                    @click="openInput"
                  >
                    Add image
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                  </button>-->
                  <div class="image-wrapper" style="display: block" v-if="model.image">
                    <img
                      v-if="newImage"
                      :src="model.image"
                      class="img-sample"
                      @error="pictureNotLoaded = true"
                      :class="{'hide' : pictureNotLoaded}"
                    >
                    <img
                      v-else
                      :src="url_server + model.image"
                      class="img-sample"
                      @error="pictureNotLoaded = true"
                      :class="{'hide' : pictureNotLoaded}"
                    >
                    <img
                      v-if="pictureNotLoaded"
                      src="http://via.placeholder.com/220x220"
                      alt="Cloe - Design Book"
                      class="img-sample"
                    >
                    <!-- <a href="#" @click.prevent="deleteImage" class="remove-lnk" title="Remove">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>-->
                  </div>
                </div>
                <div class="selects-model-detail">
                  <div class="input-wrapper">
                    <label>UNE:</label>
                    <vue-select
                      class="uppercase"
                      v-model="model.une_id"
                      label="name"
                      :options="unes"
                      placeholder="UNE"
                    ></vue-select>
                  </div>
                  <div class="input-wrapper">
                    <label>Shape:</label>
                    <vue-select
                      class="uppercase"
                      v-model="model.shape_id"
                      label="name"
                      :options="shapes"
                      placeholder="SHAPE"
                    ></vue-select>
                  </div>
                  <div class="input-wrapper">
                    <label>Sample Color:</label>
                    <vue-select
                      class="uppercase"
                      v-model="model.color_id"
                      label="color"
                      :options="model.colorsSample.data"
                      placeholder="COLOR"
                    ></vue-select>
                  </div>

                  <div class="input-wrapper">
                    <label>Dimensions:</label>
                    <vue-select
                      class="uppercase"
                      v-model="dimension_id"
                      label="name"
                      :options="dimensions"
                      placeholder="DIMENSIONS"
                    ></vue-select>
                  </div>
                  <div class="input-wrapper">
                    <label>Size:</label>
                    <vue-select
                      class="uppercase"
                      v-model="size_id"
                      label="name"
                      :options="sizes"
                      placeholder="SIZES"
                    ></vue-select>
                  </div>
                </div>
                <div class="price-model-details">
                  <div class="input-wrapper">
                    <label>
                      <strong>Price point:</strong>
                    </label>
                    <input
                      type="text"
                      class="input-form"
                      placeholder="$"
                      v-model="model.price_point"
                    >
                  </div>
                  <div class="input-wrapper">
                    <label>
                      <strong>Supplier Ref Cost:</strong>
                    </label>
                    <input
                      type="text"
                      class="input-form"
                      placeholder="$"
                      v-model="model.supplier_cost"
                    >
                  </div>
                  <div class="input-wrapper">
                    <label for="Special Label">
                      <strong>Special Label:</strong>
                    </label>
                    <input
                      v-model="model.special_label"
                      type="text"
                      placeholder="Special Label"
                      class="input-form"
                    >
                  </div>
                  <div class="select-input-model-wrapper">
                    <div class="product-line-prices-data" style="text-align: left">
                      <span>Price in Mexico: {{factor | money }} MXN</span>
                      <span>Target: $0.00 USD</span>
                      <span>OMU: {{ omu }}%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="model-bottom-wrapper">
                <textarea
                  name="notes"
                  id="notes"
                  class="memo"
                  placeholder="info..."
                  v-model="model.info"
                ></textarea>
              </div>
            </div>
            <div class="bottom-wrapper models-margin-bottom" v-if="!isItAdmin">
              <button class="btn-blue" @click="updateModel" :disabled="isMakingRequest">
                Update model
                <i
                  class="fa fa-spinner fa-pulse"
                  v-show="isMakingRequest"
                  aria-hidden="true"
                ></i>
              </button>
              <a
                href="#"
                @click.prevent="modal.show = false"
                title="Cancel"
                class="cancel-lnk medium-font"
              >CANCEL</a>
              <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
              <span
                v-show="successMsg.length > 0"
                class="success-msg small-font"
                v-html="successMsg"
              ></span>
            </div>
            <a
              v-else
              href="#"
              @click.prevent="modal.show = false"
              title="Cancel"
              class="cancel-lnk medium-font"
            >CANCEL</a>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import VueSelect from "vue-select";

export default {
  name: "ModalModel",
  props: ["modal", "unes", "shapes", "model"],
  components: {
    VueSelect
  },
  data() {
    return {
      newImage: true,
      isMakingRequest: false,
      errorMsg: "",
      successMsg: "",
      url_server: URL_SERVER,
      omu: 0,
      factor: 0,
      pictureNotLoaded: false,
      sizes: [],
      size_id: "",
      dimensions: [],
      dimension_id: "",
      firstLoadDimensions: true,
      firstLoadSizes: true,
      isItAdmin: true
    };
  },
  filters: {
    money(value) {
      var numberValue = Number(value);

      var parts = numberValue
        .toFixed(2)
        .toString()
        .split(".");
      var num =
        parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
        (parts[1] ? "." + parts[1] : "");
      var currency = "$" + num;
      return currency;
    }
  },
  created() {
    this.setOmu();
    this.transformId();
  },
  mounted() {
    this.isItAdmin = !window.isDesigner();
  },
  updated() {
    this.transformId();
  },
  methods: {
    loadDimensions() {
      let self = this;

      if (this.model.une_id != null) {
        let uneId = this.model.une_id.id || this.model.une_id;

        axios
          .get(URL_SERVER + "/api/dimensions/une/" + uneId)
          .then(function(response) {
            self.dimension_id = "";
            self.dimensions = response.data.data;
            self.sizes = [];
            self.size_id = "";

            if (self.firstLoadDimensions) self.transformDimensionObjectToId();
            else self.firstLoadDimensions = true;
          })
          .catch(function(error) {
            content.error_msg = "The dimensions were not loaded";
          });
      }
    },

    loadSizes() {
      let self = this;

      if (this.dimension_id != null && this.dimension_id != "") {
        let dimensionId = this.dimension_id.id;

        axios
          .get(URL_SERVER + "/api/dimensions/" + dimensionId + "/sizes")
          .then(function(response) {
            self.sizes = [];
            self.size_id = "";
            self.sizes = response.data.data;

            if (self.firstLoadSizes) self.transformSizeObjectToId();
            else self.firstLoadSizes = true;
          })
          .catch(function(error) {
            content.error_msg = "The sizes were not loaded";
          });
      }
    },

    transformDimensionObjectToId() {
      let self = this;

      let dimension = self.dimensions.filter(
        dimension => dimension.id == self.model.dimension_id
      );

      if (dimension.length > 0) self.dimension_id = dimension[0];
    },

    transformSizeObjectToId() {
      let self = this;

      let size = self.sizes.filter(size => size.id == self.model.size_id);

      if (size.length > 0) self.size_id = size[0];
    },

    transformId() {
      let self = this;

      if (this.model.color_id != null && this.model.color_id != "") {
        let color = self.model.colorsSample.data.filter(
          color => color.id == self.model.color_id
        );

        if (color.length > 0) self.model.color_id = color[0];
      }

      if (this.model.une_id != null && this.model.une_id != "") {
        let une = self.unes.filter(une => une.id == self.model.une_id);

        if (une.length > 0) self.model.une_id = une[0];
      }

      if (this.model.shape_id != null && this.model.shape_id != "") {
        let shape = self.shapes.filter(
          shape => shape.id == self.model.shape_id
        );

        if (shape.length > 0) self.model.shape_id = shape[0];
      }
    },

    setOmu() {
      let self = this;

      let une;

      if (this.model.une_id != "") {
        let uneId = this.model.une_id.id || this.model.une_id;

        une = this.unes.filter(function(une) {
          return une.id == uneId;
        });

        if (une.length > 0) {
          self.omu = une[0].omu;
          let factor = une[0].factor;
          self.factor = Number(factor * this.model.supplier_cost).toFixed(2);
        }
      }
    },

    openInput() {
      let self = this;
      document.getElementById("model").click();
    },

    deleteImage() {
      this.model.image = null;
    },

    showImage() {
      let self = this;

      var inputFile = document.getElementById("model");
      var files = inputFile.files;
      var filesArr = Array.prototype.slice.call(files);

      if (filesArr.length < 1) {
        return false;
      } else {
        filesArr.forEach(function(f, index) {
          var f = files[index];
          if (!f.type.match("image.*")) {
            return;
          }

          var reader = new FileReader();
          reader.onload = function(e) {
            self.model.image = e.target.result;
            self.newImage = true;

            inputFile.value = "";

            // Waiting for filesize request
            return;

            let fileSize = Math.round(f.size / 1024);
            let megaSize = parseFloat(Number(fileSize / 1024).toFixed(2));

            if (
              self.picturesSize + megaSize >= self.maxFileSize ||
              megaSize >= 2
            )
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: true,
                size: megaSize
              });
            else
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: false,
                size: megaSize
              });
          };
          reader.readAsDataURL(f);
        });
      }
    },

    updateModel() {
      let self = this;
      self.errorMsg = "";
      self.successMsg = "";
      self.isMakingRequest = true;

      if (self.model.image == null) {
        self.errorMsg = "Enter a valid image";
        self.isMakingRequest = false;
        return;
      }
      if (self.model.color_id == "") {
        self.errorMsg = "Enter a valid color";
        self.isMakingRequest = false;
        return;
      }
      if (self.model.une_id == "") {
        self.errorMsg = "Enter a valid UNE";
        self.isMakingRequest = false;
        return;
      }
      if (self.model.shape_id == "") {
        self.errorMsg = "Enter a valid shape";
        self.isMakingRequest = false;
        return;
      }

      if (self.dimension_id == "") {
        self.errorMsg = "Enter a valid dimension";
        self.isMakingRequest = false;
        return;
      }

      if (self.size_id == "") {
        self.errorMsg = "Enter a valid size";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.supplier_cost == "") {
        self.errorMsg = "Enter a valid supplier cost";
        self.isMakingRequest = false;
        return;
      }
      if (self.model.price_point == "") {
        self.errorMsg = "Enter a valid price pont";
        self.isMakingRequest = false;
        return;
      }
      if (self.model.info == "") {
        self.errorMsg = "Enter a valid info";
        self.isMakingRequest = false;
        return;
      }
      if (self.model.special_label == "") {
        self.errorMsg = "Enter a special label";
        self.isMakingRequest = false;
        return;
      }

      let data = {
        line_id: self.model.line_id,
        model_id: self.model_id,
        color_id: self.model.color_id,
        une_id: self.model.une_id,
        shape_id: self.model.shape_id,
        supplier_cost: self.model.supplier_cost,
        price_point: self.model.price_point,
        info: self.model.info,
        size_id: self.size_id.id,
        dimension_id: self.dimension_id.id,

        //mhpm
        special_label: self.model.special_label,
        client_id: self.model.client_id,
        season_id: self.model.season_id,
        sub_brand_id: self.model.sub_brand_id,
        year: self.model.year
      };

      let storageServer = self.model.image.split("/")[1];

      if (storageServer != "storage") {
        data.image = self.model.image;
      }

      axios
        .put(URL_SERVER + "/api/models/" + self.model.model_id, data)
        .then(function(response) {
          self.isMakingRequest = false;
          self.successMsg = "The model was successfully updated";

          setTimeout(function() {
            self.successMsg = "";
            self.modal.show = false;
            self.$parent.$emit("loadDesignBook");
          }, 1500);
        })
        .catch(function(error) {
          self.isMakingRequest = false;

          if (error.response.status == 500) {
            self.errorMsg =
              error.response.data.message ||
              "The model couldn't be updated, please try later";
          } else if (error.response.status == 422) {
            self.errorMsg =
              window.processStrJson(error.response.data.errors) ||
              "The model couldn't be updated, please try later";
          } else {
            self.errorMsg = "The model couldn't be updated, please try later";
          }
        });

      location.reload();
    }
  },
  watch: {
    "model.image"() {
      if (this.model.image != null) {
        let storageServer = this.model.image.split("/")[1] || "";
        this.newImage = storageServer != "storage";
      }
    },

    "model.supplier_cost"() {
      this.setOmu();
    },

    "model.une_id": {
      handler: function() {
        this.setOmu();
        this.loadDimensions();
      },
      deep: true
    },

    dimension_id: {
      handler: function() {
        this.loadSizes();
      },
      deep: true
    },

    "modal.show"() {
      if (!this.modal.show) this.pictureNotLoaded = false;
    }
  }
};
</script>