<template>
  <div class="category-wrapper small-font bg-medium-gray" :class="'une-'+log.id">
    <div class="category-title-wrapper uppercase">
      <div class="header-section first-space uppercase">
        <router-link
          v-if="filtered == 2"
          :to="{path: '/product-line/edit/'+log.id, query: routeQuery}"
          :title="log.product_line"
          class="uppercase une-title"
        >{{log.product_line}}</router-link>
        <span v-else>{{log.name}}</span>
      </div>
      <!-- <div class="header-section">
                <span>SKU's</span>
                <span><b>420</b></span>
      </div>-->
      <div class="header-section">
        <span>MODELS</span>
        <span>
          <b>{{ log.models_count }}</b>
        </span>
      </div>
      <div class="header-section">
        <span>P. Lines</span>
        <span>
          <b>{{ log.lines_count }}</b>
        </span>
      </div>
      <div class="header-section biggest-button-space">
        <button
          v-if="!isItAdmin"
          title="Add P Line"
          class="btn-product-line uppercase"
          @click="goToProductLine"
        >Add P Line</button>
        <button
          v-if="$store.getters.getUserInfo == 'admin' && log.deleted"
          title="Add P Line"
          class="btn-remove btn-remove-product-line uppercase"
        >Canceled</button>
      </div>
    </div>
    <div
      class="dropdown-bar bg-light-gray text-right"
      v-if="log.models.data.length > 0"
      @click="openInfo = !openInfo"
    >
      <i
        class="fa fa-caret-down arrow-slide"
        :class="{'arrow-open-info': openInfo}"
        aria-hidden="true"
      ></i>
    </div>
    <div
      class="sections-categories-wrapper"
      v-if="log.models.data.length > 0"
      :class="{'cat-info-open': openInfo}"
    >
      <div class="top-categories" v-if="log.models.meta.pagination.total_pages > 1">
        <div class="pagination">
          <div class="cover-pagination">
            <button @click.prevent="moveToPage(1)" title="First page" class="page link">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </button>
            <button
              v-for="(page, index) in log.models.meta.pagination.total_pages"
              :key="index"
              @click.prevent="moveToPage(index+1)"
              v-if="index+1 >= log.models.meta.pagination.current_page - 2
                            && index+1 <= log.models.meta.pagination.current_page + 4"
              :disabled="log.models.meta.pagination.current_page == index+1"
              :title="'Page '+(index+1)"
              class="page link"
            >{{index+1}}</button>
            <button
              @click.prevent="moveToPage(log.models.meta.pagination.total_pages)"
              title="Last page"
              class="page link"
            >
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="search-pagination">
          <h6 class="small-font" v-show="isMakingRequestSearch">
            Loading
            <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
          </h6>
        </div>
      </div>
      <div class="une-category-design-body" v-for="(model, index) in log.models.data" :key="index">
        <div
          class="une-design-top"
          v-if="index == 0 || index > 0 && log.models.data[index].product_line !=  log.models.data[index - 1].product_line"
        >
          <span class="capitalize">
            Designer:
            <b>{{ model.designer }}</b>
          </span>
          <span class="uppercase">QPF: {{ model.qpf }}</span>
          <span class="capitalize">Client: {{ model.client_name }}</span>
          <span class="capitalize">Sub-Brand: {{ model.sub_brand_name }}</span>
          <span class="capitalize">
            <button
              v-if="$store.getters.getUserInfo == 'admin' && model.deleted"
              title="Add P Line"
              class="btn-remove btn-remove-product-line uppercase"
            >Canceled</button>
          </span>
        </div>
        <div class="une-design-details">
          <div class="img-design-wrapper">
            <img
              v-if="model.image == '' || pictureNotLoaded"
              src="http://via.placeholder.com/220x220"
              alt="Cloe - Design Book"
              class="img-design-book"
            >
            <img
              v-else
              :src="url_server + model.image"
              alt="Cloe - Design Book"
              @error="pictureNotLoaded = true"
              class="img-design-book"
            >
          </div>
          <div class="data-design-wrapper">
            <div class="pline-and-model-wrapper capitalize">
              <p v-if="filtered == 1">Pline:
                <router-link
                  :to="{path: '/product-line/edit/'+model.line_id}"
                  :title="model.product_line"
                  class="pline-link"
                >{{model.product_line}}</router-link>
              </p>
              <p v-else>UNE: {{model.une}}</p>
              <p>
                Model:
                <a
                  href="#"
                  :title="model.model"
                  class="pline-link"
                  @click.prevent="openModel(model)"
                >{{model.model}}</a>
              </p>
            </div>
            <div class="pline-and-model-wrapper capitalize">
              <p>Shape: {{ model.shape_name }}</p>
              <p>Season: {{ model.season_name }}</p>
            </div>
            <div class="pline-and-model-wrapper capitalize">
              <p>Supplier: {{ model.supplier }}</p>
              <p>Margin N/D</p>
            </div>
            <div class="pline-and-model-wrapper capitalize">
              <p v-if="false">SKUs: 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "Model",
  props: ["log", "filtered"],
  data() {
    return {
      url_server: URL_SERVER,
      openInfo: false,
      isMakingRequestSearch: false,
      uneId: this.$route.params.id || "",
      pictureNotLoaded: false,
      isItAdmin: true
    };
  },
  created() {
    this.checkModel();
  },
  mounted() {
    this.isItAdmin = !window.isDesigner();
  },
  methods: {
    checkModel() {
      if (this.uneId == this.log.id) this.openInfo = true;
    },

    goToProductLine() {
      this.$router.push("/product-line");
    },

    moveToPage(page) {
      let self = this;

      self.isMakingRequestSearch = true;

      let data = {};
      data.page = page;

      if (this.filtered == 1) {
        axios
          .get(URL_SERVER + "/api/models/une/" + self.log.id + "/designBook", {
            params: data
          })
          .then(function(response) {
            if (response.data.data.length > 0) {
              self.log.models.data = response.data.data;
              self.log.models.meta.pagination = response.data.meta.pagination;
            } else {
              content.error_msg = "The data could not be found";
            }

            self.isMakingRequestSearch = false;
          })
          .catch(function(error) {
            self.isMakingRequestSearch = false;

            if (error.response.status == 500) {
              content.error_msg =
                error.response.data.message ||
                "The data could not be found, please try later";
            } else if (error.response.status == 422) {
              content.error_msg =
                self.processStrJson(error.response.data.errors) ||
                "The data could not be found, please try later";
            } else {
              content.error_msg =
                "The data could not be found, please try later";
            }
          });
      }

      if (this.filtered == 2) {
        axios
          .get(URL_SERVER + "/api/models/line/" + self.log.id + "/designBook", {
            params: data
          })
          .then(function(response) {
            if (response.data.data.length > 0) {
              self.log.models.data = response.data.data;
              self.log.models.meta.pagination = response.data.meta.pagination;
            } else {
              content.error_msg = "The data could not be found";
            }

            self.isMakingRequestSearch = false;
          })
          .catch(function(error) {
            self.isMakingRequestSearch = false;

            if (error.response.status == 500) {
              content.error_msg =
                error.response.data.message ||
                "The data could not be found, please try later";
            } else if (error.response.status == 422) {
              content.error_msg =
                self.processStrJson(error.response.data.errors) ||
                "The data could not be found, please try later";
            } else {
              content.error_msg =
                "The data could not be found, please try later";
            }
          });
      }
    },

    openModel(model) {
      let self = this;

      this.$parent.$emit("openModal", model);
    }
  },
  watch: {
    log() {
      this.checkModel();
    }
  }
};
</script>
