<template>
    <div class="create-users-form small-font">
        <div class="input-wrapper">
            <label for="name">Name</label>
            <input type="text" class="input-form" placeholder="Name" v-model="user.name">
        </div>
        <div class="input-wrapper">
            <label for="email">Email</label>
            <input type="email" @blur="checkEmail" @keyup="checkEmail" class="input-form" placeholder="Email" v-model="user.email">
        </div>
        <div class="input-wrapper">
            <label for="password">Password</label>
            <input type="password" @keyup="checkPasswords" @blur="checkPasswords" class="input-form" placeholder="Password" v-model="user.password">
        </div>
        <div class="input-wrapper">
            <label for="retype_password">Confirm password</label>
            <input type="password" @keyup="checkPasswords" @blur="checkPasswords" class="input-form" placeholder="Confirm password" v-model="user.retype_password">
        </div>
        <div class="align-bottom">
            <div class="input-wrapper">
                <label for="type_of_user">Type of user</label>
                <select name="type-of-user" id="type-of-user" class="select-type-user capitalize" v-model="user.role_id">
                    <option value="">Type of user</option>
                    <option v-for="(rol, index) in roles"
                        :key="index" :value="rol.id"
                        v-if="rol.name != 'provider' && rol.name != 'supplier'">{{rol.name}}</option>
                </select>
            </div>
            <div class="input-wrapper btn-save">
                <button v-show="!editingUser.isEditingTheUser" @click="saveUser" class="btn-blue uppercase" :disabled="!isNotAvailableToCreateUser">
                    <b>Save User</b>
                    <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestUser" aria-hidden="true"></i>
                </button>
                <button v-show="editingUser.isEditingTheUser" @click="updateUser" class="btn-blue uppercase" :disabled="!isNotAvailableToUpdateUser">
                    <b>Save User</b>
                    <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestUser" aria-hidden="true"></i>
                </button>
                <a href="#" title="Cancel / Clear" class="cancel-clear" @click.prevent="resetComponent">Cancel / Clear</a>
            </div>
        </div>
        <div class="input-wrapper msgs-user">
            <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
            <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name : "CreateUser",
        props: ["user", "editingUser"],
        data(){
            return {
                roles               : [],
                isMakingRequestUser : false,
                errorMsg            : "",
                successMsg          : ""
            }
        },
        created(){
            this.loadRoles()
        },
        methods: {

            checkEmail(){

                if(this.user.email.length > 5 && is.email(this.user.email))
                    this.errorMsg = ""
                else
                    this.errorMsg = "The email hasn't a valid format"
            },

            loadRoles(){

                let self = this

                axios.get(URL_SERVER+"/api/roles/list")
                    .then(function(response) {
                        self.roles = response.data.data
                    })
                    .catch(function(error) {
                        content.error_msg = "The roles could not be getted"
                    })
            },

            saveUser(){

                let self = this
                self.isMakingRequestUser = true
                self.successMsg = ""
                self.errorMsg   = ""

                axios.post(URL_SERVER+"/api/users", self.user)
                    .then(function(response) {
                        self.resetComponent()
                        self.isMakingRequestUser = false
                        self.successMsg = "The user was successfully created"
                        self.$parent.$emit('uploadUsers')
                    })
                    .catch(function(error) {
                        self.isMakingRequestUser = false

                        if(error.response.status == 500)
                        {
                            self.errorMsg = error.response.data.message || "The user couldn't be created, please try later"
                        }
                        else if(error.response.status == 422)
                        {
                            self.errorMsg  = window.processStrJson(error.response.data.errors) || "The user couldn't be created, please try later"
                        }
                        else
                        {
                            self.errorMsg  = "The user couldn't be created, please try later"
                        }
                    })
            },

            updateUser(){

                let self = this
                self.isMakingRequestUser = true
                self.successMsg = ""
                self.errorMsg   = ""

                let data = {}

                if(this.user.name != "")
                    data.name = this.user.name

                if(this.user.email != "")
                    data.email = this.user.email

                if(this.user.role_id != "")
                    data.role_id = this.user.role_id

                if(this.user.password != "")
                    data.password = this.user.password

                if(this.user.retype_password != "")
                    data.retype_password = this.user.retype_password

                axios.put(URL_SERVER+"/api/users/"+self.editingUser.idUserEditing, data)
                    .then(function(response) {

                        self.resetComponent()
                        self.editingUser.idUserEditing    = ""
                        self.isMakingRequestUser          = false
                        self.successMsg                   = "The user was successfully updated"
                        self.$parent.$emit('uploadUsers')
                    })
                    .catch(function(error) {

                        self.isMakingRequestUser = false

                        if(error.response.status == 500)
                        {
                            self.errorMsg = error.response.data.message || "The user couldn't be updated, please try later"
                        }
                        else if(error.response.status == 422)
                        {
                            self.errorMsg  = window.processStrJson(error.response.data.errors) || "The user couldn't be updated, please try later"
                        }
                        else
                        {
                            self.errorMsg  = "The user couldn't be updated, please try later"
                        }
                    })
            },

            resetComponent(){

                this.user.name                    =  ""
                this.user.email                   =  ""
                this.user.password                =  ""
                this.user.retype_password         =  ""
                this.user.role_id                 =  ""
                this.editingUser.isEditingTheUser =  false
            },

			checkPasswords(){

				if(this.user.password == this.user.retype_password && this.user.retype_password != "")
				{
                    if(this.errorMsg == "The passwords do not match")
					    this.errorMsg = ""
				}
				else
				{
                    if(this.user.password.length > 1 && this.user.retype_password.length > 1)
                        if(this.user.password != this.user.retype_password)
                            this.errorMsg = "The passwords do not match"
				}
			}
        },
        computed : {

            isNotAvailableToCreateUser(){

                if(this.isMakingRequestUser)
                    return false
                else
                    return (this.user.name != "" &&
                    this.user.email != "" && this.user.password != ""
                    && this.user.retype_password != "" && this.user.role_id != "" && this.errorMsg == "")
            },

            isNotAvailableToUpdateUser(){

                if(this.isMakingRequestUser)
                    return false
                else
                    return (this.user.name != "" &&
                    this.user.email != "" &&  this.user.role_id != "" && this.errorMsg == "")
            }
        },
        watch: {
            errorMsg(){
                if(this.errorMsg.length > 0)
                    this.successMsg = ""
            }
        }
    }
</script>
