<template>
  <tr>
    <td class="uppercase">{{ record.name }}</td>
    <td>{{ record.email }}</td>
    <td class="uppercase text-center">{{ record.role }}</td>
    <td class="text-center">
      <button
        v-if="record.name != 'Administrador' && record.name != 'Jonh Doe'"
        class="delete-lnk medium-font"
        title="Edit"
        @click="editLogUser"
      >
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
    </td>
    <td class="text-center">
      <button
        v-if="record.name != 'Administrador' && record.name != 'Jonh Doe'"
        class="delete-lnk medium-font"
        title="Remove"
        @click="deleteRecord"
      >
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
</template>

<script>
export default {
  name: "Record",
  props: ["index", "record", "user", "editingUser", "modal"],
  methods: {
    deleteRecord() {
      this.modal.user_id = this.record.id;
      this.modal.show = true;
    },

    editLogUser() {
      this.user.name = this.record.name;
      this.user.email = this.record.email;
      this.editingUser.idUserEditing = this.record.id;
      this.editingUser.isEditingTheUser = true;

      let role_id = "";
      switch (this.record.role) {
        case "admin":
          role_id = 1;
          break;
        case "designer":
          role_id = 3;
          break;
        case "buyers":
          role_id = 2;
          break;
      }

      this.user.role_id = role_id;

      let contentMod = document.querySelector(".content-mod");
      window.scrollTo(contentMod, contentMod.offsetTop, 400);
    }
  }
};
</script>