<template>
    <div>
        <h1 class="medium-font title-space">LOAD USERS</h1>
        <p>
            Enter the users by clicking on the button.
        </p>
        <a href="#" @click.prevent="downloadExample" title="Descargar Ejemplo" class="download-link"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download example</a>
        <div class="box box-margin file-space">
            <input type="file" name="file" id="file" @change="changeFile" class="inputfile load-file" accept="text/csv, .csv, .xls, .xlsx"/>
            <label for="file" class="size-file"><span v-if="pdfName != ''">{{pdfName}}</span><span v-else>No file hasn't been chosen yet.</span> <strong><img src="./dist/img/pdf-file.svg" alt="PDF"> CHOOSE EXCEL FILE</strong></label>
        </div><!-- box -->
        <div class="file-space">
            <button class="btn-blue uppercase" :disabled="!available" title="Cargar" @click="uploadFile">
                <i class="fa fa-arrow-up" v-show="!isMakingRequestFile" aria-hidden="true"></i>
                <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestFile" aria-hidden="true"></i>
                Load
            </button>
        </div>
        <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
        <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
    </div>
</template>

<script>
export default {
    name : "UploadUsers",
    data(){
      return {
        isMakingRequestFile : false,
        pdfName             : "",
        errorMsg            : "",
        successMsg          : "",
      }
    },
    methods : {

        downloadExample(){
            window.open(URL_SERVER+"/api/users/download", "_blank")
        },

       changeFile(e){

            this.pdfName = e.target.value.split( '\\' ).pop()
        },

        uploadFile(){

            let self = this
            self.isMakingRequestFile = true
            self.errorMsg            = ""
            self.successMsg          = ""

            let data = new FormData();

            var inputFile = document.getElementById("file")
            var file = inputFile.files[0]
			data.append('excel', file)

            axios.post(URL_SERVER+"/api/users/import", data)
                .then(function(response) {

                    self.isMakingRequestFile = false
                    self.successMsg = "The file was uploaded successfully"
                    self.$parent.$emit('uploadUsers')
                })
                .catch(function(error) {

                    if(error.response.status == 500)
                    {
                        self.errorMsg = error.response.data.message || "The file couldn't be uploaded, please try later";
                    }
                    else if(error.response.status == 422)
                    {
                        self.errorMsg  = window.processStrJson(error.response.data.errors) || "The file couldn't be uploaded, please try later";
                    }
                    else
                    {
                        self.errorMsg  = "The file couldn't be uploaded, please try later";
                    }

                    self.isMakingRequestFile = false
                })
        }
    },
    computed: {

        available(){
            if(this.isMakingRequestFile)
                return false
            else
                return (this.pdfName != "")
        },
    }
}
</script>
