<template>
    <div class="content-mod">
		<div v-if="!isThePageLoaded" class="text-center">
			<h5 class="small-font">LOOADING <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></h5>
		</div>
		<div v-else>
            <div class="title-module title-width-buttons design-max-width">
                <h1 class="medium-font">USERS</h1>
            </div>
            <div class="module-content-wrapper design-max-width">
                <create-user :user="user" :editingUser="editingUser"></create-user>
            </div>
            <div class="design-max-width top-overload-user">
                <upload-users></upload-users>
                <div class="top-options margin-top-user">
                    <div class="input-search-wrapper">
                        <input type="text" v-model="search_config.text_to_search" class="smallest-font" placeholder="Search">
                        <div>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="filter-section more-filter-space">
                        <button class="btn-filter" title="Filtrar" :disbaled="availableToSearch" @click="searchValues">FILTRAR</button>
                    </div>
                </div>
                <div class="result-wrapper big-table">
                    <div class="pagination-wrapper">
                        <div class="load-left">
                            <div class="pagination" v-if="paginationData.total_pages > 1">
                                <div class="cover-pagination">
                                    <button @click.prevent="moveToPage(1)" title="First page" class="page link">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </button>
                                    <button v-for="(page, index) in paginationData.total_pages"
                                        :key="index"
                                        @click.prevent="moveToPage(index+1)"
                                        v-if="index+1 >= paginationData.current_page - 2
                                        && index+1 <= paginationData.current_page + 4"
                                        :disabled="paginationData.current_page == index+1"
                                        :title="'Page '+(index+1)" class="page link">
                                        {{index+1}}
                                    </button>
                                    <button @click.prevent="moveToPage(paginationData.total_pages)" title="Last page" class="page link">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div v-show="isMakingRequestSearch" class="search-pagination">
                                <h6 class="small-font">Loading <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></h6>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <table class="schedule-table adaptative-table users-table">
                            <thead class="smallest-font">
                                <tr>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>TYPE</th>
                                    <th>EDIT</th>
                                    <th>REMOVE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <log v-for="(record, index) in filteredData" :key="index"
                                    :record="record" :index="index" :user="user"
                                    :editingUser="editingUser" :modal="modal"></log>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <modal-delete-user :modal="modal"></modal-delete-user>
		</div>
    </div>
</template>

<script>

import Log from './Log.vue'
import CreateUser from './CreateUser.vue'
import UploadUsers from './UploadUsers.vue'
import ModalDeleteUser from './../Includes/ModalDeleteUser.vue'

export default {
    name : "Users",
    components: {
        Log,
        CreateUser,
        UploadUsers,
        ModalDeleteUser
    },
    data(){
        return {
            isThePageLoaded       : false,
            errorMsg              : "",
            successMsg            : "",
            isMakingRequestFile   : false,
            isMakingRequestSearch : false,
            isMakingRequest       : false,
            pdfName               : "",
            records               : [],
		    pagination            : {},
            user_id               : localStorage.getItem("id"),
            zone                  : "",
            search_config       : {
                data_response  : [],
                pagination     : {},
                text_to_search : ""
            },
            user : {
                name            : "",
                email           : "",
                password        : "",
                retype_password : "",
                role_id          : ""
            },
            editingUser: {
                isEditingTheUser : false,
                idUserEditing    : ""
            },
            modal : {
                show                  : false,
                isMakingRequestDelete : false,
                user_id               : "",
                errorMsg              : "",
                nameToDelete          : "user"
            }
        }
    },
    created(){
        this.loadUsers()
    },
    mounted(){

        let self = this

        this.$on('uploadUsers', function(){
            self.loadUsers()
        })

        this.$on('deleteUser', function(){
            self.deleteUser()
        })
    },
    methods: {

        loadUsers(){

            let self = this

            axios.get(URL_SERVER+"/api/users")
                .then(function(response) {
                    self.records         = response.data.data
                    self.pagination      = response.data.meta.pagination
                    self.isThePageLoaded = true
                })
                .catch(function(error){

                    self.isThePageLoaded = true

                    if(error.response.status == 500)
                    {
                        content.error_msg = error.response.data.message || "The users couldn't be loaded"
                    }
                    else if(error.response.status == 422)
                    {
                        content.error_msg  = window.processStrJson(error.response.data.errors) || "The users couldn't be loaded"
                    }
                    else
                    {
                        content.error_msg  = "The users couldn't be loaded"
                    }
                })
        },

        deleteUser(){

            let self = this

            axios.delete(URL_SERVER+"/api/users/"+self.modal.user_id)
                .then(function(response) {

                    self.modal.show                  = false
                    self.modal.isMakingRequestDelete = false
                    self.loadUsers()
                })
                .catch(function(error){

                    self.modal.isMakingRequestDelete = false
                    self.isThePageLoaded = true

                    if(error.response.status == 500)
                    {
                        self.modal.errorMsg = error.response.data.message || "The user couldn't be remove"
                    }
                    else if(error.response.status == 422)
                    {
                        self.modal.errorMsg  = window.processStrJson(error.response.data.errors) || "The user couldn't be remove"
                    }
                    else
                    {
                        self.modal.errorMsg  = "The user couldn't be remove"
                    }
                })
        },

        moveToPage(page){

            let self = this

			self.isMakingRequestSearch = true

            let data = {}
            data.page = page

            if(self.search_config.text_to_search != "")
                data.search  = self.search_config.text_to_search

            axios.get(URL_SERVER+'/api/users', {
                    params : data
                })
                .then(function (response) {

                    if(response.status == 200) {

                        if(response.data.data.length > 0) {

                            self.search_config.data_response = response.data.data
                            self.search_config.pagination    = response.data.meta.pagination
                        }
                        else
                        {
                            content.error_msg = "The users could not be found"
                        }
                    }

                    self.isMakingRequestSearch = false
                })
                .catch(function (error) {

                    self.isMakingRequestSearch = false

                    if(error.response.status == 500)
                    {
                        content.error_msg = error.response.data.message || "The users could not be found, please try later"
                    }
                    else if(error.response.status == 422)
                    {
                        content.error_msg  = self.processStrJson(error.response.data.errors) || "The users could not be found, please try later"
                    }
                    else
                    {
                        content.error_msg  = "The users could not be found, please try later"
                    }
                })
        },

        searchValues(){

            let self = this

            self.isMakingRequestSearch = true

            let data = {}

            if(this.search_config.text_to_search != "")
                data.search = this.search_config.text_to_search

            axios.get(URL_SERVER+"/api/users", {
                    params : data
                })
                .then(function(response) {

                    if(response.data.data.length > 0)
                    {
                        self.search_config.data_response = response.data.data
                        self.search_config.pagination    = response.data.meta.pagination
                    }
                    else
                    {
                        content.error_msg = "The users could not be found"
                    }

                    self.isMakingRequestSearch = false
                })
                .catch(function(error){

                    self.isMakingRequestSearch = false

                    if(error.response.status == 500)
                    {
                        content.error_msg = error.response.data.message || "The users could not be found, please try later"
                    }
                    else if(error.response.status == 422)
                    {
                        content.error_msg  = self.processStrJson(error.response.data.errors) || "The users could not be found, please try later"
                    }
                    else
                    {
                        content.error_msg  = "The users could not be found, please try later"
                    }
                })
        }
    },
    computed: {

        filteredData(){

            if(this.search_config.data_response.length > 0)
            {
                return this.search_config.data_response
            }
            else
            {
                return this.records
            }
        },

        paginationData(){

            if(this.search_config.data_response.length > 0)
            {
                return this.search_config.pagination
            }
            else
            {
                return this.pagination
            }
        },

        availableToSearch(){

            if(this.isMakingRequestSearch)
                return false
            else
                return this.search_config.text_to_search != ""
        }
    }
}
</script>

