<template>
  <div v-cloak class="header-wrapper">
    <div class="relative">
      <header>
        <div class="menu-logo">
          <div class="menu" @click.prevent="openMenu">
            <a class="nav-toggle" href="#">
              <span></span>
            </a>
          </div>
          <!-- menu -->
          <div class="logotype">
            <img src="/dist/img/logo.png" :alt="app_name" class="logo-header">
          </div>
        </div>
        <!-- <div style="margin-right: 100px">Role: {{$store.getters.getUserInfo}}</div> -->
      </header>
      <div
        class="error-bar text-center small-font"
        v-show="error_msg.length > 0"
        v-html="error_msg"
      ></div>
      <!-- error-bar -->
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderContent",
  props: ["error_msg"],
  data() {
    return {
      app_name: APP_NAME
    };
  },
  mounted() {
    this.registerSW();
    console.log(readAllData("user"));
  },
  methods: {
    openMenu() {
      content.openSidebar();
    },

    registerSW() {
      if ("serviceWorker" in navigator && "PushManager" in window) {
        console.log("Supports SW & PM");
        navigator.serviceWorker
          .register("./sw.js", { scope: "./" })
          .then(function(registration) {
            console.log("Service Worker Registered");
          })
          .catch(function(error) {
            console.log("Serive Worker Failed", error);
          });
      }
    }
  }
};
</script>