<template>
	<transition name="fade" mode="out-in">
		<div class="modal" v-show="modal.show">
			<div class="modal-wrapper">
				<div class="modal-container text-center">
					<div class="centered-modal">
						<h3 class="medium-font top-title-pickup">Are you sure that you want to delete this {{modal.nameToDelete}}?</h3>
						<div class="modal-buttons">
							<button class="btn-blue medium-font" title="Agree" @click="deleteUser" :disabled="modal.isMakingRequestDelete">
								AGREE
								<i class="fa fa-spinner fa-pulse" v-show="modal.isMakingRequestDelete" aria-hidden="true"></i>
							</button>
							<a href="#" @click.prevent="modal.show = false" title="Cancel" class="cancel-lnk medium-font">CANCEL</a>
						</div>
						<span v-show="modal.errorMsg.length > 0" class="error-msg small-font" v-html="modal.errorMsg"></span>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>

	export default {
		name: "ModalDeleteUser",
		props: ['modal'],
		methods: {

			deleteUser(){

				this.modal.errorMsg = ""

				this.modal.isMakingRequestDelete = true
				this.$parent.$emit('deleteUser');
			}
		},
		watch : {
			"modal.show"(){
				if(!this.modal.show)
					this.modal.errorMsg = ""
			}
		}
	}
</script>