<template>
  <div class="sidebar">
    <ul class="menu-options">
      <li>
        <router-link to="/design-dashboard" title="Design Dashboard" class="medium-font">
          <img src="/dist/img/design-dashboard.svg" alt="Design Dashboard">
          Design Dashboard
        </router-link>
      </li>
      <li v-if="itIsAdmin">
        <router-link to="/design-plan/create" title="Design Plan" class="medium-font">
          <img src="/dist/img/design-plan.svg" alt="Design Plan">
          Design Plan
        </router-link>
      </li>
      <li v-if="!itIsAdmin">
        <router-link to="/product-line" title="Product Line" class="medium-font">
          <img src="/dist/img/product-line.svg" alt="Product Line">
          Product Line
        </router-link>
      </li>
      <li>
        <router-link to="/design-book" title="Design Book" class="medium-font">
          <img src="/dist/img/design-book.svg" alt="Design Book">
          Design Book
        </router-link>
      </li>
      <li v-if="itIsAdmin">
        <router-link to="/users" title="Users" class="medium-font">
          <img src="/dist/img/users.svg" alt="Users">
          Users
        </router-link>
      </li>
      <li v-if="itIsAdmin">
        <router-link to="/suppliers" title="Suppliers" class="medium-font">
          <img src="/dist/img/suppliers.svg" alt="Suppliers">
          Suppliers
        </router-link>
      </li>
      <li>
        <a href="#" @click.prevent="logout" title="Logout" class="medium-font">
          <img src="/dist/img/logout.svg" alt="Logout">
          Logout
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "SidebarContent",
  data() {
    return {
      itIsAdmin: true
    };
  },
  mounted() {
    this.itIsAdmin = !window.isDesigner();
  },
  methods: {
    logout() {
      localStorage.removeItem("id");
      localStorage.removeItem("identificator");
      localStorage.removeItem("role");
      localStorage.removeItem("name");
      this.$auth.destroyToken();
      this.$router.push("login");
    }
  }
};
</script>

<style scoped>
.router-link-active {
  border-left: 2px solid white;
}
</style>
