<template>
    <div class="create-supplier-sidebar small-font">
        <div class="input-wrapper">
            <label for="Name">Name</label>
            <input type="text" class="input-form" placeholder="Name" v-model="user.name">
        </div>
        <div class="input-wrapper">
            <label for="Email">Email</label>
            <input type="text" @keyup="checkEmail" class="input-form" placeholder="Email" v-model="user.email">
        </div>
        <div class="input-wrapper">
            <label for="Phone">Phone</label>
            <input type="text" class="input-form" placeholder="Phone" v-model="user.phone">
        </div>
        <div class="input-wrapper">
            <label for="Password">Password</label>
            <input type="password" @keyup="checkPasswords" class="input-form" placeholder="Password" v-model="user.password">
        </div>
        <div class="input-wrapper">
            <label for="Confirm password">Confirm password</label>
            <input type="password" @keyup="checkPasswords" class="input-form" placeholder="Confirm password" v-model="user.retype_password">
        </div>
        <div class="input-wrapper">
            <button v-show="!userMode.editing" @click="saveUser" class="btn-blue uppercase" :disabled="!isNotAvailableToCreateUser">
                <b>Save Supplier</b>
                <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestUser" aria-hidden="true"></i>
            </button>
            <button v-show="userMode.editing" @click="updateUser" class="btn-blue uppercase" :disabled="!isNotAvailableToUpdateUser">
                <b>Save Supplier</b>
                <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestUser" aria-hidden="true"></i>
            </button>
        </div>
        <div class="input-wrapper msgs-user">
            <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
            <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
        </div>
    </div>
</template>

<script>
export default {
    name : "CreateUserSupplier",
    props: ["user", "userMode", "newUserCreate"],
    data(){
        return {
            errorMsg            : "",
            successMsg          : "",
            supplierId          : this.$route.params.id,
            isMakingRequestUser : false
        }
    },
    methods: {

        checkEmail(){

            if(this.user.email.length > 5 && is.email(this.user.email))
                this.errorMsg = ""
            else
                this.errorMsg = "The email hasn't a valid format"
        },

        resetComponent(){

            this.user.name            =  ""
            this.user.email           =  ""
            this.user.phone           =  ""
            this.user.password        =  ""
            this.user.retype_password =  ""
        },

        checkPasswords(){

            if(this.user.password == this.user.retype_password && this.user.retype_password != "")
            {
                if(this.errorMsg == "The passwords do not match")
                    this.errorMsg = ""
            }
            else
            {
                if(this.user.password.length > 1 && this.user.retype_password.length > 1)
                    if(this.user.password != this.user.retype_password)
                        this.errorMsg = "The passwords do not match"
            }
        },

        saveUser(){

            let self = this

            self.isMakingRequestUser = true
            self.errorMsg            = ""
            self.successMsg          = ""

            axios.post(URL_SERVER+"/api/provider/"+self.supplierId+"/users", self.user)
                .then(function(response) {
                    self.resetComponent()
                    self.isMakingRequestUser = false
                    self.successMsg = "The user was successfully created"
                    self.$parent.$emit('loadSuppliers')
                })
                .catch(function(error) {
                    self.isMakingRequestUser = false

                    if(error.response.status == 500)
                    {
                        content.error_msg = error.response.data.message || "The user couldn't be created, please try later";
                    }
                    else if(error.response.status == 422)
                    {
                        content.error_msg  = window.processStrJson(error.response.data.errors) || "The user couldn't be created, please try later";
                    }
                    else
                    {
                        content.error_msg  = "The user couldn't be created, please try later";
                    }
                })
        },

        updateUser(){

            let self = this

            self.isMakingRequestUser = true
            self.errorMsg            = ""
            self.successMsg          = ""

            axios.put(URL_SERVER+"/api/provider/user/"+self.userMode.userId, self.user)
                .then(function(response) {

                    self.resetComponent()
                    self.isMakingRequestUser = false
                    self.userMode.editing    = false
                    self.userMode.userId     = ""
                    self.successMsg          = "The user was successfully updated"
                    self.$parent.$emit('loadSuppliers')
                })
                .catch(function(error) {

                    self.isMakingRequestUser = false

                    if(error.response.status == 500)
                    {
                        content.error_msg = error.response.data.message || "The user couldn't be updated, please try later";
                    }
                    else if(error.response.status == 422)
                    {
                        content.error_msg  = window.processStrJson(error.response.data.errors) || "The user couldn't be updated, please try later";
                    }
                    else
                    {
                        content.error_msg  = "The user couldn't be updated, please try later";
                    }
                })
        }
    },
    computed: {
        isNotAvailableToCreateUser(){
          return true
        },

        isNotAvailableToCreateUser(){

            if(this.isMakingRequestUser)
                return false
            else
                return (this.user.name != "" &&
                this.user.email != "" && this.user.phone != "" && this.user.password != ""
                && this.user.retype_password != "" && this.user.role_id != "" && this.errorMsg == "")
        },

        isNotAvailableToUpdateUser(){

            if(this.isMakingRequestUser)
                return false
            else
                return (this.user.name != "" &&
                this.user.email != "" && this.user.phone != "" && this.user.role_id != "" && this.errorMsg == "")
        },
    },
    watch : {
        errorMsg(){
            if(this.errorMsg.length > 0)
                this.successMsg = ""
        },

        "newUserCreate.status"(){
            if(this.newUsercreate.status)
                this.supplierId = this.$route.params.id
        }
    }
}
</script>
