<template>
    <div class="create-users-form small-font">
        <div class="input-wrapper input-three">
            <label for="Comercial name">Comercial name</label>
            <input type="text" class="input-form" placeholder="Comercial name" v-model="supplier.name">
        </div>
        <div class="input-wrapper input-three">
            <label for="Social reason">Social reason</label>
            <input type="text" class="input-form" placeholder="Social reason" v-model="supplier.reason_social">
        </div>
        <div class="input-wrapper input-three">
            <label for="RFC">RFC</label>
            <input type="text" class="input-form" placeholder="RFC" v-model="supplier.rfc">
        </div>
        <div class="input-wrapper input-three">
            <label for="Street">Street</label>
            <input type="text" class="input-form" placeholder="Street" v-model="supplier.street">
        </div>
        <div class="input-wrapper input-three fields-inside">
            <div class="input-wrapper">
                <label for="Ext num">Ext num</label>
                <input type="text" class="input-form" placeholder="Ext Num" v-model="supplier.ext">
            </div>
            <div class="input-wrapper">
                <label for="Int num">Int num</label>
                <input type="text" class="input-form" placeholder="Int Num" v-model="supplier.int">
            </div>
        </div>
        <div class="input-wrapper input-three">
            <label for="Neighborhood">Neighborhood</label>
            <input type="text" class="input-form" placeholder="Neighborhood" v-model="supplier.neighborhood">
        </div>
        <div class="input-wrapper input-three">
            <label for="City">City</label>
            <input type="text" class="input-form" placeholder="City" v-model="supplier.city">
        </div>
        <div class="input-wrapper input-three">
            <label for="State">State</label>
            <input type="text" class="input-form" placeholder="State" v-model="supplier.state">
        </div>
        <div class="input-wrapper input-three">
            <label for="Country">Country</label>
            <input type="text" class="input-form" placeholder="Country" v-model="supplier.country">
        </div>
        <div class="align-bottom">
            <div class="input-wrapper input-three">
                <label for="Zipcode">Zipcode</label>
                <input type="text" class="input-form" placeholder="Zipcode" v-model="supplier.zip_code" maxlength="5">
            </div>
            <div class="input-wrapper input-three">
                <label for="ID supplier from SAP">ID supplier from SAP</label>
                <input type="text" class="input-form" placeholder="ID supplier from SAP" v-model="supplier.id_sap">
            </div>
            <div class="input-wrapper wrapper-corner-right input-three">
                <button v-show="supplierId == 'create'" @click="saveSupplier" class="btn-blue uppercase" :disabled="!isNotAvailableToCreateUser">
                    <b>Save Supplier</b>
                    <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestSupplier" aria-hidden="true"></i>
                </button>
                <button v-show="supplierId != 'create'" @click="updateSupplier" class="btn-blue uppercase" :disabled="!isNotAvailableToCreateUser">
                    <b>Save Supplier</b>
                    <i class="fa fa-spinner fa-pulse" v-show="isMakingRequestSupplier" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="input-wrapper msgs-user">
            <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
            <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name : "CreateSupplier",
        props: ["supplier", "newUserCreate"],
        data(){
            return {
                roles                   : [],
                rol                     : "1",
                errorMsg                : "",
                successMsg              : "",
                isMakingRequestSupplier : false,
                supplierId              : this.$route.params.id
            }
        },
        methods: {

            saveSupplier(){

                let self = this

                self.isMakingRequestSupplier = true
                self.errorMsg                = ""
                self.successMsg              = ""

                axios.post(URL_SERVER+"/api/providers", self.supplier)
                    .then(function(response) {

                        self.isMakingRequestSupplier = false
                        self.successMsg = "The supplier was successfully created"
                        self.newUserCreate.status = true
                        self.$router.push("/suppliers/"+response.data.data.id)
                        self.supplierId = response.data.data.id
                    })
                    .catch(function(error) {

                        self.isMakingRequestSupplier = false

                        if(error.response.status == 500)
                        {
                            content.error_msg = error.response.data.message || "The supplier couldn't be created, please try later";
                        }
                        else if(error.response.status == 422)
                        {
                            content.error_msg  = window.processStrJson(error.response.data.errors) || "The supplier couldn't be created, please try later";
                        }
                        else
                        {
                            content.error_msg  = "The supplier couldn't be created, please try later";
                        }
                    })
            },

            updateSupplier(){

                let self = this

                self.isMakingRequestSupplier = true
                self.errorMsg                = ""
                self.successMsg              = ""

                axios.put(URL_SERVER+"/api/providers/"+self.supplierId, self.supplier)
                    .then(function(response) {

                        self.isMakingRequestSupplier = false
                        self.successMsg = "The supplier was successfully updated"
                    })
                    .catch(function(error) {

                        self.isMakingRequestSupplier = false

                        if(error.response.status == 500)
                        {
                            content.error_msg = error.response.data.message || "The supplier couldn't be updated, please try later";
                        }
                        else if(error.response.status == 422)
                        {
                            content.error_msg  = window.processStrJson(error.response.data.errors) || "The supplier couldn't be updated, please try later";
                        }
                        else
                        {
                            content.error_msg  = "The supplier couldn't be created, please try later";
                        }
                    })
            },

            resetComponent(){

                this.supplier.name           =  ""
                this.supplier.reason_social  =  ""
                this.supplier.rfc            =  ""
                this.supplier.street         =  ""
                this.supplier.ext            =  ""
                this.supplier.int            =  ""
                this.supplier.city           =  ""
                this.supplier.state          =  ""
                this.supplier.country        =  ""
                this.supplier.neighborhood   =  ""
                this.supplier.zip_code       =  ""
                this.supplier.id_sap         =  ""
            }
        },
        computed : {

            isNotAvailableToCreateUser(){

                if(this.isMakingRequestSupplier)
                    return false
                else
                    return (this.supplier.name != "" &&
                    this.supplier.reason_social != "" && this.supplier.rfc != ""
                    && this.supplier.street != "" && this.supplier.ext != "" && this.supplier.int != ""
                    && this.supplier.city != "" && this.supplier.country != "" && this.supplier.neighborhood != ""
                    && this.supplier.state != "" && this.supplier.zip_code != "" && this.supplier.id_sap != "" && this.errorMsg == "")
            }
        },

        watch : {
            errorMsg(){
                if(this.errorMsg.length > 0)
                    this.successMsg = ""
            }
        }
    }
</script>
