<template>
	<tr>
		<td class="uppercase">
			<router-link :to="{path: 'suppliers/'+record.id}" class="supplier-name-lnk" :title="record.name">{{ record.name }}</router-link>
		</td>
		<td>
			{{ record.reason_social }}
		</td>
		<td>
			{{ record.rfc }}
		</td>
		<td class="text-center">
			<button v-if="record.name != 'Jonh Doe provedor'" class="delete-lnk medium-font" title="Remove" @click="openDeleteModal">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</td>
	</tr>
</template>

<script>

	export default {
		name: "Record",
		props: ['index', 'record', "modal"],
		methods: {

			openDeleteModal(){

				this.modal.user_id = this.record.id
				this.modal.show    = true
			}
		}
	}
</script>