<template>
	<div class="content-mod">
		<div v-if="!isThePageLoaded" class="text-center">
			<h5 class="small-font">LOADING <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></h5>
		</div>
		<div v-else>
			<div class="title-module title-width-buttons design-max-width">
				<h1 class="medium-font">CREATE NEW SUPPLIER</h1>
			</div>
			<div class="module-content-wrapper design-max-width">
				<create-supplier :supplier="supplier" :newUserCreate="newUserCreate"></create-supplier>
			</div>
			<div class="design-max-width top-overload-user" v-if="supplierId != 'create' || newUserCreate.status">
				<h1 class="medium-font bottom-subtitle">CREATE USERS</h1>
				<div class="resume-suppliers-wrapper">
					<create-user :user="user" :userMode="userMode" :newUserCreate="newUserCreate"></create-user>
					<div class="users-suppliers-wrapper">
						<user-card v-for="(record, index) in records" :key="index"
						:record="record" :user="user" :userMode="userMode"
						:modal="modal"></user-card>
					</div>
				</div>
			</div>
		</div>
		<modal-delete-user :modal="modal"></modal-delete-user>
	</div>
</template>

<script>

	import CreateSupplier from "./CreateSupplier.vue"
	import CreateUser from "./CreateUser.vue"
	import UserCard from "./UserCard.vue"
	import ModalDeleteUser from './../Includes/ModalDeleteUser.vue'

	export default {
		name : "Suppliers",
		components: {
			CreateSupplier,
			CreateUser,
			UserCard,
			ModalDeleteUser
		},
		data(){
			return  {
				isThePageLoaded : false,
				user : {
					name            : "",
					email           : "",
					phone           : "",
					password        : "",
					retype_password : "",
					role_id         : "4"
				},
				supplier : {
                    name          : "",
                    reason_social : "",
                    rfc           : "",
                    street        : "",
                    ext           : "",
                    int           : "",
                    neighborhood  : "",
                    city          : "",
                    state         : "",
                    country       : "",
                    zip_code      : "",
                    id_sap        : ""
                },
				isMakingRequest : false,
				errorMsg        : "",
				successMsg      : "",
				records         : [],
				supplierId      : this.$route.params.id,
				userMode : {
					editing : false,
					userId  : ""
				},
				newUserCreate : {
					status : false
				},
				modal : {
                    show                  : false,
                    isMakingRequestDelete : false,
                    user_id               : "",
                    errorMsg              : "",
                    nameToDelete          : "user"
                }
			}
		},
		mounted(){

			let self = this

			this.$on('loadSuppliers', function(){
				self.loadSuppliers()
			})

			 this.$on('deleteUser', function(){
                self.deleteUserSupplier()
            })

			if(this.supplierId != "create")
				this.loadSuppliers()
			else
				self.isThePageLoaded = true
		},
		methods: {

			deleteUserSupplier(){

                let self = this

                axios.delete(URL_SERVER+"/api/provider/user/"+self.modal.user_id)
                    .then(function(response) {

                        self.modal.show                  = false
                        self.modal.isMakingRequestDelete = false
                        self.loadSuppliers()
                    })
                    .catch(function(error){

                        self.modal.isMakingRequestDelete = false
                        self.isThePageLoaded = true

                        if(error.response.status == 500)
                        {
                            self.modal.errorMsg = error.response.data.message || "The user couldn't be remove";
                        }
                        else if(error.response.status == 422)
                        {
                            self.modal.errorMsg  = self.processStrJson(error.response.data.errors) || "The user couldn't be remove";
                        }
                        else
                        {
                            self.modal.errorMsg  = "The user couldn't be remove";
                        }
                    })
            },

			loadSuppliers(){

				let self = this

				axios.get(URL_SERVER+"/api/providers/"+self.supplierId+"/edit")
					.then(function(response) {

						self.supplier.name          = response.data.name
						self.supplier.reason_social = response.data.reason_social
						self.supplier.rfc           = response.data.rfc
						self.supplier.street        = response.data.street
						self.supplier.ext           = response.data.ext
						self.supplier.int           = response.data.int
						self.supplier.neighborhood  = response.data.neighborhood
						self.supplier.city          = response.data.city
						self.supplier.state         = response.data.state
						self.supplier.country       = response.data.country
						self.supplier.zip_code      = response.data.zip_code
						self.supplier.id_sap        = response.data.id_sap

						self.records = response.data.user

						self.isThePageLoaded = true
					})
					.catch(function(error) {

						self.isThePageLoaded = true

						if(error.response.status == 500)
						{
							content.errorMsg = error.response.data.message || "The users couldn't be loadded";
						}
						else if(error.response.status == 422)
						{
							content.errorMsg  = self.processStrJson(error.response.data.errors) || "The users couldn't be loadded";
						}
						else
						{
							content.errorMsg  = "The users couldn't be loadded";
						}

						self.$router.push("/suppliers")
					})
			}
		},
		computed: {

			isNotAvailableToCreateUser(){
				if(this.isMakingRequest)
					return false
				else
					return (this.user.name != "" &&
						this.user.email != "" && this.user.password != ""
						&& this.user.retype_password != "" && this.errorMsg == "")
			}
		},
		watch : {
			"newUserCreate.status"(){
				if(this.newUserCreate.status)
					this.supplierId = this.$route.params.id
			}
		}
	}
</script>
