<template>

    <div class="user-card">
        <div class="top-card-options">
            <a href="#" @click.prevent="editUser">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="#" @click.prevent="deleteUser">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <label for="name smallest-font">Name:</label>
        <h2 class="uppercase name-card small-font">{{ record.name }}</h2>
        <label for="email smallest-font">Email:</label>
        <span class="data-card">{{ record.email }}</span>
        <label for="phone smallest-font">Phone:</label>
        <span class="data-card">{{ record.phone }}</span>
    </div>
</template>

<script>
export default {
    name : "UserCard",
    props: ["record", "user", "userMode", "modal"],
    methods : {

        editUser(){
            this.user.name            = this.record.name
            this.user.email           = this.record.email
            this.user.phone           = this.record.phone
            this.user.password        = ""
            this.user.retype_password = ""
            this.userMode.userId      = this.record.uuid

            this.userMode.editing = true
        },

        deleteUser(){

            this.modal.user_id = this.record.uuid
            this.nameToDelete = "user"
            this.modal.show = true
        }
    }
}
</script>

