<template>
  <div class="content-mod">
    <div v-if="!isThePageLoaded" class="text-center">
      <h5 class="small-font">
        LOADING
        <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
      </h5>
    </div>
    <div v-else>
      <div class="title-module design-max-width">
        <h1 class="medium-font">ADD OR EDIT DESIGN PLAN + OBJETIVES</h1>
        <br>
        <div class="year-buttons add-edit" style="width: 100%;">
          <div class="years-wrapper" style="width: 100%;">
            <label for="years" class="small-font">Year:</label>
            <vue-select class="small-font" v-model="year" label="label" :options="years"></vue-select>
          </div>
          <div class="years-wrapper" style="width: 100%;">
            <label for="season" class="small-font">Season:</label>
            <vue-select
              class="small-font uppercase"
              v-model="season_id"
              label="name"
              :options="seasons"
              placeholder="SEASON"
            ></vue-select>
          </div>
        </div>
      </div>
      <div class="designer-name design-max-width">
        <div class="input-wrapper">
          <label>Designer:</label>
          <div
            class="rectangle-detail uppercase double-border-rectangle"
            @click="isEditingDesigner = true"
            v-show="!isEditingDesigner"
          >
            <span>JUAN MANUEL Pérez</span>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
          <div class="designer-input-wrapper">
            <vue-select
              class="uppercase select-full-width"
              v-model="user_id"
              label="name"
              :options="designers"
              placeholder="Designer"
            ></vue-select>
            <!-- <input type="text" class="input-percent input-text uppercase" v-show="isEditingDesigner" v-model="designerNameToSearch" @keyup="searchDesigner">
                    <ul class="autosearch-list" v-show="posibleResults.length > 0">
                        <li class="item-result">
                            <a href="#" @click.prevent="chooseDesigner">Item text</a>
                        </li>
            </ul>-->
          </div>
        </div>
      </div>
      <div class="category-wrapper bg-medium-gray small-font design-max-width">
        <div class="category-title-wrapper uppercase">
          <div class="header-section big-space border-right-white">
            <vue-select
              class="uppercase select-full-width"
              v-model="une_id"
              label="name"
              :options="unes"
              placeholder="UNE"
            ></vue-select>
          </div>
          <div class="header-section">
            <span>Status:</span>
            <div class="ind-percent-wrapper">
              <div
                class="circle-indicators"
                :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }"
              ></div>
              <span>
                <b>{{ statusPercent }}%</b>
              </span>
            </div>
          </div>
          <div class="header-section">
            <span>MODELS:</span>
            <div class="ind-percent-wrapper">
              <div
                class="circle-indicators"
                :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }"
              ></div>
              <span>
                <b>{{ modelNumerator }}/{{ modelDenominator }}</b>
              </span>
            </div>
          </div>
          <div class="header-section">
            <span>P. Lines:</span>
            <div class="ind-percent-wrapper">
              <div
                class="circle-indicators"
                :class="{ 'red-ind-circle' : plinePercent < 100, 'green-ind-circle' : plinePercent >= 100 }"
              ></div>
              <span>
                <b>{{ plineNumerator }}/{{ plineDenominator }}</b>
              </span>
            </div>
          </div>
          <div class="header-section">
            <span>OMU:</span>
            <div class="ind-percent-wrapper">
              <div class="circle-indicators red-ind-circle"></div>
              <span>
                <b>0%</b>
              </span>
            </div>
          </div>
          <div class="header-section big-space"></div>
        </div>
      </div>
      <div class="design-max-width">
        <h1 class="medium-font">TRENDS</h1>
        <trend
          v-for="(trend, index) in generalTrends"
          :key="index"
          :index="index"
          :trend="trend"
          :trends="trends"
          :trendsQty="generalTrends.length"
        ></trend>
        <div class="add-new-wrapper design-max-width">
          <div class="add-btn-wrapper">
            <button title="Add trend" @click="addNewTrend" class="btn-green">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Trend
            </button>
          </div>
        </div>
      </div>
      <div class="color-mixer-add-edit design-max-width">
        <h1 class="medium-font">COLORS</h1>
        <color
          v-for="(color, index) in generalColors"
          :key="index"
          :index="index"
          :color="color"
          :colors="colors"
          :colorsQty="generalColors.length"
        ></color>
        <div class="add-new-wrapper design-max-width">
          <div class="add-btn-wrapper">
            <button title="Add Color" @click="addNewColor" class="btn-green">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Color
            </button>
          </div>
        </div>
      </div>
      <div class="shape-mixe-add-edit-wrapper design-max-width">
        <h1 class="medium-font">SHAPES</h1>
        <shape
          v-for="(shape, index) in generalShapes"
          :key="index"
          :index="index"
          :shape="shape"
          :shapes="shapes"
          :shapesQty="generalShapes.length"
        ></shape>
        <div class="add-new-wrapper design-max-width">
          <div class="add-btn-wrapper">
            <button title="Add shape" @click="addNewShape" class="btn-green">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add shape
            </button>
          </div>
        </div>
      </div>
      <hr class="big-separator design-max-width">
      <family
        v-for="(family, index) in generalFamilies"
        :key="index"
        :index="index"
        :family="family"
        :families="families"
        :familiesQty="generalFamilies.length"
        :familiesSelected="familiesSelected"
      ></family>
      <div class="bottom-families big-max-width">
        <div class="add-btn-wrapper">
          <button title="Add Family" @click="addNewFamily" class="btn-green">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Family
          </button>
        </div>
      </div>
      <div class="bottom-wrapper big-max-width">
        <button v-if="!update" class="btn-blue" @click="assign" :disabled="isMakingRequest">
          Assign / Save
          <i
            class="fa fa-spinner fa-pulse"
            v-show="isMakingRequest"
            aria-hidden="true"
          ></i>
        </button>
        <button v-else class="btn-blue" @click="updateObjective" :disabled="isMakingRequest">
          Assign / Save
          <i
            class="fa fa-spinner fa-pulse"
            v-show="isMakingRequest"
            aria-hidden="true"
          ></i>
        </button>
        <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
        <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
      </div>
    </div>
  </div>
</template>

<script>
import Trend from "./TrendMix.vue";
import Color from "./ColorMix.vue";
import Shape from "./ShapeMix.vue";
import Family from "./Family.vue";
import VueSelect from "vue-select";

export default {
  name: "AddEditDesign",
  components: {
    Trend,
    Color,
    Shape,
    Family,
    VueSelect
  },
  data() {
    return {
      isThePageLoaded: false,
      isEditingDesigner: true,
      isMakingRequest: false,
      errorMsg: "",
      successMsg: "",
      unes: [],
      trends: [],
      colors: [],
      shapes: [],
      families: [],
      colorsPercent: [],
      generalTrends: [
        {
          trend_id: "",
          percent: ""
        }
      ],
      generalColors: [
        {
          color_id: "",
          percent: ""
        }
      ],
      generalShapes: [
        {
          shape_id: "",
          percent: ""
        }
      ],
      generalFamilies: [
        {
          family_id: "",
          modelNumerator: "0",
          modelDenominator: "0",
          plineNumerator: "0",
          plineDenominator: "0",
          objetive_family_id: 0,
          prices: [
            {
              price_id: "",
              point: "",
              modelDenominator: "",
              modelNumerator: "0",
              plineDenominator: "",
              plineNumerator: "0"
            }
          ]
        }
      ],
      familiesPrices: [],
      familiesSelected: [],
      trendsPercent: [],
      shapesPercent: [],
      years: [],
      designers: [],
      seasons: [],
      season_id: "",
      year: "",
      une_id: "",
      user_id: "",
      posibleResults: [],
      designerNameToSearch: "",
      modelNumerator: "0",
      modelDenominator: "0",
      plineNumerator: "0",
      plineDenominator: "0",
      params_une_id: this.$route.params.une || "",
      params_user_id: this.$route.params.user || "",
      update: false,
      updateId: ""
    };
  },
  created() {
    this.loadSeasons();
    this.loadUsersDesigners();
    this.loadUnes();
    this.loadYears();
    this.loadColors();
    this.loadTrends();
    this.loadShapes();
    this.loadFamilies();
  },
  mounted() {
    let self = this;

    this.$on("uploadColors", function(data) {
      self.uploadColors(data);
    });

    this.$on("removeColor", function(index) {
      self.removeColor(index);
    });

    this.$on("removeTrend", function(index) {
      self.removeTrend(index);
    });

    this.$on("removeShape", function(index) {
      self.removeShape(index);
    });

    this.$on("removeFamily", function(index) {
      self.removeFamily(index);
    });

    this.$on("setFamilies", function(data) {
      self.setFamilies(data);
    });

    if (this.params_user_id != "" && this.parmas_une_id != "") {
      this.editObjectives();
      this.update = true;
    }
  },
  methods: {
    editObjectives() {
      let self = this;

      axios
        .get(
          URL_SERVER +
            "/api/objetives/user/" +
            self.params_user_id +
            "/une/" +
            self.params_une_id +
            "/edit"
        )
        .then(function(response) {
          self.une_id = response.data.data.une_id;
          self.user_id = response.data.data.user_id;
          self.season_id = response.data.data.season_id;
          self.trendsPercent = response.data.data.trends.data;
          self.generalTrends = response.data.data.trends.data;
          self.shapesPercent = response.data.data.shapes.data;
          self.generalShapes = response.data.data.shapes.data;
          self.generalColors = response.data.data.colors.data;
          self.generalFamilies = self.setGeneralFamilies(
            response.data.data.families.data
          );
          self.updateId = response.data.data.id;

          self.isThePageLoaded = true;
        })
        .catch(function(error) {
          self.isThePageLoaded = true;
          content.error_msg = "The objective were not loaded";
        });
    },

    getUneObject() {
      let self = this;

      let une = self.unes.filter(une => une.id == self.une_id);

      if (une.length > 0) self.une_id = une[0];
    },

    getUserObject() {
      let self = this;

      let user = self.designers.filter(user => user.id == self.user_id);

      if (user.length > 0) self.user_id = user[0];
    },

    getSeasonObject() {
      let self = this;

      let season = self.seasons.filter(season => season.id == self.season_id);

      if (season.length > 0) self.season_id = season[0];
    },

    setGeneralFamilies(data) {
      let newFamily = [];

      for (var i = 0; i < data.length; i++) {
        let newData = {
          family_id: data[i].family_id,
          modelNumerator: "0",
          modelDenominator: "0",
          plineNumerator: "0",
          plineDenominator: "0",
          objetive_family_id: data[i].objetive_family_id,
          prices: []
        };

        for (var x = 0; x < data[i].prices.data.length; x++) {
          let newPrices = {
            price_id: data[i].prices.data[x].price_id,
            point: parseInt(data[i].prices.data[x].point),
            modelDenominator: data[i].prices.data[x].models,
            modelNumerator: "0",
            plineDenominator: data[i].prices.data[x].lines,
            plineNumerator: "0"
          };

          newData.prices.push(newPrices);
        }

        newFamily.push(newData);
      }

      return newFamily;
    },

    setFamilies(data) {
      let newPrices = [];

      for (var i = 0; i < data.prices.length; i++) {
        let newData = {
          price_id: data.prices[i].price_id,
          point: data.prices[i].point,
          models: data.prices[i].modelDenominator,
          lines: data.prices[i].plineDenominator
        };

        newPrices.push(newData);
      }

      data.prices = newPrices;

      this.familiesPrices[data.index] = data;
    },

    loadYears() {
      let currentDay = new Date();
      let currentYear = currentDay.getFullYear();

      let lastYear = currentYear - 1;
      let nextYear = currentYear + 1;
      let twoYearsLater = currentYear + 2;

      let data = [
        { label: lastYear.toString(), year: currentYear - 1 },
        { label: currentYear.toString(), year: currentYear },
        { label: nextYear.toString(), year: currentYear + 1 },
        { label: twoYearsLater.toString(), year: currentYear + 2 }
      ];

      this.years = data;
      this.year = nextYear;
    },

    removeColor(index) {
      this.generalColors.splice(index, 1);
    },

    removeTrend(index) {
      this.generalTrends.splice(index, 1);
    },

    addNewTrend() {
      let data = {
        trend_id: "",
        percent: ""
      };

      this.generalTrends.push(data);
    },

    addNewColor() {
      let data = {
        color_id: "",
        percent: ""
      };

      this.generalColors.push(data);
    },

    removeShape(index) {
      this.generalShapes.splice(index, 1);
    },

    addNewShape() {
      let data = {
        shape_id: "",
        percent: ""
      };

      this.generalShapes.push(data);
    },

    addNewFamily() {
      let data = {
        family_id: "",
        modelNumerator: "0",
        modelDenominator: "0",
        plineNumerator: "0",
        plineDenominator: "0",
        objetive_family_id: 0,
        prices: [
          {
            price_id: "",
            point: "",
            modelDenominator: "",
            modelNumerator: "0",
            plineDenominator: "",
            plineNumerator: "0"
          }
        ]
      };

      this.generalFamilies.push(data);
    },

    removeFamily(index) {
      this.generalFamilies.splice(index, 1);
      this.familiesPrices.splice(index, 1);
    },

    uploadColors(data) {
      let self = this;

      let index = self.colorsPercent.findIndex(
        x => x.color_id == data.color_id
      );

      if (index > -1) {
        self.colorsPercent[index] = data;
      } else {
        self.colorsPercent.push(data);
      }
    },

    uploadColors() {
      let self = this;
      self.colorsPercent = [];

      for (var i = 0; i < self.generalColors.length; i++) {
        let percent = self.generalColors[i].percent || 0;

        if (percent > 0) {
          let data = {
            color_id: self.generalColors[i].color_id.id,
            percent: self.generalColors[i].percent
          };

          self.colorsPercent.push(data);
        }
      }
    },

    uploadTrends() {
      let self = this;
      self.trendsPercent = [];

      for (var i = 0; i < self.generalTrends.length; i++) {
        let percent = self.generalTrends[i].percent || 0;

        if (percent > 0) {
          let data = {
            trend_id: self.generalTrends[i].trend_id.id,
            percent: self.generalTrends[i].percent
          };

          self.trendsPercent.push(data);
        }
      }
    },

    uploadShapes() {
      let self = this;
      self.shapesPercent = [];

      for (var i = 0; i < self.generalShapes.length; i++) {
        let percent = self.generalShapes[i].percent || 0;

        if (percent > 0) {
          let data = {
            shape_id: self.generalShapes[i].shape_id.id,
            percent: self.generalShapes[i].percent
          };

          self.shapesPercent.push(data);
        }
      }
    },

    uploadFamiliesData() {
      let self = this;
      self.familiesPrices = [];

      for (var i = 0; i < self.generalFamilies.length; i++) {
        let family_id = self.generalFamilies[i].family_id || "";

        if (family_id != "") self.familiesPrices.push(self.generalFamilies[i]);
      }
    },

    loadSeasons() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/seasons/list")
        .then(function(response) {
          self.seasons = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The seasons were not loaded";
        });
    },

    loadUnes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/unes/list")
        .then(function(response) {
          self.unes = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The unes were not loaded";
        });
    },

    loadUsersDesigners() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/users/designers/list")
        .then(function(response) {
          self.designers = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The designers were not loaded";
        });
    },

    loadTrends() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/trends/list")
        .then(function(response) {
          self.trends = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The trends were not loaded";
        });
    },

    loadColors() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/colors/list")
        .then(function(response) {
          self.colors = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The colors were not to loaded";
        });
    },

    loadShapes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/shapes/list")
        .then(function(response) {
          self.shapes = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The shapes were not to loaded";
        });
    },

    loadFamilies() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/families/list")
        .then(function(response) {
          self.families = response.data.data;

          if (self.params_user_id == "" && self.params_une_id == "")
            self.isThePageLoaded = true;
        })
        .catch(function(error) {
          if (self.params_user_id == "" && self.params_une_id == "")
            self.isThePageLoaded = true;

          content.error_msg = "The families were not to loaded";
        });
    },

    searchDesigner() {
      if (this.designerNameToSearch.length > 3)
        this.posibleResults = this.searchDesignerArray();
      else this.posibleResults = [];
    },

    searchDesignerArray() {},

    chooseDesigner() {
      console.log("Choose designer");
    },

    deleteUne() {
      console.log("Here click");
    },

    assign() {
      let self = this;

      self.isMakingRequest = true;
      self.successMsg = "";
      self.errorMsg = "";

      if (self.year == "") {
        self.errorMsg = "Enter a valid year";
        self.isMakingRequest = false;
        return;
      }

      if (self.season_id == "") {
        self.errorMsg = "Enter a valid season";
        self.isMakingRequest = false;
        return;
      }

      if (self.user_id == "") {
        self.errorMsg = "Enter a user";
        self.isMakingRequest = false;
        return;
      }

      if (self.une_id == "") {
        self.errorMsg = "Enter a valid UNE";
        self.isMakingRequest = false;
        return;
      }

      if (self.trendsPercent.length == 0) {
        self.errorMsg = "Enter at least one trend";
        self.isMakingRequest = false;
        return;
      }

      if (self.colorsPercent.length == 0) {
        self.errorMsg = "Enter at least one color";
        self.isMakingRequest = false;
        return;
      }

      if (self.shapesPercent.length == 0) {
        self.errorMsg = "Enter at least one shape";
        self.isMakingRequest = false;
        return;
      }

      if (self.familiesPrices.length == 0) {
        self.errorMsg = "Enter at least one family";
        self.isMakingRequest = false;
        return;
      }

      let data = {};
      data.user_id = self.user_id.id;
      data.year = self.year.year || self.year;
      data.season_id = self.season_id.id;
      data.une_id = self.une_id.id;
      data.trends = self.trendsPercent;
      data.colors = self.colorsPercent;
      data.shapes = self.shapesPercent;
      data.families = self.familiesPrices;

      axios
        .post(URL_SERVER + "/api/objetives", data)
        .then(function(response) {
          self.isMakingRequest = false;
          self.successMsg = "The design plan was successfully assigned";

          setTimeout(function() {
            self.$router.push("/design-dashboard");
          }, 3000);
        })
        .catch(function(error) {
          self.isMakingRequest = false;

          if (error.response.status == 500) {
            content.error_msg =
              error.response.data.message ||
              "The design plan wasn't assigned, please try later";
          } else if (error.response.status == 422) {
            content.error_msg =
              window.processStrJson(error.response.data.errors) ||
              "The design plan wasn't assigned, please try later";
          } else {
            content.error_msg =
              "The design plan wasn't assigned, please try later";
          }
        });
    },

    checkdataLoad() {
      // console.log("Checked")
    },

    updateObjective() {
      let self = this;

      self.isMakingRequest = true;
      self.successMsg = "";
      self.errorMsg = "";

      if (self.year == "") {
        self.errorMsg = "Enter a valid year";
        self.isMakingRequest = false;
        return;
      }

      if (self.season_id == "") {
        self.errorMsg = "Enter a valid season";
        self.isMakingRequest = false;
        return;
      }

      if (self.user_id == "") {
        self.errorMsg = "Enter a user";
        self.isMakingRequest = false;
        return;
      }

      if (self.une_id == "") {
        self.errorMsg = "Enter a valid UNE";
        self.isMakingRequest = false;
        return;
      }

      if (self.trendsPercent.length == 0) {
        self.errorMsg = "Enter at least one trend";
        self.isMakingRequest = false;
        return;
      }

      if (self.colorsPercent.length == 0) {
        self.errorMsg = "Enter at least one color";
        self.isMakingRequest = false;
        return;
      }

      if (self.shapesPercent.length == 0) {
        self.errorMsg = "Enter at least one shape";
        self.isMakingRequest = false;
        return;
      }

      if (self.familiesPrices.length == 0) {
        self.errorMsg = "Enter at least one family";
        self.isMakingRequest = false;
        return;
      }

      let data = {};
      data.user_id = self.user_id.id || self.user_id;
      data.year = self.year.year || self.year;
      data.season_id = self.season_id.id || self.season_id;
      data.une_id = self.une_id.id || self.une_id;
      data.trends = self.trendsPercent;
      data.colors = self.colorsPercent;
      data.shapes = self.shapesPercent;
      data.families = self.familiesPrices;

      axios
        .put(URL_SERVER + "/api/objetives/" + self.updateId, data)
        .then(function(response) {
          self.isMakingRequest = false;
          self.successMsg = "The design plan was successfully assigned";

          setTimeout(function() {
            self.$router.push("/design-dashboard");
          }, 3000);
        })
        .catch(function(error) {
          self.isMakingRequest = false;

          if (error.response.status == 500) {
            content.error_msg =
              error.response.data.message ||
              "The design plan wasn't assigned, please try later";
          } else if (error.response.status == 422) {
            content.error_msg =
              window.processStrJson(error.response.data.errors) ||
              "The design plan wasn't assigned, please try later";
          } else {
            content.error_msg =
              "The design plan wasn't assigned, please try later";
          }
        });
    },

    uploadUneData() {
      let self = this;

      let sumModelsNumerator = 0;
      let sumModelsDenominator = 0;
      let sumPlinesNumerator = 0;
      let sumPlinesDenominator = 0;

      for (var i = 0; i < self.generalFamilies.length; i++) {
        sumModelsNumerator +=
          self.generalFamilies[i].modelNumerator > 0
            ? parseInt(self.generalFamilies[i].modelNumerator)
            : 0;
        sumModelsDenominator +=
          self.generalFamilies[i].modelDenominator > 0
            ? parseInt(self.generalFamilies[i].modelDenominator)
            : 0;
        sumPlinesNumerator +=
          self.generalFamilies[i].plineNumerator > 0
            ? parseInt(self.generalFamilies[i].plineNumerator)
            : 0;
        sumPlinesDenominator +=
          self.generalFamilies[i].plineDenominator > 0
            ? parseInt(self.generalFamilies[i].plineDenominator)
            : 0;
      }

      this.modelNumerator = sumModelsNumerator;
      this.modelDenominator = sumModelsDenominator;
      this.plineNumerator = sumPlinesNumerator;
      this.plineDenominator = sumPlinesDenominator;
    },

    checkUnes() {
      if (this.unes.length > 0 && this.user_id != "") this.getUneObject();
    },

    checkUsers() {
      if (this.designers.length > 0 && this.user_id != "") this.getUserObject();
    },

    checkSeasons() {
      if (this.seasons.length > 0 && this.season_id != "")
        this.getSeasonObject();
    }
  },
  computed: {
    statusPercent() {
      let percent = 0;
      percent = parseInt((this.modelsPercent + this.plinePercent) / 2);

      return percent;
    },

    modelsPercent() {
      let modelPercent = 0;

      if (this.modelDenominator > 0) {
        modelPercent = parseInt(
          (parseInt(this.modelNumerator) / parseInt(this.modelDenominator)) *
            100
        );
        if (modelPercent > 100) modelPercent = 100;
      } else {
        modelPercent = 0;
      }

      return modelPercent;
    },

    plinePercent() {
      let plinePercent = 0;

      if (this.plineDenominator > 0) {
        plinePercent = parseInt(
          (parseInt(this.plineNumerator) / parseInt(this.plineDenominator)) *
            100
        );
        if (plinePercent > 100) plinePercent = 100;
      } else {
        plinePercent = 0;
      }

      return plinePercent;
    }
  },
  watch: {
    trends() {
      this.checkdataLoad();
    },

    shapes() {
      this.checkdataLoad();
    },

    colors() {
      this.checkdataLoad();
    },

    generalColors: {
      handler: function(newValue) {
        this.uploadColors();
      },
      deep: true
    },

    generalTrends: {
      handler: function(newValue) {
        this.uploadTrends();
      },
      deep: true
    },

    generalShapes: {
      handler: function(newValue) {
        this.uploadShapes();
      },
      deep: true
    },

    generalFamilies: {
      handler: function(newValue) {
        this.uploadUneData();
        //this.uploadFamiliesData()
      },
      deep: true
    },

    unes() {
      this.checkUnes();
    },

    une_id: {
      handler: function() {
        this.checkUnes();
      },
      deep: true
    },

    seasons() {
      this.checkSeasons();
    },

    season_id: {
      handler: function() {
        this.checkSeasons();
      },
      deep: true
    },

    designers() {
      this.checkUsers();
    },

    user_id: {
      handler: function() {
        this.checkUsers();
      },
      deep: true
    }
  }
};
</script>

