<template>
  <div class="add-new-wrapper design-max-width">
    <div class="select-category-wrapper flex-left w-select">
      <label>Color Mix:</label>
      <vue-select
        class="uppercase"
        v-model="color.color_id"
        label="name"
        :options="colors"
        placeholder="Color"
      ></vue-select>
    </div>
    <div class="add-percent-wrapper">
      <label>%</label>
      <input
        type="number"
        class="input-percent"
        :readonly="color.color_id == ''"
        v-model.number="color.percent"
      >
    </div>
    <div class="add-btn-wrapper">
      <button v-if="colorsQty > 1" title="Add trend" @click="removeColor" class="btn-remove">
        <i class="fa fa-times" aria-hidden="true"></i> Remove
      </button>
    </div>
  </div>
  <!-- <div class="ind-percent-wrapper color-mix">
        <b class="capitalize">{{color.name}}</b>
        <div>
            <input type="number" class="input-percent margin-input-percet" v-model.number="percent">
            <label>%</label>
        </div>
  </div>-->
</template>

<script>
import VueSelect from "vue-select";

export default {
  name: "ColorMix",
  props: ["color", "colors", "colorsQty", "index"],
  components: {
    VueSelect
  },
  data() {
    return {
      color_id: this.color.id || this.color.color_id || "",
      percent: this.color.percent || ""
    };
  },
  created() {
    this.transFromObjectToInt();
  },
  updated() {
    this.transFromObjectToInt();
  },
  methods: {
    transFromObjectToInt() {
      this.color.percent = parseInt(this.color.percent);

      if (this.color.color_id != null) {
        if (Object.keys(this.color.color_id).length > 2) {
          let self = this;

          let color = self.colors.filter(
            color => color.id == self.color.color_id
          );

          if (color.length > 0) self.color.color_id = color[0];
        }
      }
    },

    removeColor() {
      this.$parent.$emit("removeColor", this.index);
    }
  },
  watch: {
    percent() {
      if (this.color.percent < 0) this.color.percent = 0;
    }
  }
};
</script>
