<template>
    <div class="category-wrapper small-font family-and-price-wrapper bg-medium-gray big-max-width">
        <div class="category-title-wrapper uppercase">
            <div class="header-section first-space">
                <label>F:</label> &nbsp;
                <select name="add-edit-new-trend" id="add-edit-new-trend" class="uppercase" v-model="family.family_id">
                    <option value="">Family</option>
                    <option v-for="(family, index) in families" :key="index"
                        :value="family.id" :disabled="familiesSelected.includes(family.id)">{{ family.name }}</option>
                </select>
            </div>
            <div class="header-section">
                <span>Status:</span>
                <div class="ind-percent-wrapper">
                    <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }">
                        </div>
                    <span><b>{{ statusPercent }}%</b></span>
                </div>
            </div>
            <div class="header-section">
                <span>MODELS:</span>
                <div class="ind-percent-wrapper">
                    <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }">
                        </div>
                    <span><b>{{ family.modelNumerator }}/{{ family.modelDenominator }}</b></span>
                </div>
            </div>
            <div class="header-section">
                <span>P.LINES:</span>
                <div class="ind-percent-wrapper">
                    <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : plinePercent < 100, 'green-ind-circle' : plinePercent >= 100 }">
                        </div>
                    <span><b>{{ family.plineNumerator }}/{{ family.plineDenominator }}</b></span>
                </div>
            </div>
            <div class="header-section">
                <span>OMU:</span>
                <div class="ind-percent-wrapper">
                    <div class="circle-indicators red-ind-circle"></div><span><b>0%</b></span>
                </div>
            </div>
            <div class="header-section big-space">
                <div class="add-btn-wrapper">
                    <button v-if="familiesQty > 1" title="Remove" @click="removeFamily" class="btn-remove">
                        <i class="fa fa-times" aria-hidden="true"></i> Remove
                    </button>
                </div>
            </div>
        </div>
        <div class="prices-container">
            <div class="bg-white inside-container add-price-inside-wrapper">
                <div class="add-btn-wrapper">
                    <button title="Add Price" @click="addNewPrice" class="btn-green">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Price
                    </button>
                </div>
            </div>
            <price v-for="(price, index) in family.prices" :key="index" :index="index"
                :price="price" :prices="prices" :pricesQty="family.prices.length" :pricesSelected="pricesSelected"></price>
        </div>
    </div>
</template>

<script>

    import Price from "./Price.vue"

    export default {
        name : "Family",
        props: ["index",  "family", "families", "familiesQty", "familiesSelected"],
        components : {
            Price
        },
        data(){
            return {
                prices         : [],
                pricesSelected : []
            }
        },
        mounted(){

            let self = this

            this.$on("removePrice", function(index){
                self.removePrice(index)
            })

            this.loadPrices()
            this.addFamilies()
        },
        methods: {

            addFamilies(){

                let data = {}

                data.index                 = this.index
                data.family_id             = this.family.family_id
                data.objetive_family_id    = this.family.objetive_family_id
                data.prices                = this.family.prices

                this.$parent.$emit("setFamilies", data)
            },

            loadPrices(){

                let self = this

                axios.get(URL_SERVER+"/api/prices/list")
                    .then(function(response) {
                        self.prices = response.data.data
                    })
                    .catch(function(error){

                        content.error_msg = "The trends were not loaded"
                    })

            },

            addNewFamily(){
                this.$parent.$emit("addNewFamily")
            },

            removeFamily(){
                this.setFamily("", this.family.family_id)
                this.$parent.$emit("removeFamily", this.index)
            },

            setFamily(newValue = "", oldValue = ""){

                let self = this

                if(newValue != "") {
                    let family = this.familiesSelected.filter(function(family){
                        return family == self.family.family_id
                    })

                    if(family.length > -1)
                        this.familiesSelected.push(this.family.family_id)
                }

                if(oldValue != "") {
                    let index = self.familiesSelected.indexOf(oldValue)

                    if(index > -1)
                    {
                        self.familiesSelected.splice(index, 1)
                    }
                }
            },

            addNewPrice(){

                let data = {
                    price_id         : "",
                    point            : "",
                    modelDenominator : "",
                    modelNumerator   : "0",
                    plineDenominator : "",
                    plineNumerator   : "0",
                }

                this.family.prices.push(data)
            },

            removePrice(index){

                this.family.prices.splice(index, 1)
            },

            uploadFamilyData(){

                let self = this

                let sumModelsNumerator   = 0
                let sumModelsDenominator = 0
                let sumPlinesNumerator   = 0
                let sumPlinesDenominator = 0

                for(var i = 0; i < self.family.prices.length; i++) {

                    sumModelsNumerator   += (self.family.prices[i].modelNumerator   > 0) ? parseInt(self.family.prices[i].modelNumerator)   : 0
                    sumModelsDenominator += (self.family.prices[i].modelDenominator > 0) ? parseInt(self.family.prices[i].modelDenominator) : 0
                    sumPlinesNumerator   += (self.family.prices[i].plineNumerator   > 0) ? parseInt(self.family.prices[i].plineNumerator)   : 0
                    sumPlinesDenominator += (self.family.prices[i].plineDenominator > 0) ? parseInt(self.family.prices[i].plineDenominator) : 0
                }

                this.family.modelNumerator   = sumModelsNumerator
                this.family.modelDenominator = sumModelsDenominator
                this.family.plineNumerator   = sumPlinesNumerator
                this.family.plineDenominator = sumPlinesDenominator
            }
        },
        computed : {

            statusPercent(){

                let percent  = 0
                percent      = parseInt((this.modelsPercent + this.plinePercent) / 2 )

                return percent
            },

            modelsPercent(){

                let modelPercent = 0

                if(this.family.modelDenominator > 0)
                {
                    modelPercent = parseInt(parseInt(this.family.modelNumerator) / parseInt(this.family.modelDenominator) * 100)
                    if(modelPercent > 100)
                        modelPercent = 100
                }
                else
                {
                    modelPercent = 0
                }

                return modelPercent
            },

            plinePercent(){

                let plinePercent = 0

                if(this.family.plineDenominator > 0)
                {
                    plinePercent = parseInt(parseInt(this.family.plineNumerator) / parseInt(this.family.plineDenominator) * 100)
                    if(plinePercent > 100)
                        plinePercent = 100
                }
                else
                {
                    plinePercent = 0
                }

                return plinePercent
            }
        },
        watch: {
            "family.prices": {
                handler: function() {
                    this.uploadFamilyData()
                },
                deep: true
            },

            "family.family_id": {
                handler: function(newValue, oldValue) {

                    this.setFamily(newValue, oldValue)
                },
                deep: true
            },

            family: {
                handler: function() {
                    this.addFamilies()
                },
                deep: true
            }
        }
    }
</script>
