<template>
    <div class="category-title-wrapper uppercase bg-white inside-container">
        <div class="header-section first-space price-first-space">
            <div class="ind-percent-wrapper">
                <label>P:</label>
                <select name="preice" class="uppercase" id="price" v-model="price.price_id">
                    <option value="">Price</option>
                    <option v-for="(price, index) in prices" :key="index"
                        :value="price.id" :disabled="pricesSelected.includes(price.id)">{{ price.name }}</option>
                </select>
            </div>
        </div>
        <div class="header-section">
            <div class="ind-percent-wrapper">
                <div class="circle-indicators"
                    :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }">
                        </div>
                    <span><b>{{statusPercent}}%</b></span>
            </div>
        </div>
        <div class="header-section">
            <div class="ind-percent-wrapper">
                <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }">
                        </div>
                <span><b>{{ price.modelNumerator }}/</b><input type="number" :readonly="price.price_id == ''"
                    class="input-percent small-width-input" v-model.number="price.modelDenominator"></span>
            </div>
        </div>
        <div class="header-section">
            <div class="ind-percent-wrapper">
                <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : plinePercent < 100, 'green-ind-circle' : plinePercent >= 100 }">
                        </div>
                <span><b>{{ price.plineNumerator }}/</b><input type="number" :readonly="price.price_id == ''"
                    class="input-percent small-width-input" v-model.number="price.plineDenominator"></span>
            </div>
        </div>
        <div class="header-section">
            <div class="ind-percent-wrapper">
                <div class="circle-indicators red-ind-circle"></div><span><b>0%</b></span>
            </div>
        </div>
        <div class="header-section big-space">
            <div class="add-btn-wrapper">
                <button v-if="pricesQty > 1" title="Remove" @click="removePrice" class="btn-remove">
                    <i class="fa fa-times" aria-hidden="true"></i> Remove
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "Price",
        props: ["price", "index", "prices", "pricesQty", "pricesSelected"],
        methods : {

            addNewPrice(){
                this.$parent.$emit("addNewPrice")
            },

            removePrice(){
                this.setPrices("", this.price.price_id)
                this.$parent.$emit("removePrice", this.index)
            },

            setPrices(newValue = "", oldValue = ""){
                let self = this

                if(newValue != "") {
                    let price = this.pricesSelected.filter(function(price){
                        return price == self.price.price_id
                    })

                    if(price.length > -1)
                        this.pricesSelected.push(this.price.price_id)
                }

                if(oldValue != "") {
                    let index = self.pricesSelected.indexOf(oldValue)

                    if(index > -1)
                    {
                        self.pricesSelected.splice(index, 1)
                    }
                }
            }
        },
        computed: {

            modelsPercent(){

                let modelPercent = 0

                if(this.price.modelDenominator > 0)
                {
                    modelPercent = parseInt(parseInt(this.price.modelNumerator) / parseInt(this.price.modelDenominator) * 100)
                    if(modelPercent > 100)
                        modelPercent = 100
                }
                else
                {
                    modelPercent = 0
                }

                return modelPercent
            },

             plinePercent(){

                let plinePercent = 0

                if(this.price.plineDenominator > 0)
                {
                    plinePercent = parseInt(parseInt(this.price.plineNumerator) / parseInt(this.price.plineDenominator) * 100)
                    if(plinePercent > 100)
                        plinePercent = 100
                }
                else
                {
                    plinePercent = 0
                }

                return plinePercent
            },

            statusPercent(){

                let percent      = 0
                percent = parseInt((this.modelsPercent + this.plinePercent) / 2 )

                return percent
            }
        },
        watch : {
            "price.modelDenominator"(){
                if(this.price.modelDenominator < 0)
                    this.price.modelDenominator = ""
            },

            "price.price_id": {
                handler: function(newValue, oldValue) {

                    this.setPrices(newValue, oldValue)
                },
                deep: true
            },

            "price.plineDenominator"(){
                if(this.price.plineDenominator < 0)
                    this.price.plineDenominator = ""
            },

        }
    }
</script>
