<template>
  <div class="add-new-wrapper">
    <div class="select-category-wrapper flex-left w-select">
      <label>Shape Mix:</label>
      <vue-select
        class="uppercase"
        v-model="shape.shape_id"
        label="name"
        :options="shapes"
        placeholder="Shape"
      ></vue-select>
    </div>
    <div class="add-percent-wrapper">
      <label>%</label>
      <input
        type="number"
        class="input-percent"
        :readonly="shape.shape_id == ''"
        v-model.number="shape.percent"
      >
    </div>
    <div class="add-btn-wrapper">
      <button v-if="shapesQty > 1" title="Remove" @click="removeShape" class="btn-remove">
        <i class="fa fa-times" aria-hidden="true"></i> Remove
      </button>
    </div>
  </div>
</template>

<script>
import VueSelect from "vue-select";
export default {
  name: "ShapeMix",
  props: ["shape", "shapes", "shapesQty", "index"],
  components: {
    VueSelect
  },
  created() {
    this.transformToInt();
  },
  updated() {
    this.transformToInt();
  },
  methods: {
    transformToInt() {
      this.shape.percent = parseInt(this.shape.percent);

      if (this.shape.shape_id != null) {
        if (Object.keys(this.shape.shape_id).length > 2) {
          let self = this;

          let shape = self.shapes.filter(
            shape => shape.id == self.shape.shape_id
          );

          if (shape.length > 0) self.shape.shape_id = shape[0];
        }
      }
    },

    addNewShape() {
      this.$parent.$emit("addNewShape");
    },

    removeShape() {
      this.$parent.$emit("removeShape", this.index);
    }
  },
  watch: {
    "shape.percent"() {
      if (this.shape.percent < 0) this.shape.percent = 0;
    }
  }
};
</script>
