<template>
  <div class="add-new-wrapper design-max-width">
    <div class="select-category-wrapper flex-left w-select">
      <label>Trend Mix:</label>
      <vue-select
        class="uppercase"
        v-model="trend.trend_id"
        label="name"
        :options="trends"
        placeholder="Trend"
      ></vue-select>
    </div>
    <div class="add-percent-wrapper">
      <label>%</label>
      <input
        type="number"
        class="input-percent"
        :readonly="trend.trend_id == ''"
        v-model.number="trend.percent"
      >
    </div>
    <div class="add-btn-wrapper">
      <button v-if="trendsQty > 1" title="Add trend" @click="removeTrend" class="btn-remove">
        <i class="fa fa-times" aria-hidden="true"></i> Remove
      </button>
    </div>
  </div>
</template>

<script>
import VueSelect from "vue-select";

export default {
  name: "TrendMix",
  props: ["trend", "trends", "trendsQty", "index"],
  components: {
    VueSelect
  },
  created() {
    this.transformToInt();
  },
  updated() {
    this.transformToInt();
  },
  methods: {
    transformToInt() {
      this.trend.percent = parseInt(this.trend.percent);

      if (this.trend.trend_id != null) {
        if (Object.keys(this.trend.trend_id).length > 2) {
          let self = this;

          let trend = self.trends.filter(
            trend => trend.id == self.trend.trend_id
          );

          if (trend.length > 0) self.trend.trend_id = trend[0];
        }
      }
    },

    addNewTrend() {
      this.$parent.$emit("addNewTrend");
    },

    removeTrend() {
      this.$parent.$emit("removeTrend", this.index);
    }
  },
  watch: {
    "trend.percent"() {
      if (this.trend.percent < 0) this.trend.percent = 0;
    }
  }
};
</script>
