<template>
    <div class="ind-percent-wrapper color-mix">
        <div class="circle-indicators" :style="{  backgroundColor : '#'+index }"></div><span>{{ color }}%</span>
    </div>
</template>

<script>
    export default {
        name : "ColorMix",
        props: ["index",  "color"]
    }
</script>
