<template>
    <div class="details-wrapper details-extra-info small-font">
        <div class="detail-title">
            <h3 class="medium-font uppercase">{{index}}</h3>
            <div class="title-extra-indicators">
                <div class="indicator-top">
                    <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }">
                        </div>
                    <span>{{statusPercent}}%</span>
                </div>
                <div class="indicator-top">
                    <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }">
                        </div>
                    <span>{{modelNumerator }}/{{modelDenominator}}</span>
                </div>
                <div class="indicator-top">
                    <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : plinePercent < 100, 'green-ind-circle' : plinePercent >= 100 }">
                        </div>
                    <span>{{plineNumerator}}/{{plineDenominator}}</span>
                </div>
                <div class="indicator-top" v-if="false">
                    <div class="circle-indicators red-ind-circle"></div><span>0%</span>
                </div>
            </div>
        </div>
        <div class="detail-body bg-white">
            <price v-for="(price, index) in family" :key="index"
                :price="price"></price>
        </div>
    </div>
</template>

<script>

    import Price from "./Price.vue"

    export default {
        name : "Family",
        props: ["family", "index"],
        components: {
            Price
        },
        data(){
            return {
                modelNumerator   : 0,
                modelDenominator : 0,
                plineNumerator   : 0,
                plineDenominator : 0
            }
        },
        mounted(){

            this.checkFamilyData()
        },
        methods: {

            checkFamilyData(){

                let self = this

                let sumModelsNumerator   = 0
                let sumModelsDenominator = 0
                let sumPlinesNumerator   = 0
                let sumPlinesDenominator = 0

                for(var i = 0; i < self.family.length; i++) {

                    let modelsReady = self.family[i].DoneModels || 0
                    let linesReady  = self.family[i].DoneLines || 0

                    sumModelsNumerator   += (modelsReady > 0) ? parseInt(modelsReady) : 0
                    sumModelsDenominator += (self.family[i].toDoModels > 0) ? parseInt(self.family[i].toDoModels) : 0
                    sumPlinesNumerator   += (linesReady > 0) ? parseInt(linesReady)   : 0
                    sumPlinesDenominator += (self.family[i].toDoLines > 0) ? parseInt(self.family[i].toDoLines) : 0
                }

                this.modelNumerator   = sumModelsNumerator
                this.modelDenominator = sumModelsDenominator
                this.plineNumerator   = sumPlinesNumerator
                this.plineDenominator = sumPlinesDenominator
            }
        },
        computed : {
            statusPercent(){

                let percent  = 0
                percent      = parseInt((this.modelsPercent + this.plinePercent) / 2 )

                return percent
            },

            modelsPercent(){

                let modelPercent = 0

                if(this.modelDenominator > 0)
                {
                    modelPercent = parseInt(parseInt(this.modelNumerator) / parseInt(this.modelDenominator) * 100)
                    if(modelPercent > 100)
                        modelPercent = 100
                }
                else
                {
                    modelPercent = 0
                }

                return modelPercent
            },

            plinePercent(){

                let plinePercent = 0

                if(this.plineDenominator > 0)
                {
                    plinePercent = parseInt(parseInt(this.plineNumerator) / parseInt(this.plineDenominator) * 100)
                    if(plinePercent > 100)
                        plinePercent = 100
                }
                else
                {
                    plinePercent = 0
                }

                return plinePercent
            }
        }
    }
</script>
