<template>
    <div class="rectangle-detail">
        <span class="capitalize">{{index}}</span>: <b>{{ data }}%</b>
    </div>
</template>

<script>
    export default {
        name  : "GrayRectangle",
        props : ["index", "data"]
    }
</script>
