<template>
    <div class="record-extra-indicators">
        <div class="big-space-indicator">
            <b class="uppercase">{{price.price}}</b>
        </div>
        <div class="detail-extra-indicators">
            <div class="extra-space-indicator">
                <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }">
                        </div>
                <span>{{statusPercent}}%</span>
            </div>
            <div class="extra-space-indicator">
                <div class="circle-indicators"
                    :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }">
                    </div>
                <span>{{modelsReady}}/{{price.toDoModels}}</span>
            </div>
            <div class="extra-space-indicator">
                <div class="circle-indicators"
                        :class="{ 'red-ind-circle' : plinePercent < 100, 'green-ind-circle' : plinePercent >= 100 }">
                        </div>
                <span>{{linesReady}}/{{price.toDoLines}}</span>
            </div>
            <div class="extra-space-indicator" v-if="false">
                <div class="circle-indicators red-ind-circle"></div><span>0%</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "Price",
        props: ["price"],
        computed: {

            modelsReady(){

                let models = this.price.DoneModels || 0
                return models
            },

            linesReady(){

                let lines = this.price.DoneLines || 0
                return lines
            },

            modelsPercent(){

                let modelPercent = 0

                if(this.price.toDoModels > 0)
                {
                    modelPercent = parseInt(parseInt(this.modelsReady) / parseInt(this.price.toDoModels) * 100)
                    if(modelPercent > 100)
                        modelPercent = 100
                }
                else
                {
                    modelPercent = 0
                }

                return modelPercent
            },

            plinePercent(){

                let plinePercent = 0

                if(this.price.toDoLines > 0)
                {
                    plinePercent = parseInt(parseInt(this.linesReady) / parseInt(this.price.toDoLines) * 100)
                    if(plinePercent > 100)
                        plinePercent = 100
                }
                else
                {
                    plinePercent = 0
                }

                return plinePercent
            },

            statusPercent(){

                let percent = 0
                percent     = parseInt((this.modelsPercent + this.plinePercent) / 2 )

                return percent
            }
        }
    }
</script>

