<template>
  <div
    class="category-wrapper small-font"
    v-if="index != 'name'"
    :class="{'bg-black' : une.name == 'cloe', 'bg-medium-gray' : une.name != 'cloe'}"
  >
    <div class="category-title-wrapper uppercase" :class="{'main-category' : une.name == 'cloe'}">
      <div class="header-section first-space uppercase" v-if="une.name == 'cloe'">{{une.name}}</div>
      <div v-else class="header-section first-space">
        <router-link
          v-if="typeOfSearch != 'none'"
          :to="{ name: `design-dashboard-${typeOfSearch}`, params:{id: index}}"
          :title="une.name"
          class="uppercase une-title"
        >{{une.name}}</router-link>
        <div v-else>{{une.name}}</div>
      </div>
      <div class="header-section">
        <span>Status:</span>
        <div class="ind-percent-wrapper">
          <div
            class="circle-indicators"
            :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }"
          ></div>
          <span>
            <b>{{ statusPercent }}%</b>
          </span>
        </div>
      </div>
      <div class="header-section">
        <span>MODELS:</span>
        <div class="ind-percent-wrapper">
          <div
            class="circle-indicators"
            :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }"
          ></div>
          <span>
            <b>{{ modelCount }}/{{ toDoModels }}</b>
          </span>
        </div>
      </div>
      <div class="header-section">
        <span>P. Lines:</span>
        <div class="ind-percent-wrapper">
          <div
            class="circle-indicators"
            :class="{ 'red-ind-circle' : plinePercent < 100, 'green-ind-circle' : plinePercent >= 100 }"
          ></div>
          <span>
            <b>{{ linesCount }}/{{ toDoLines }}</b>
          </span>
        </div>
      </div>
      <div class="header-section">
        <span>OMU:</span>
        <div class="ind-percent-wrapper">
          <div
            class="circle-indicators"
            :class="{ 'red-ind-circle' : omuPercent < 100, 'green-ind-circle' : omuPercent >= 100 }"
          ></div>
          <span>
            <b>{{ omuPercent }}%</b>
          </span>
        </div>
      </div>
      <div class="header-section smallest-font">
        <a
          href="#"
          title="Design book"
          class="link-design capitalize"
          @click.prevent="goToDesignBook"
        >Design book</a>
      </div>
      <div class="header-section small-space">
        <template v-if="itIsAdmin">
          <router-link
            v-show="typeOfSearch == 'une'"
            :to="{path: '/design-plan/create'}"
            title="Create"
            class="link-edit"
          >
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </router-link>
          <router-link
            v-show="typeOfSearch != 'une'"
            :to="{path: '/design-plan/edit/'+editUneUser}"
            title="Edit"
            class="link-edit"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </router-link>
        </template>
      </div>
    </div>
    <template v-if="une.name != 'cloe'">
      <template v-if="detailsSize">
        <div class="dropdown-bar bg-light-gray text-right" @click="openInfo = !openInfo">
          <i
            class="fa fa-caret-down arrow-slide"
            :class="{'arrow-open-info': openInfo}"
            aria-hidden="true"
          ></i>
        </div>
        <div class="category-info bg-light-gray" :class="{'cat-info-open': openInfo}">
          <div class="details-wrapper small-font" v-if="trendSize">
            <div class="detail-title">Trend Mix:</div>
            <div class="detail-body">
              <gray-rectangle
                v-for="(trend, index) in une.trends"
                :key="index"
                :data="trend"
                :index="index"
              ></gray-rectangle>
            </div>
          </div>
          <div class="details-wrapper" v-if="colorSize">
            <div class="detail-title">Color Mix:</div>
            <div class="detail-body">
              <gray-rectangle
                v-for="(color, index) in une.colors"
                :key="index"
                :data="color"
                :index="index"
              ></gray-rectangle>
            </div>
          </div>
          <div class="details-wrapper" v-if="shapeSize">
            <div class="detail-title">Shape Mix:</div>
            <div class="detail-body">
              <gray-rectangle
                v-for="(shape, index) in une.shapes"
                :key="index"
                :data="shape"
                :index="index"
              ></gray-rectangle>
            </div>
          </div>
          <family
            v-for="(family, index) in une.families"
            :key="index"
            :family="family"
            :index="index"
          ></family>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import Family from "./Family.vue";
import GrayRectangle from "./GrayRectangle.vue";
import ColorMix from "./ColorMix.vue";

export default {
  name: "UneCategory",
  props: ["index", "une", "year"],
  components: {
    Family,
    GrayRectangle,
    ColorMix
  },
  data() {
    return {
      openInfo: false,
      modelNumerator: "0",
      modelDenominator: "0",
      plineNumerator: "0",
      plineDenominator: "0",
      itIsAdmin: true
    };
  },
  mounted() {
    this.checkUneData();
    this.checkUneMainData();
    this.itIsAdmin = !window.isDesigner();
  },
  methods: {
    goToDesignBook() {
      let uid = "";
      let data = {};

      switch (this.typeOfSearch) {
        case "une":
          uid = this.index;
          break;
        case "user":
          uid = this.editUneUser.split("/")[0];
          data.user = this.index;
          break;
        case "none":
          uid = this.index;
          data.user = this.$route.path.split("/").pop();
          break;
      }

      this.$router.push({ path: "/design-book/" + uid, query: data });
    },

    checkUneData() {
      let self = this;

      this.modelNumerator = 0;
      this.modelDenominator = 0;
      this.plineNumerator = 0;
      this.plineDenominator = 0;

      // let sumModelsNumerator   = 0
      let sumModelsDenominator = 0;
      // let sumPlinesNumerator   = 0
      let sumPlinesDenominator = 0;

      let families = self.une.families || "";

      if (families != "") {
        for (var i = 0; i < Object.values(self.une.families).length; i++) {
          let arrayFamily = Object.values(self.une.families)[i];

          for (var x = 0; x < arrayFamily.length; x++) {
            // sumModelsNumerator   += (arrayFamily[x].modelNumerator   > 0) ? parseInt(arrayFamily[x].modelNumerator)   : 0
            sumModelsDenominator +=
              arrayFamily[x].models > 0 ? parseInt(arrayFamily[x].models) : 0;
            // sumPlinesNumerator   += (arrayFamily[x].plineNumerator   > 0) ? parseInt(arrayFamily[x].plineNumerator)   : 0
            sumPlinesDenominator +=
              arrayFamily[x].lines > 0 ? parseInt(arrayFamily[x].lines) : 0;
          }
        }

        this.modelNumerator = this.une.models_counts;
        this.modelDenominator = sumModelsDenominator;
        this.plineNumerator = this.une.lines_counts;
        this.plineDenominator = sumPlinesDenominator;
      }
    },

    checkUneMainData() {
      if (this.toDoModels > 0)
        this.$parent.$emit("addToDoModels", this.toDoModels);
      if (this.modelCount > 0)
        this.$parent.$emit("addModelsCount", this.modelCount);
      if (this.linesCount > 0)
        this.$parent.$emit("addLinesCount", this.linesCount);
      if (this.toDoLines > 0)
        this.$parent.$emit("addToDoLines", this.toDoLines);
      if (this.omuPercent > 0) this.$parent.$emit("addToOmu", this.omuPercent);
    }
  },
  computed: {
    trendSize() {
      let trendsReference = this.une.trends || 0;

      return Object.keys(trendsReference).length;
    },

    colorSize() {
      let colorReference = this.une.colors || 0;

      return Object.keys(colorReference).length;
    },

    shapeSize() {
      let colorReference = this.une.shapes || 0;

      return Object.keys(colorReference).length;
    },

    detailsSize() {
      return this.trendSize > 0 && this.colorSize > 0 && this.shapeSize > 0;
    },

    typeOfSearch() {
      let urlSection = this.$route.path.split("/")[2] || "";

      if (urlSection == "") return "une";
      else if (urlSection == "une") return "user";
      else return "none";
    },

    editUneUser() {
      let urlSection = this.$route.path.split("/")[2] || "";

      if (urlSection == "une")
        return this.$route.path.split("/").pop() + "/" + this.index;
      else if (urlSection == "user")
        return this.index + "/" + this.$route.path.split("/").pop();
    },

    statusPercent() {
      let percent = 0;
      percent = parseInt((this.modelsPercent + this.plinePercent) / 2);

      return percent;
    },

    modelsPercent() {
      let modelPercent = 0;

      if (this.modelDenominator > 0) {
        modelPercent = parseInt(
          (parseInt(this.modelNumerator) / parseInt(this.modelDenominator)) *
            100
        );
        if (modelPercent > 100) modelPercent = 100;
      } else if (this.une.toDoModels > 0) {
        modelPercent = parseInt(
          (parseInt(this.une.models_counts) / parseInt(this.une.toDoModels)) *
            100
        );
        if (modelPercent > 100) modelPercent = 100;
      } else modelPercent = 0;

      return modelPercent;
    },

    plinePercent() {
      let plinePercent = 0;

      if (this.plineDenominator > 0) {
        plinePercent = parseInt(
          (parseInt(this.plineNumerator) / parseInt(this.plineDenominator)) *
            100
        );
        if (plinePercent > 100) plinePercent = 100;
      } else if (this.une.toDoLines > 0) {
        plinePercent = parseInt(
          (parseInt(this.une.lines_counts) / parseInt(this.une.toDoLines)) * 100
        );
        if (plinePercent > 100) plinePercent = 100;
      } else plinePercent = 0;

      return plinePercent;
    },

    omuPercent() {
      let omu = this.une.omu || 0;

      let omuPercet = Number(Number(omu).toFixed(2));

      return omuPercet;
    },

    toDoModels() {
      let model = 0;
      model = this.une.toDoModels || 0;

      return model;
    },

    modelCount() {
      let model = 0;
      model = this.une.models_counts || 0;

      return model;
    },

    toDoLines() {
      let lines = this.une.toDoLines || 0;
      return lines;
    },

    linesCount() {
      let lines = this.une.lines_counts || 0;
      return lines;
    },

    routeQuery() {
      return this.$route.query;
    }
  },
  watch: {
    une: {
      handler: function() {
        this.checkUneData();
        this.checkUneMainData();
      },
      deep: true
    }
  }
};
</script>
