<template>
  <div class="content-mod">
    <div v-if="!isThePageLoaded" class="text-center">
      <h5 class="small-font">
        LOADING
        <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
      </h5>
    </div>
    <div v-else>
      <div class="title-module title-width-buttons design-max-width">
        <h1 class="medium-font uppercase title-width-back-arrow">
          <a href="#" title="Back" class="back-design" @click.prevent="goBack">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
          </a>
          {{name }} | DESIGN DASHBOARD
        </h1>
        <div class="year-buttons year-buttons-design-dashboard">
          <div class="years-wrapper">
            <label for="years" class="small-font">Year:</label>
            <select name="years" id="years" class="small-font" v-model="year" @change="setYear">
              <option value disabled>Year</option>
              <option v-for="(year, index) in years" :key="index" :value="year.year">{{year.year}}</option>
            </select>
          </div>
          <div class="top-buttons-wrapper">
            <button class="small-font" :disabled="filtered == 1" @click="filterBy(1)">All</button>
            <button
              class="small-font capitalize"
              v-for="(season, index) in seasons"
              :key="index"
              :disabled="filtered == season.id"
              @click="filterBy(season.id)"
            >{{ season.name }}</button>
          </div>
        </div>
      </div>
      <div v-show="isMakingRequest" class="search-pagination design-max-width">
        <h6 class="small-font">
          Loading
          <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
        </h6>
      </div>
      <div class="module-content-wrapper">
        <div class="category-wrapper bg-black small-font" v-if="recordsLoaded > 0">
          <div class="category-title-wrapper main-category uppercase">
            <div class="header-section first-space">{{name}}</div>
            <div class="header-section">
              <span>Status:</span>
              <div class="ind-percent-wrapper">
                <div
                  class="circle-indicators"
                  :class="{ 'red-ind-circle' : statusPercent < 100, 'green-ind-circle' : statusPercent >= 100 }"
                ></div>
                <span>
                  <b>{{ statusPercent }}%</b>
                </span>
              </div>
            </div>
            <div class="header-section">
              <span>MODELS:</span>
              <div class="ind-percent-wrapper">
                <div
                  class="circle-indicators"
                  :class="{ 'red-ind-circle' : modelsPercent < 100, 'green-ind-circle' : modelsPercent >= 100 }"
                ></div>
                <span>
                  <b>{{ modelsCount }}/{{ toDoModel }}</b>
                </span>
              </div>
            </div>
            <div class="header-section">
              <span>P. Lines:</span>
              <div class="ind-percent-wrapper">
                <div
                  class="circle-indicators"
                  :class="{ 'red-ind-circle' : linesPercent < 100, 'green-ind-circle' : linesPercent >= 100 }"
                ></div>
                <span>
                  <b>{{ linesCount }}/{{ toDoLines }}</b>
                </span>
              </div>
            </div>
            <div class="header-section">
              <span>OMU:</span>
              <div class="ind-percent-wrapper">
                <div
                  class="circle-indicators"
                  :class="{ 'red-ind-circle' : omuPercent < 100, 'green-ind-circle' : omuPercent >= 100 }"
                ></div>
                <span>
                  <b>{{ omuPercent }}%</b>
                </span>
              </div>
            </div>
            <div class="header-section big-space" v-if="false"></div>
          </div>
        </div>
        <une-category
          v-for="(une, index) in uneCategories"
          :key="index"
          :une="une"
          :index="index"
          :year="year"
        ></une-category>
      </div>
    </div>
  </div>
</template>

<script>
import UneCategory from "./UneCategory.vue";

export default {
  name: "UneDesignDashboard",
  components: {
    UneCategory
  },
  data() {
    return {
      name: "",
      isThePageLoaded: false,
      isMakingRequest: false,
      filtered: 1,
      openInfo: false,
      showMoreDetails: true,
      seasons: [],
      years: [],
      year: "",
      uneCategories: {},
      queries: {},
      yearSetted: false,
      uneId: this.$route.params.id || "",
      totalToDoModels: [],
      totalModelsCount: [],
      totalToDoLines: [],
      totalLinesCount: [],
      totalOmu: []
    };
  },
  created() {
    this.loadSeasons();
    this.loadYears();
  },
  mounted() {
    this.checkRouteQueries();

    let self = this;

    this.$on("addToDoModels", function(value) {
      self.totalToDoModels.push(value);
    });

    this.$on("addModelsCount", function(value) {
      self.totalModelsCount.push(value);
    });

    this.$on("addToDoLines", function(value) {
      self.totalToDoLines.push(value);
    });

    this.$on("addLinesCount", function(value) {
      self.totalLinesCount.push(value);
    });

    this.$on("addToOmu", function(value) {
      self.totalOmu.push(value);
    });
  },
  methods: {
    setYear() {
      console.log("change year");

      localStorage.setItem("year", this.year);
    },
    goBack() {
      this.$router.push("/design-dashboard");
    },

    checkRouteQueries() {
      /*if(this.routeQuery > 0)
                {
                    let yearFromquery     = this.$route.query.year || ""
                    let seasonIdFromquery = this.$route.query.season_id || ""

                    let data = {}

                    if(yearFromquery != "") {
                        this.queries.year = yearFromquery
                        this.year         = parseInt(yearFromquery)
                    }

                    if(seasonIdFromquery != "") {
                        this.queries.season_id = seasonIdFromquery
                        this.filtered          = seasonIdFromquery
                    }

                    this.loadUneObjetives()
                }
                else
                {*/
      this.queries.year = this.year;
      // this.$router.push({query : this.queries})
      this.loadUneObjetives();
      // }
    },

    loadUneObjetives() {
      let self = this;

      self.isMakingRequest = true;

      axios
        .get(URL_SERVER + "/api/objetives/une/" + self.uneId + "/users", {
          params: self.queries
        })
        .then(function(response) {
          self.isMakingRequest = false;
          self.isThePageLoaded = true;
          self.uneCategories = response.data.data;
          self.name = response.data.data.name;

          if (Object.keys(self.uneCategories).length > 0) self.emptyMainData();
          else content.error_msg = "No records found";
        })
        .catch(function(error) {
          self.isMakingRequest = false;
          self.isThePageLoaded = true;
          content.error_msg = "The UNE's objectives were not loaded";
        });
    },

    loadYears() {
      let currentDay = new Date();
      let currentYear = currentDay.getFullYear();

      let data = [
        { year: currentYear - 1 },
        { year: currentYear },
        { year: currentYear + 1 },
        { year: currentYear + 2 }
      ];

      this.years = data;

      let yearSetted = localStorage.getItem("year") || "";

      if (yearSetted != "") this.year = parseInt(yearSetted);
      else {
        localStorage.setItem("year", currentYear + 1);
        this.year = currentYear + 1;
      }

      // if (this.$route.params.year) {
      //   this.year = this.$route.params.year;
      // } else {
      //   this.year = currentYear + 1;
      // }
    },

    loadSeasons() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/seasons/list")
        .then(function(response) {
          self.seasons = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The seasons were not loaded";
        });
    },

    filterBy(index) {
      this.filtered = index;

      if (index == 1) {
        let data = { year: this.year };
        this.queries = data;
        // this.$router.push({query : this.queries})
        this.loadUneObjetives();
      } else {
        this.queries.season_id = index;
        // this.$router.push({query : this.queries})
        this.loadUneObjetives();
      }
    },

    emptyMainData() {
      this.totalToDoModels = [];
      this.totalModelsCount = [];
      this.totalToDoLines = [];
      this.totalLinesCount = [];
    }
  },
  computed: {
    routeQuery() {
      return Object.keys(this.$route.query).length;
    },

    recordsLoaded() {
      return Object.keys(this.uneCategories).length;
    },

    toDoModel() {
      let model = 0;
      for (var i = 0; i < this.totalToDoModels.length; i++) {
        model += this.totalToDoModels[i];
      }

      return model;
    },

    modelsCount() {
      let model = 0;
      for (var i = 0; i < this.totalModelsCount.length; i++) {
        model += this.totalModelsCount[i];
      }

      return model;
    },

    modelsPercent() {
      let modelPercent = 0;

      if (this.toDoModel > 0) {
        modelPercent = parseInt(
          (parseInt(this.modelsCount) / parseInt(this.toDoModel)) * 100
        );
        if (modelPercent > 100) modelPercent = 100;
      }

      return modelPercent;
    },

    toDoLines() {
      let lines = 0;
      for (var i = 0; i < this.totalToDoLines.length; i++) {
        lines += this.totalToDoLines[i];
      }

      return lines;
    },

    linesCount() {
      let lines = 0;
      for (var i = 0; i < this.totalLinesCount.length; i++) {
        lines += this.totalLinesCount[i];
      }

      return lines;
    },

    linesPercent() {
      let linesPercent = 0;

      if (this.toDoLines > 0) {
        linesPercent = parseInt(
          (parseInt(this.linesCount) / parseInt(this.toDoLines)) * 100
        );
        if (linesPercent > 100) linesPercent = 100;
      }

      return linesPercent;
    },

    statusPercent() {
      let percent = 0;
      percent = parseInt((this.modelsPercent + this.linesPercent) / 2);

      return percent;
    },

    omuPercent() {
      let percent = 0;
      let counter = 0;
      for (var i = 0; i < this.totalOmu.length; i++) {
        counter++;
        percent += this.totalOmu[i];
      }

      if (percent > 0) percent = Number(percent / counter.toFixed(2));

      return percent;
    }
  },
  watch: {
    year() {
      if (this.yearSetted) {
        this.queries.year = this.year;
        // this.$router.push({query : this.queries})
        this.loadUneObjetives();
      } else this.yearSetted = true;
    }
  }
};
</script>

