<template>
    <div class="body-and-trim-wrapper flex-end">
        <div class="columns-direction body-input-wrapper">
            <label class="small-font">{{ indexChild | body}}</label>
            <input type="text" class="form-product" :placeholder="indexChild | body" v-model="body.body">
        </div>
        <button v-if="bodiesQty > 1" title="Remove" @click="removeBody" class="btn-remove btn-remove-product-line">
            <i class="fa fa-times" aria-hidden="true"></i> Remove
        </button>
    </div>
</template>

<script>
export default {
    name : "Body",
    props: ["body", "indexChild", "indexParent", "bodiesQty", "productLine"],
    data(){
        return {
            productLineInside : this.productLine || false
        }
    },
    filters: {
        body(value){
            return "Body " + (value +1)
        }
    },
    mounted(){

        this.transformId()
    },
    methods: {

        transformId(){

            if(this.body.body_id != null) {

                if(Object.keys(this.body.body_id).length > 2) {

                    let self = this

                    let body = self.bodys.filter(body => body.id == self.body.body_id)

                    console.log("body", body)

                    if(body.length > 0)
                        self.body.body_id = body[0];

                }
            }
        },

        removeBody(){

            if(this.productLineInside) {

                let data = {
                    index : this.indexChild
                }

                this.$parent.$emit("removeColorCardsBody", data)
            }
            else
            {
                let data = {
                    indexParent : this.indexParent,
                    indexChild  : this.indexChild
                }

                this.$parent.$parent.$emit("removeBody", data)
            }
        }
    }
}
</script>
