<template>
    <div class="gray-arrow">
        <div class="one-of-two">
            <body-item v-for="(body, index) in bodyTrimItem.bodies" :key="index"
                :body="body" :indexParent="0" :indexChild="index" :bodiesQty="bodyTrimItem.bodies.length"></body-item>
        </div>
        <div class="one-of-two">
            <trim-item v-for="(trim, index) in bodyTrimItem.trims" :key="index"
                :trim="trim" :indexParent="0" :indexChild="index" :trimsQty="bodyTrimItem.trims.length"></trim-item>
        </div>
    </div>
</template>

<script>

    import BodyItem from './Body.vue'
    import TrimItem from './Trim.vue'

    export default {
        name : "BodyTrim",
        props: ["bodyTrimItem", "index"],
        components: {
            BodyItem,
            TrimItem
        },
        methods: {

            addBodyTrimColorCards(){
                this.$parent.$emit("addBodyTrimColorCards")
            },

            removeBodyTrimColorCards(){
                this.$parent.$emit("removeBodyTrimColorCards", this.index)
            }
        }
    }
</script>