<template>
    <div>
        <div class="gray-arrow flex-end">
            <div class="one-of-three columns-direction">
                <label class="small-font">Name: </label>
                <vue-select class="small-font uppercase"
                    v-model="combination.color_id"
                    label="name"
                    :options="colors"
                    placeholder="Color"
                    ></vue-select>
            </div>
            <div class="one-of-three btn-add-body-trim">
                <button title="Add body" @click="addBody" class="btn-product-line">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add body
                </button>
                <button title="Add trim" @click="addTrim" class="btn-product-line">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add trim
                </button>
            </div>
            <div class="one-of-three text-center">
                <button v-if="combinationsQty > 1" title="Remove combination" @click="removeCombination" class="btn-remove btn-remove-product-line">
                    <i class="fa fa-times" aria-hidden="true"></i> Remove combination
                </button>
            </div>
        </div>
        <div class="gray-arrow bodies-and-trims-wrapper">
            <div class="one-of-two">
                <body-item v-for="(body, index) in combination.bodies" :key="index"
                    :body="body" :indexParent="indexParent" :productLine="false" :indexChild="index" :bodiesQty="combination.bodies.length"></body-item>
            </div>
            <div class="one-of-two">
                <trim-item v-for="(trim, index) in combination.trims" :key="index"
                    :trim="trim" :indexParent="indexParent" :productLine="false" :indexChild="index" :trimsQty="combination.trims.length"></trim-item>
            </div>
        </div>
    </div>
</template>

<script>

    import BodyItem from './Body.vue'
    import TrimItem from './Trim.vue'
    import VueSelect from 'vue-select'

    export default {
        name : "Comination",
        props: ["combination", "colors", "indexParent", "combinationsQty"],
        components: {
            BodyItem,
            TrimItem,
            VueSelect
        },
         created(){

            this.transformId()
        },
        updated(){

            this.transformId()
        },
        methods: {

            transformId(){

                let self = this

                if(this.combination.color_id != null) {

                    let combination = self.colors.filter(color => color.id == self.combination.color_id)

                    if(combination.length > 0)
                        self.combination.color_id = combination[0];
                }
            },

            removeCombination(){

                this.$parent.$emit("removeCombination", this.indexParent)
            },

            addBody(){
                this.$parent.$emit("addBody", this.indexParent)
            },

            addTrim(){
                this.$parent.$emit("addTrim", this.indexParent)
            }
        }
    }
</script>