<template>
    <div class="image-wrapper">
        <img v-if="!picture.uploading" :src="picture.img" :alt="picture.name" class="img-sample">
        <img v-else :src="url_server + picture.img" class="img-sample">
        <a href="#" @click.prevent="deleteImage" class="remove-lnk" title="Remove">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </div>
</template>

<script>
export default {
    name : "ImageList",
    props: ["picture", "index", "type"],
    data(){
        return {
            url_server : URL_SERVER,
        }
    },
    methods : {

        deleteImage(){

            let self = this

            let data = {
                type : self.type,
                index : self.index
            }

            let fromServer = this.picture.image_id || ""

            if(fromServer != '')
                data.image_id = fromServer

            self.$parent.$emit("deleteImage", data)
        }
    }
}
</script>
