<template>
    <div class="body-and-trim-wrapper flex-end">
        <div class="columns-direction body-input-wrapper">
            <label class="small-font">{{ indexChild | lining}}</label>
            <input type="text" class="form-product" :placeholder="indexChild | lining" v-model="lining.lining">
        </div>
        <button v-if="liningsQty > 1" title="Remove" @click="removeLining" class="btn-remove btn-remove-product-line">
            <i class="fa fa-times" aria-hidden="true"></i> Remove
        </button>
    </div>
</template>

<script>
export default {
    name : "Lining",
    props: ["lining", "indexChild", "liningsQty"],
    filters: {
        lining(value){
            return "Lining " + (value +1)
        }
    },
    methods: {

        removeLining(){

            let data = {
                index : this.indexChild
            }

            this.$parent.$emit("removeLining", data)
        }
    }
}
</script>
