<template>
    <div class="gray-arrow">
        <div class="one-of-three columns-direction">
            <label class="small-font">Match: </label>
            <vue-select class="small-font uppercase"
                v-model="match.une_id"
                label="name"
                :options="unes"
                placeholder="UNE"
                ></vue-select>
        </div>
        <div class="one-of-three align-left">
            <button v-if="matchQty > 1" title="Remove" @click="removeShape" class="btn-remove btn-remove-product-line">
                <i class="fa fa-times" aria-hidden="true"></i> Remove
            </button>
        </div>
    </div>
</template>

<script>

    import VueSelect from 'vue-select'

    export default {
        name : "Match",
        props: ["match", "index", "matchQty", "unes"],
        components: {
            VueSelect
        },
        created(){

            this.transformId()
        },
        updated(){

            this.transformId()
        },
        methods: {

            transformId(){

                let self = this

                if(this.match.une_id != null) {

                    let match = self.unes.filter(une => une.id == self.match.une_id)

                    if(match.length > 0)
                        self.match.une_id = match[0];
                }
            },

            removeShape(){
                this.$parent.$emit("removeMatch", this.index)
            }
        }
    }
</script>