<template>
  <div class="models-wrapper">
    <div class="model-wrapper">
      <div class="model-serie">
        <span class="uppercase">
          <template v-if="model.model != ''">Model: {{model.model}}</template>
        </span>
        <button
          title="Remove"
          @click="removeModel"
          v-if="!isItAdmin"
          class="btn-remove btn-remove-product-line"
        >
          <i class="fa fa-times" aria-hidden="true"></i> Remove model
        </button>
      </div>
      <div class="model-details-wrapper">
        <div class="image-model-detail">
          <input
            type="file"
            accept="image/*"
            @change="showImage"
            v-show="false"
            :id="'model'+index"
          >
          <button
            title="Add image"
            class="btn-product-line"
            for="materials_and_colors"
            @click="openInput"
          >
            Add image
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
          </button>
          <a
            href="#"
            v-if="model.image"
            @click.prevent="deleteImage"
            class="remove-lnk"
            title="Remove"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
          <div class="image-wrapper" style="display: block" v-if="model.image">
            <img
              v-if="newImage"
              :src="model.image"
              @error="pictureNotLoaded = true"
              class="img-sample"
              :class="{'hide' : pictureNotLoaded}"
            >
            <img
              v-else
              :src="url_server + model.image"
              @error="pictureNotLoaded = true"
              class="img-sample"
              :class="{'hide' : pictureNotLoaded}"
            >
            <img
              v-if="pictureNotLoaded"
              src="http://via.placeholder.com/220x220"
              alt="Cloe - Design Book"
              class="img-sample"
            >
          </div>
        </div>
        <div class="selects-model-detail">
          <div class="input-wrapper">
            <label>UNE:</label>
            <vue-select
              class="uppercase"
              v-model="model.une_id"
              label="name"
              :options="unes"
              placeholder="UNE"
            ></vue-select>
          </div>
          <div class="input-wrapper">
            <label>Shape:</label>
            <vue-select
              class="uppercase"
              v-model="model.shape_id"
              label="name"
              :options="shapesTruncated"
              @input="calcPricePoint"
              placeholder="SHAPE"
            ></vue-select>
          </div>
          <div class="input-wrapper">
            <label>Sample Color:</label>
            <vue-select
              class="uppercase"
              v-model="model.color_id"
              label="name"
              :options="colors"
              placeholder="COLOR"
            ></vue-select>
          </div>

          <div class="input-wrapper">
            <label>Dimensions:</label>
            <vue-select
              class="uppercase"
              v-model="dimension_id"
              label="name"
              :options="dimensions"
              @input="calcPricePoint"
              placeholder="DIMENSIONS"
            ></vue-select>
          </div>
          <div class="input-wrapper">
            <label>Size:</label>
            <vue-select
              class="uppercase"
              v-model="size_id"
              label="name"
              :options="sizes"
              placeholder="SIZES"
            ></vue-select>
          </div>
        </div>
        <div class="price-model-details">
          <div class="input-wrapper">
            <label>
              <strong>Price Point:</strong>
            </label>
            <input type="number" class="input-form" placeholder="$" v-model="model.price_point">
          </div>
          <div class="input-wrapper">
            <label>
              <strong>Supplier Ref Cost:</strong>
            </label>
            <input type="number" class="input-form" placeholder="$" v-model="model.supplier_cost">
          </div>
          <div class="input-wrapper">
            <label for="Special Label">
              <strong>Special Label:</strong>
            </label>
            <input
              v-model="model.special_label"
              type="text"
              placeholder="Special Label"
              class="input-form"
            >
          </div>
          <div class="select-input-model-wrapper">
            <div class="product-line-prices-data">
              <span>Price in Mexico: {{factor | money}} MXN</span>
              <span>Target: $0.00 USD</span>
              <span>
                OMU: {{omuPercent}}%
                <div
                  class="circle-indicators"
                  :class="{ 'red-ind-circle' : omuPercent < model.une_id.omuObjetive,
                                    'green-ind-circle' : omuPercent >= model.une_id.omuObjetive }"
                ></div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="model-bottom-wrapper">
        <textarea name="notes" id="notes" class="memo" placeholder="info..." v-model="model.info"></textarea>
      </div>
    </div>
    <div class="bottom-wrapper models-margin-bottom" v-if="!isItAdmin">
      <button
        v-if="model.model_id == ''"
        class="btn-blue"
        @click="saveModel"
        :disabled="isMakingRequest"
      >
        Save model
        <i class="fa fa-spinner fa-pulse" v-show="isMakingRequest" aria-hidden="true"></i>
      </button>
      <button v-else class="btn-blue" @click="updateModel" :disabled="isMakingRequest">
        Update model
        <i class="fa fa-spinner fa-pulse" v-show="isMakingRequest" aria-hidden="true"></i>
      </button>
      <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
      <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
    </div>
  </div>
</template>

<script>
import VueSelect from "vue-select";

export default {
  name: "Model",
  props: [
    "model",
    "colors",
    "shapes",
    "unes",
    "index",
    "modelsQty",
    "line_id",
    "client_id",
    "season_id",
    "sub_brand_id",
    "year",
    "family_id",
    "price_id"
  ],
  components: {
    VueSelect
  },
  data() {
    return {
      pictureNotLoaded: false,
      isMakingRequest: false,
      errorMsg: "",
      successMsg: "",
      url_server: URL_SERVER,
      newImage: true,
      omu: 0,
      factor: 0,
      target: 0,
      isItAdmin: true,
      sizes: [],
      size_id: "",
      dimensions: [],
      dimension_id: "",
      firstLoadDimensions: true,
      firstLoadSizes: true
    };
  },
  filters: {
    money(value) {
      var numberValue = Number(value);

      var parts = numberValue
        .toFixed(2)
        .toString()
        .split(".");
      var num =
        parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
        (parts[1] ? "." + parts[1] : "");
      var currency = "$" + num;
      return currency;
    }
  },
  created() {
    let fromServer = this.model.model_id || "";

    if (fromServer != "") this.newImage = false;

    this.setOmu();
    this.transformId();
  },
  mounted() {
    this.isItAdmin = !window.isDesigner();
    console.log(window.isAdmin());
  },
  updated() {
    this.transformId();
  },
  methods: {
    calcPricePoint() {
      let self = this;
      console.log(this.model.une_id);

      if (this.model.shape_id.id != null && this.dimension_id.id != null) {
        let query = `?une_id=${self.model.une_id.id}&sub_brand_id=${
          self.sub_brand_id.id
        }&family_id=${self.family_id}&price_id=${self.price_id}&shape_id=${
          self.model.shape_id.id
        }&dimension_id=${self.dimension_id.id}`;

        console.log(query);

        axios
          .get(URL_SERVER + "/api/models/getpricepoint" + query)
          .then(result => {
            if (result.data.pricePoint.price_point > 0) {
              this.model.price_point = result.data.pricePoint.price_point;
            }
          })
          .catch(error => {
            console.log(result);
          });
      }
    },
    loadDimensions() {
      let self = this;

      if (this.model.une_id != null) {
        let uneId = this.model.une_id.id || this.model.une_id;

        if (window.navigator.onLine) {
          axios
            .get(URL_SERVER + "/api/dimensions/une/" + uneId)
            .then(function(response) {
              self.dimension_id = "";
              self.dimensions = response.data.data;
              self.sizes = [];
              self.size_id = "";

              if (self.firstLoadDimensions) self.transformDimensionObjectToId();
              else self.firstLoadDimensions = true;

              let data = {
                id: uneId,
                data: response.data.data
              };

              writeData("dimensions", data).then(
                console.log("Setted dimension")
              );
            })
            .catch(function(error) {
              content.error_msg = "The dimensions were not loaded";
            });
        } else {
          readItemData("dimensions", uneId)
            .then(function(data) {
              self.dimension_id = "";
              self.dimensions = data.data;
              self.sizes = [];
              self.size_id = "";

              if (self.firstLoadDimensions) self.transformDimensionObjectToId();
              else self.firstLoadDimensions = true;
            })
            .catch(function(error) {
              content.error_msg = "The dimensions were not founded";
            });
        }
      }
    },
    loadSizes() {
      let self = this;

      if (this.dimension_id != null && this.dimension_id != "") {
        let dimensionId = this.dimension_id.id;

        if (window.navigator.onLine) {
          axios
            .get(URL_SERVER + "/api/dimensions/" + dimensionId + "/sizes")
            .then(function(response) {
              self.sizes = [];
              self.size_id = "";
              self.sizes = response.data.data;

              if (self.firstLoadSizes) self.transformSizeObjectToId();
              else self.firstLoadSizes = true;

              let data = {
                id: dimensionId,
                data: response.data.data
              };
              writeData("sizes", data).then(console.log("Setted sizes"));
            })
            .catch(function(error) {
              content.error_msg = "The sizes were not loaded";
            });
        } else {
          readItemData("sizes", dimensionId)
            .then(function(data) {
              self.sizes = [];
              self.size_id = "";
              self.sizes = data.data;

              if (self.firstLoadSizes) self.transformSizeObjectToId();
              else self.firstLoadSizes = true;
            })
            .catch(function(error) {
              content.error_msg = "The dimensions were not founded";
            });
        }
      }
    },
    transformDimensionObjectToId() {
      let self = this;

      let dimension = self.dimensions.filter(
        dimension => dimension.id == self.model.dimension_id
      );

      if (dimension.length > 0) self.dimension_id = dimension[0];
    },
    transformSizeObjectToId() {
      let self = this;

      let size = self.sizes.filter(size => size.id == self.model.size_id);

      if (size.length > 0) self.size_id = size[0];
    },
    transformId() {
      let self = this;

      if (this.model.color_id != null) {
        let color = self.colors.filter(
          color => color.id == self.model.color_id
        );

        if (color.length > 0) self.model.color_id = color[0];
      }

      if (this.model.une_id != null) {
        let une = self.unes.filter(une => une.id == self.model.une_id);

        if (une.length > 0) self.model.une_id = une[0];
      }

      if (this.model.shape_id != null) {
        let shape = self.shapes.filter(
          shape => shape.id == self.model.shape_id
        );

        if (shape.length > 0) self.model.shape_id = shape[0];
      }
    },
    setOmu() {
      let self = this;

      let une;

      if (this.model.une_id != "" && this.model.une_id != null) {
        let uneId = self.model.une_id.id || self.model.une_id;

        une = this.unes.filter(function(une) {
          return une.id == uneId;
        });

        if (une.length > 0) {
          self.omu = une[0].omu;
          let factor = une[0].factor;
          self.factor = Number(factor * this.model.supplier_cost).toFixed(2);
        }
      }
    },
    openInput() {
      let self = this;
      document.getElementById("model" + self.index).click();
    },
    showImage() {
      let self = this;

      var inputFile = document.getElementById("model" + self.index);
      var files = inputFile.files;
      var filesArr = Array.prototype.slice.call(files);

      if (filesArr.length < 1) {
        return false;
      } else {
        filesArr.forEach(function(f, index) {
          var f = files[index];
          if (!f.type.match("image.*")) {
            return;
          }

          var reader = new FileReader();
          reader.onload = function(e) {
            self.model.image = e.target.result;
            self.newImage = true;

            inputFile.value = "";

            // Waiting for filesize request
            return;

            let fileSize = Math.round(f.size / 1024);
            let megaSize = parseFloat(Number(fileSize / 1024).toFixed(2));

            if (
              self.picturesSize + megaSize >= self.maxFileSize ||
              megaSize >= 2
            )
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: true,
                size: megaSize
              });
            else
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: false,
                size: megaSize
              });
          };
          reader.readAsDataURL(f);
        });
      }
    },
    deleteImage() {
      let fromServer = this.model.model_id || "";

      if (fromServer != "") {
        this.$parent.$emit("deleteImageServer", this.index);
      } else {
        this.$parent.$emit("deleteImageModel", this.index);
      }
    },
    removeModel() {
      let self = this;

      let data = {
        line_id: self.line_id,
        index: self.index
      };

      let fromServer = this.model.model_id || "";

      if (fromServer != "") {
        axios
          .delete(URL_SERVER + "/api/models/" + self.model.model_id, data)
          .then(function(response) {
            self.$parent.$emit("moveToPage");
          })
          .catch(function(error) {
            if (error.response.status == 500) {
              self.errorMsg =
                error.response.data.message ||
                "The model couldn't be removed, please try later";
            } else if (error.response.status == 422) {
              self.errorMsg =
                window.processStrJson(error.response.data.errors) ||
                "The model couldn't be removed, please try later";
            } else {
              self.errorMsg = "The model couldn't be removed, please try later";
            }
          });
      } else {
        this.$parent.$emit("removeModel", this.index);
      }
    },

    saveModel() {
      console.log("saveModel");

      let self = this;
      self.errorMsg = "";
      self.successMsg = "";
      self.isMakingRequest = true;

      if (self.model.image == null) self.errorMsg = "Enter a valid image";

      if (self.model.price_point == "")
        self.errorMsg = "Enter a valid price point";

      if (self.model.supplier_cost == "")
        self.errorMsg = "Enter a valid supplier cost";

      if (self.model.shape_id == "") self.errorMsg = "Enter a valid shape";

      if (self.model.color_id == "") self.errorMsg = "Enter a valid color";

      if (self.model.une_id == "") self.errorMsg = "Enter a valid une";

      if (self.dimension_id == "") self.errorMsg = "Enter a valid dimension";

      if (self.size_id == "") self.errorMsg = "Enter a valid size";

      if (self.errorMsg != "") {
        self.isMakingRequest = false;
        return;
      }

      let data = {
        line_id: self.line_id,
        color_id: self.model.color_id.id,
        une_id: self.model.une_id.id,
        shape_id: self.model.shape_id.id,
        dimension_id: self.dimension_id.id,
        size_id: self.size_id.id,
        supplier_cost: self.model.supplier_cost,
        price_point: self.model.price_point,
        info: self.model.info,
        image: self.model.image,
        omu_percent: self.omuPercent,
        // mhpm ///////////////////////////////////////////////////////////////////////////////////////////////
        special_label: self.model.special_label,
        client_id: self.client_id.id,
        season_id: self.season_id.id,
        sub_brand_id: self.sub_brand_id,
        year: self.year.year
      };
      console.log(data);

      if (window.navigator.onLine) {
        axios
          .post(URL_SERVER + "/api/models", data)
          .then(function(response) {
            self.isMakingRequest = false;
            self.successMsg = "The model was saved";
            self.model.model_id = response.data.data.model_id;

            setTimeout(function() {
              self.successMsg = "";
            }, 3000);

            self.$parent.$emit("modelCreated");
          })
          .catch(function(error) {
            self.isMakingRequest = false;

            if (error.response.status == 500) {
              self.errorMsg =
                error.response.data.message ||
                "The model couldn't be saved, please try later";
            } else if (error.response.status == 422) {
              self.errorMsg =
                window.processStrJson(error.response.data.errors) ||
                "The model couldn't be saved, please try later";
            } else {
              self.errorMsg = "The model couldn't be saved, please try later";
            }
          });
      } else {
        let dataLocal = {
          id: self.line_id,
          data: data
        };

        writeData("sync-models", dataLocal)
          .then(function() {
            console.log("Setted models");
            self.isMakingRequest = false;
            self.successMsg = "The model was saved waiting for Internet";

            setTimeout(function() {
              self.successMsg = "";
            }, 3000);
          })
          .catch(error => console.log(`Model not saved ${error}`));
      }
    },

    updateModel() {
      let self = this;

      self.errorMsg = "";
      self.successMsg = "";
      self.isMakingRequest = true;

      if (self.model.image == null) {
        self.errorMsg = "Enter a valid image";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.color_id == "") {
        self.errorMsg = "Enter a valid color";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.une_id == "") {
        self.errorMsg = "Enter a valid UNE";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.shape_id == "") {
        self.errorMsg = "Enter a valid shape";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.supplier_cost == "") {
        self.errorMsg = "Enter a valid supplier cost";
        self.isMakingRequest = false;
        return;
      }

      if (self.dimension_id == "") {
        self.errorMsg = "Enter a valid dimension";
        self.isMakingRequest = false;
        return;
      }

      if (self.size_id == "") {
        self.errorMsg = "Enter a valid size";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.price_point == "") {
        self.errorMsg = "Enter a valid price point";
        self.isMakingRequest = false;
        return;
      }

      if (self.model.special_label == "") {
        self.errorMsg = "Enter a special label";
        self.isMakingRequest = false;
        return;
      }

      let data = {
        line_id: self.line_id,
        model_id: self.model.model_id,
        color_id: self.model.color_id.id,
        une_id: self.model.une_id.id,
        shape_id: self.model.shape_id.id,
        dimension_id: self.dimension_id.id,
        size_id: self.size_id.id,
        supplier_cost: self.model.supplier_cost,
        price_point: self.model.price_point,
        info: self.model.info,
        omu_percent: self.omuPercent,
        // mhpm ///////////////////////////////////////////////////////////////////////////////////////////////
        special_label: self.model.special_label,
        client_id: self.client_id.id,
        season_id: self.season_id.id,
        sub_brand_id: self.sub_brand_id,
        year: self.year.year
      };

      console.log("update model");

      console.log(data);

      let storageServer = self.model.image.split("/")[1];

      if (storageServer != "storage") {
        data.image = self.model.image;
      }

      axios
        .put(URL_SERVER + "/api/models/" + self.model.model_id, data)
        .then(function(response) {
          self.isMakingRequest = false;
          self.successMsg = "The model was successfully updated";
          self.model.model = response.data.data.model;

          setTimeout(function() {
            self.successMsg = "";
          }, 3000);
        })
        .catch(function(error) {
          self.isMakingRequest = false;

          if (error.response.status == 500) {
            self.errorMsg =
              error.response.data.message ||
              "The model couldn't be updated, please try later";
          } else if (error.response.status == 422) {
            self.errorMsg =
              window.processStrJson(error.response.data.errors) ||
              "The model couldn't be updated, please try later";
          } else {
            self.errorMsg = "The model couldn't be updated, please try later";
          }
        });
    }
  },
  computed: {
    shapesTruncated() {
      let shapesTruncated = [];

      shapesTruncated = this.shapes.map(function(x) {
        let data = {
          id: x.id,
          name: x.name.toString().substring(0, 14)
        };

        return data;
      });

      return shapesTruncated;
    },

    omuPercent() {
      let omuPercet = 0;

      if (this.model.supplier_cost != "" && this.model.price_point != "") {
        omuPercet =
          1 -
          (Number(this.model.une_id.factor) *
            Number(this.model.supplier_cost)) /
            (Number(this.model.price_point) /
              Number(this.model.une_id.marcado));
      }

      omuPercet = Number(omuPercet.toFixed(2) * 100);

      return omuPercet.toFixed(2);
    }
  },
  watch: {
    "model.image"() {
      if (this.model.image != null) {
        let storageServer = this.model.image.split("/")[1] || "";
        this.newImage = storageServer != "storage";
      }
    },

    "model.supplier_cost"() {
      this.setOmu();
    },

    "model.une_id": {
      handler: function() {
        this.setOmu();
        this.loadDimensions();
      },
      deep: true
    },

    dimension_id: {
      handler: function() {
        this.loadSizes();
      },
      deep: true
    }
  }
};
</script>



