<template>
    <div class="body-and-trim-wrapper flex-end">
        <div class="columns-direction body-input-wrapper">
            <label class="small-font">{{ indexChild | outsole}}</label>
            <input type="text" class="form-product" :placeholder="indexChild | outsole" v-model="outsole.outsole">
        </div>
        <button v-if="outsolesQty > 1" title="Remove" @click="removeOutsole" class="btn-remove btn-remove-product-line">
            <i class="fa fa-times" aria-hidden="true"></i> Remove
        </button>
    </div>
</template>

<script>
export default {
    name : "Outsoles",
    props: ["outsole", "indexChild", "outsolesQty"],
    filters: {
        outsole(value){
            return "Outsole " + (value +1)
        }
    },
    methods: {

        removeOutsole(){

            let data = {
                index : this.indexChild
            }

            this.$parent.$emit("removeOutsole", data)
        }
    }
}
</script>
