<template>
  <div class="content-mod">
    <div v-if="!isThePageLoaded" class="text-center">
      <h5 class="small-font">
        LOOADING
        <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
      </h5>
    </div>
    <div v-else class="general-wrapper">
      <div class="title-module title-width-buttons design-max-width">
        <h1 class="medium-font">PRODUCT LINE DESIGN SHEET</h1>
      </div>
      <div class="module-content-wrapper design-max-width product-line-wrapper">
        <div class="gray-square">
          <div class="gray-arrow">
            <div class="one-of-three columns-direction">
              <label for="years" class="small-font">Year:</label>
              <vue-select class="small-font" v-model="year" label="label" :options="years"></vue-select>
            </div>
          </div>

          <div class="gray-arrow">
            <div class="one-of-three columns-direction">
              <label class="small-font">Season:</label>
              <vue-select
                class="small-font uppercase"
                v-model="season_id"
                label="name"
                :options="seasons"
                placeholder="SEASON"
              ></vue-select>
            </div>
            <div class="one-of-three columns-direction">
              <label class="small-font">Trend:</label>
              <vue-select
                class="small-font uppercase"
                v-model="trend_id"
                label="name"
                :options="trends"
                placeholder="TRENDS"
              ></vue-select>
            </div>
            <div class="one-of-three columns-direction">
              <label class="small-font">Client:</label>
              <vue-select
                class="small-font uppercase"
                v-model="client_id"
                label="name"
                :options="clients"
                placeholder="CLIENT"
              ></vue-select>
            </div>
          </div>
          <div class="gray-arrow">
            <!-- <div class="one-of-three columns-direction">
                            <label class="small-font">Product line: </label>
                            <input type="text" class="form-product" placeholder="Product line" v-model="product_line" readonly>
            </div>-->
            <div class="one-of-three columns-direction">
              <label class="small-font">Project:</label>
              <input type="text" class="form-product" placeholder="Project" v-model="project">
            </div>
            <div class="one-of-three flex-div">
              <div class="families-and-prices-product-wrapper">
                <label class="small-font">F:</label>
                <select name="family" id="family" class="small-font uppercase" v-model="family_id">
                  <option value disabled>F</option>
                  <option
                    v-for="(family, index) in families"
                    :key="index"
                    :value="family.id"
                  >{{family.name}}</option>
                </select>
              </div>
              <div class="families-and-prices-product-wrapper">
                <label class="small-font">P:</label>
                <select name="price" id="price" class="small-font uppercase" v-model="price_id">
                  <option value disabled>P</option>
                  <option
                    v-for="(price, index) in prices"
                    :key="index"
                    :value="price.id"
                  >{{price.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="gray-arrow">
            <div class="one-of-three columns-direction">
              <label class="small-font">Supplier:</label>
              <vue-select
                class="small-font uppercase"
                v-model="supplier_id"
                label="name"
                :options="suppliers"
                placeholder="Supplier"
              ></vue-select>
            </div>
            <div class="one-of-three columns-direction">
              <label class="small-font">Sub-Brand:</label>
              <vue-select
                class="small-font uppercase"
                v-model="sub_brand_id"
                label="name"
                :options="subBrands"
                placeholder="Sub-brand"
              ></vue-select>
            </div>
          </div>
          <hr class="white-sep">
          <div class="gray-arrow">
            <div class="one-of-three">
              <label class="small-font black-color uppercase">
                <b>Matches UNE:</b>
              </label>
            </div>
            <div class="one-of-three blank-spaces"></div>
            <div class="one-of-three flex-right">
              <button title="Add Match" @click="addNewMatch" class="btn-product-line">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Match
              </button>
            </div>
          </div>
          <match
            v-for="(match, index) in matchArray"
            :key="index"
            :match="match"
            :index="index"
            :matchQty="matchArray.length"
            :unes="unes"
          ></match>
          <hr class="white-sep">
          <div class="gray-arrow">
            <div class="one-of-three">
              <label class="small-font uppercase">
                <b>Color Cards:</b>
              </label>
            </div>
            <div class="one-of-three blank-spaces btn-add-body-trim">
              <button title="Add body" @click="addBodyColorCard" class="btn-product-line">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add body
              </button>
              <button title="Add trim" @click="addTrimColorCard" class="btn-product-line">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add trim
              </button>
            </div>
            <div class="one-of-three flex-right"></div>
          </div>
          <div class="gray-arrow bodies-and-trims-wrapper">
            <div class="one-of-two">
              <body-item
                v-for="(body, index) in colorsCards.bodies"
                :key="index"
                :body="body"
                :indexParent="0"
                :productLine="true"
                :indexChild="index"
                :bodiesQty="colorsCards.bodies.length"
              ></body-item>
            </div>
            <div class="one-of-two">
              <trim-item
                v-for="(trim, index) in colorsCards.trims"
                :key="index"
                :trim="trim"
                :indexParent="0"
                :productLine="true"
                :indexChild="index"
                :trimsQty="colorsCards.trims.length"
              ></trim-item>
            </div>
          </div>
          <hr class="white-sep">
          <div class="gray-arrow">
            <div class="one-of-three">
              <label class="small-font uppercase">
                <b>Lining &amp; Outsoles:</b>
              </label>
            </div>
            <div class="one-of-three btn-add-body-trim">
              <button title="Add body" @click="addLining" class="btn-product-line">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Lining
              </button>
              <button title="Add trim" @click="addOutsoles" class="btn-product-line">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Outsoles
              </button>
            </div>
            <div class="one-of-three"></div>
          </div>
          <div class="gray-arrow bodies-and-trims-wrapper">
            <div class="one-of-two">
              <lining-item
                v-for="(lining, index) in linings"
                :key="index"
                :lining="lining"
                :indexChild="index"
                :liningsQty="linings.length"
              ></lining-item>
            </div>
            <div class="one-of-two">
              <outsole-item
                v-for="(outsole, index) in outsoles"
                :key="index"
                :outsole="outsole"
                :indexChild="index"
                :outsolesQty="outsoles.length"
              ></outsole-item>
            </div>
          </div>
          <hr class="white-sep">
          <div class="gray-arrow">
            <div class="one-of-three">
              <label class="small-font uppercase">
                <b>Combinations:</b>
              </label>
            </div>
            <div class="one-of-three full-button">
              <button
                title="Add new combination"
                class="btn-product-line"
                @click="addNewCombination"
              >Add new combination</button>
            </div>
          </div>
          <combination
            v-for="(combination, index) in combinations"
            :key="'B'+index"
            :indexParent="index"
            :combination="combination"
            :colors="colors"
            :combinationsQty="combinations.length"
          ></combination>
        </div>
        <div class="materials-references">
          <div class="materials-colors-wrapper">
            <div class="title-and-button">
              <h4>Materials &amp; color:</h4>
              <div>
                <input
                  type="file"
                  accept="image/*"
                  @change="showImages"
                  v-show="false"
                  id="materials"
                  multiple
                >
                <button
                  title="Add image"
                  class="btn-product-line"
                  for="materials"
                  @click="openInput"
                >
                  Add image
                  <i class="fa fa-file-image-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="body-images">
              <div
                v-if="materialsList.length < 1 && materialsServer.length < 1 "
                class="image-wrapper"
              >
                <img
                  src="http://via.placeholder.com/350x150?text=Load+an+image"
                  alt
                  class="img-sample"
                >
              </div>
              <template v-else>
                <image-list
                  v-for="(picture, index) in materialsServer"
                  :key="index"
                  :index="index"
                  :picture="picture"
                  :type="1"
                ></image-list>
                <image-list
                  v-for="(picture, index) in materialsList"
                  :key="'B'+index"
                  :index="index"
                  :picture="picture"
                  :type="1"
                ></image-list>
              </template>
            </div>
            <div class="input-wrapper">
              <label>Notes:</label>
              <textarea name="codes" id="codes" class="memo" v-model="codes" placeholder="Notes"></textarea>
            </div>
          </div>
          <div class="references-wrapper">
            <div class="title-and-button">
              <h4>References:</h4>
              <div>
                <input
                  type="file"
                  accept="image/*"
                  @change="showReferencesImages"
                  v-show="false"
                  id="references"
                  multiple
                >
                <button
                  title="Add image"
                  class="btn-product-line"
                  for="references"
                  @click="openInputreference"
                >
                  Add image
                  <i class="fa fa-file-image-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="body-images">
              <div
                class="image-wrapper"
                v-if="referencesList.length < 1 && referencesServer.length < 1"
              >
                <img
                  src="http://via.placeholder.com/350x150?text=Load+an+image"
                  alt
                  class="img-sample"
                >
              </div>
              <template v-else>
                <image-list
                  v-for="(picture, index) in referencesServer"
                  :key="index"
                  :index="index"
                  :picture="picture"
                  :type="2"
                ></image-list>
                <image-list
                  v-for="(picture, index) in referencesList"
                  :key="'B'+index"
                  :index="index"
                  :picture="picture"
                  :type="2"
                ></image-list>
              </template>
            </div>
            <div class="input-wrapper small-font">
              <label for>Notes:</label>
              <textarea name="codes" id="codes" class="memo" placeholder="info..." v-model="info"></textarea>
            </div>
          </div>
        </div>
        <div class="general-notes-wrapper">
          <h2 class="general-title">General Notes</h2>
          <div class="general-notes">
            <div class="input-group">
              <div class="input-wrapper">
                <label for="Painting">Painting</label>
                <input type="text" class="input-form" placeholder="Painting" v-model="painting">
              </div>
              <div class="input-wrapper">
                <label for="Zipper">Zipper</label>
                <input type="text" class="input-form" placeholder="Zipper" v-model="zipper">
              </div>
              <div class="input-wrapper">
                <label for="Stitching">Stitching</label>
                <input type="text" class="input-form" placeholder="Stitching" v-model="stitching">
              </div>
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="Red Pocket">Red Pocket</label>
                <input type="text" class="input-form" placeholder="Red Pocket" v-model="red_pocket">
              </div>
              <div class="input-wrapper">
                <div class="input-wrapper">
                  <label for="Hardware Color">Hardware Color</label>
                  <input
                    type="text"
                    class="input-form"
                    placeholder="Hardware Color"
                    v-model="hardware_color"
                  >
                </div>
                <div class="input-wrapper">
                  <label for="OE Hardware Color">OE Hardware Code</label>
                  <input
                    type="text"
                    class="input-form"
                    placeholder="OE Hardware Color"
                    v-model="oe_hardware_code"
                  >
                </div>
              </div>
            </div>
            <div class="input-wrapper">
              <label for="Special Notes">Special Notes</label>
              <textarea
                name="special_notes"
                id="special_notes"
                class="special-notes"
                placeholder="Special Notes"
                v-model="special_notes"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="bottom-wrapper">
          <button
            v-if="line_id == ''"
            class="btn-blue"
            @click="saveProductLine"
            :disabled="isMakingRequest"
          >
            Save product line
            <i
              class="fa fa-spinner fa-pulse"
              v-show="isMakingRequest"
              aria-hidden="true"
            ></i>
          </button>
          <button v-else class="btn-blue" @click="updateProductLine" :disabled="isMakingRequest">
            Save product line
            <i
              class="fa fa-spinner fa-pulse"
              v-show="isMakingRequest"
              aria-hidden="true"
            ></i>
          </button>
          <span v-show="errorMsg.length > 0" class="error-msg small-font" v-html="errorMsg"></span>
          <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span>
        </div>
        <template v-if="line_id != ''">
          <div
            class="title-module title-width-buttons design-max-width models-title-product-line modules-main-title"
          >
            <h1 class="medium-font">MODELS</h1>
            <div class="year-buttons">
              <button title="Add model" class="btn-product-line" @click="addNewModel">Add model</button>
            </div>
          </div>
          <div class="pagination pagination-product-line" v-if="paginationData.total_pages > 1">
            <div class="cover-pagination">
              <button @click.prevent="moveToPage(1)" title="First page" class="page link">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              </button>
              <button
                v-for="(page, index) in paginationData.total_pages"
                :key="index"
                @click.prevent="moveToPage(index+1)"
                v-if="index+1 >= paginationData.current_page - 2 && index+1 <= paginationData.current_page + 4"
                :disabled="paginationData.current_page == index+1"
                :title="'Page '+(index+1)"
                class="page link"
              >{{index+1}}</button>
              <button
                @click.prevent="moveToPage(paginationData.total_pages)"
                title="Last page"
                class="page link"
              >
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div v-show="isMakingRequestSearch" class="search-pagination">
            <h6 class="small-font">
              Loading
              <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
            </h6>
          </div>
          <model
            v-for="(model, index) in models"
            :key="index"
            :model="model"
            :colors="colors"
            :shapes="shapes"
            :unes="unes"
            :index="index"
            :modelsQty="models.length"
            :line_id="line_id"
            :client_id="client_id"
            :season_id="season_id"
            :sub_brand_id="sub_brand_id"
            :year="year"
            :family_id="family_id"
            :price_id="price_id"
          ></model>
          <model
            v-for="(model, index) in modelsServer"
            :key="'A'+index"
            :model="model"
            :colors="colors"
            :shapes="shapes"
            :unes="unes"
            :index="index"
            :modelsQty="models.length"
            :line_id="line_id"
            :client_id="client_id"
            :season_id="season_id"
            :sub_brand_id="sub_brand_id"
            :year="year"
            :family_id="family_id"
            :price_id="price_id"
          ></model>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import Match from "./Match.vue";
import Combination from "./Combination.vue";
import Model from "./Model.vue";
import ImageList from "./ImageList.vue";
import BodyItem from "./Body.vue";
import TrimItem from "./Trim.vue";
import LiningItem from "./Lining.vue";
import OutsoleItem from "./Outsole.vue";
import VueSelect from "vue-select";

export default {
  name: "ProductLineNew",
  components: {
    Match,
    BodyItem,
    TrimItem,
    Combination,
    Model,
    ImageList,
    LiningItem,
    OutsoleItem,
    VueSelect
  },
  data() {
    return {
      isThePageLoaded: true,
      isMakingRequest: false,
      isMakingRequestSearch: false,
      errorMsg: "",
      successMsg: "",
      year: "",
      years: [],
      shapes: [],
      seasons: [],
      season_id: "",
      trends: [],
      trend_id: "",
      clients: [],
      client_id: "",
      product_line: "",
      project: "",
      family_id: "",
      families: [],
      price_id: "",
      prices: [],
      suppliers: [],
      linings: [{ lining: "" }],
      outsoles: [{ outsole: "" }],
      supplier_id: "",
      sub_brand_id: "",
      une_id: "",
      unes: [],
      subBrands: [],
      matchArray: [{ une_id: "" }],
      colorsCards: {
        bodies: [
          {
            body: ""
          }
        ],
        trims: [
          {
            trim: ""
          }
        ]
      },
      colors: [],
      combinations: [
        {
          color_id: "",
          bodies: [
            {
              body: ""
            }
          ],
          trims: [
            {
              trim: ""
            }
          ]
        }
      ],
      materials: [],
      unesToServer: [],
      combinationsToServer: [],
      materialsServer: [],
      imagesMaterials: null,
      references: [],
      referencesServer: [],
      imagesReferences: null,
      codes: "",
      info: "",
      painting: "",
      stitching: "",
      hardware_color: "",
      oe_hardware_code: "",
      zipper: "",
      red_pocket: "",
      special_notes: "",
      modelsServer: [],
      models: [],
      line_id: this.$route.params.id || "",
      imagesMaterialIds: [],
      imagesReferencesIds: [],
      pagination: {}
    };
  },
  created() {
    this.loadYears();
    console.log(this.sub_brand_id);

    readAllData("user").then(function(data) {
      console.log(data);
    });

    if (window.navigator.onLine) {
      this.loadSeasons();
      this.loadTrends();
      this.loadFamilies();
      this.loadPrices();
      this.loadUnes();
      this.loadClients();
      this.loadSubBrands();
      this.loadSuppliers();
      this.loadColors();
    } else this.getOfflineData();

    //this.loadShapes()

    console.log("SERVER: " + window.URL_SERVER);
  },
  mounted() {
    let self = this;

    this.$on("removeMatch", function(index) {
      self.removeMatch(index);
    });

    this.$on("removeBodyTrimColorCards", function(index) {
      self.removeBodyTrimColorCards(index);
    });

    this.$on("removeCombination", function(index) {
      self.removeCombination(index);
    });

    this.$on("addBody", function(index) {
      self.addBody(index);
    });

    this.$on("removeBody", function(data) {
      self.removeBody(data);
    });

    this.$on("addTrim", function(index) {
      self.addTrim(index);
    });

    this.$on("removeTrim", function(data) {
      self.removeTrim(data);
    });

    this.$on("removeModel", function(index) {
      self.removeModel(index);
    });

    this.$on("deleteImage", function(index) {
      self.deleteImage(index);
    });

    this.$on("deleteImageServer", function(index) {
      self.deleteImageServer(index);
    });

    this.$on("deleteImageModel", function(index) {
      self.deleteImageModel(index);
    });

    this.$on("moveToPage", function() {
      self.moveToPage(1);
    });

    this.$on("removeColorCardsBody", function(data) {
      self.removeColorCardsBody(data);
    });

    this.$on("removeColorCardsTrim", function(data) {
      self.removeColorCardsTrim(data);
    });

    this.$on("removeLining", function(data) {
      self.removeLining(data);
    });

    this.$on("removeOutsole", function(data) {
      self.removeOutsole(data);
    });

    if (this.line_id != "") this.loadProductLine();
  },
  methods: {
    getOfflineData() {
      let self = this;

      readAllData("seasons").then(function(data) {
        self.seasons = data;
      });

      readAllData("trends").then(function(data) {
        self.trends = data;
      });

      readAllData("clients").then(function(data) {
        self.clients = data;
      });

      readAllData("families").then(function(data) {
        self.families = data;
      });

      readAllData("prices").then(function(data) {
        self.prices = data;
      });

      readAllData("suppliers").then(function(data) {
        self.suppliers = data;
      });

      readAllData("sub-brands").then(function(data) {
        self.subBrands = data;
      });

      readAllData("unes").then(function(data) {
        self.unes = data;
      });

      readAllData("colors").then(function(data) {
        self.colors = data;
      });
    },

    removeLining(data) {
      this.linings.splice(data.index, 1);
    },

    removeOutsole(data) {
      this.outsoles.splice(data.index, 1);
    },

    addNewModel() {
      let self = this;
      let data = {
        model_id: "",
        color_id: "",
        une_id: "",
        shape_id: "",
        supplier_cost: "",
        price_point: "",
        info: "",
        image: null,
        // mhpm
        client_id: "",
        season_id: "",
        sub_brand_id: "",
        year: ""
      };

      console.log(data);
      this.models.push(data);
    },

    removeModel(index) {
      this.models.splice(index, 1);
    },

    removeColorCardsBody(data) {
      this.colorsCards.bodies.splice(data.index, 1);
    },

    removeColorCardsTrim(data) {
      this.colorsCards.trims.splice(data.index, 1);
    },

    deleteImageServer(index) {
      this.modelsServer[index].image = null;
    },

    deleteImageModel(index) {
      this.models[index].image = null;
    },

    deleteImage(data) {
      if (data.type == 1) {
        let fromServer = data.image_id || "";

        if (fromServer == "") {
          this.materials.splice(data.index, 1);
          delete this.imagesMaterials[data.index];
        } else {
          this.materialsServer.splice(data.index, 1);
          this.imagesMaterialIds.push(data.image_id);
        }
      }

      if (data.type == 2) {
        let fromServer = data.image_id || "";

        if (fromServer == "") {
          this.references.splice(data.index, 1);
          delete this.imagesReferences[data.index];
        } else {
          this.imagesReferencesIds.push(data.image_id);
          this.referencesServer.splice(data.index, 1);
        }
      }
    },

    addBody(index) {
      let data = {
        body: ""
      };

      this.combinations[index].bodies.push(data);
    },

    addBodyColorCard() {
      let data = {
        body: ""
      };

      this.colorsCards.bodies.push(data);
    },

    addLining() {
      let data = {
        lining: ""
      };

      this.linings.push(data);
    },

    addOutsoles() {
      let data = {
        outsole: ""
      };

      this.outsoles.push(data);
    },

    addTrimColorCard() {
      let data = {
        trim: ""
      };

      this.colorsCards.trims.push(data);
    },

    addTrim(index) {
      let data = {
        trim: ""
      };

      this.combinations[index].trims.push(data);
    },

    removeBody(data) {
      this.combinations[data.indexParent].bodies.splice(data.indexChild, 1);
    },

    removeTrim(data) {
      this.combinations[data.indexParent].trims.splice(data.indexChild, 1);
    },

    removeCombination(index) {
      this.combinations.splice(index, 1);
    },

    removeBodyTrimColorCards(index) {
      this.colorsCards.splice(index, 1);
    },

    addNewMatch() {
      let data = {
        une_id: ""
      };

      this.matchArray.push(data);
    },

    removeMatch(index) {
      this.matchArray.splice(index, 1);
    },

    addNewCombination() {
      let data = {
        color_id: "",
        bodies: [
          {
            body: ""
          }
        ],
        trims: [
          {
            trim: ""
          }
        ]
      };

      this.combinations.push(data);
      this.combinations.reverse();
    },

    loadUnes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/unes/list")
        .then(function(response) {
          self.unes = response.data.data;
          for (var key in response.data.data) {
            writeData("unes", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The unes were not loaded";
        });
    },

    loadShapes() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/shapes/list")
        .then(function(response) {
          self.shapes = response.data.data;
        })
        .catch(function(error) {
          content.error_msg = "The shapes were not loaded";
        });
    },

    loadSubBrands() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/subBrand/list")
        .then(function(response) {
          self.subBrands = response.data.data;
          for (var key in response.data.data) {
            writeData("sub-brands", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The sub-brands were not loaded";
        });
    },

    loadSuppliers() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/providers/list")
        .then(function(response) {
          self.suppliers = response.data.data;
          for (var key in response.data.data) {
            writeData("suppliers", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The suppliers were not loaded";
        });
    },

    loadClients() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/clients/list")
        .then(function(response) {
          self.clients = response.data.data;
          for (var key in response.data.data) {
            writeData("clients", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The clients were not loaded";
        });
    },

    loadTrends() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/trends/list")
        .then(function(response) {
          self.trends = response.data.data;
          for (var key in response.data.data) {
            writeData("trends", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The trends were not loaded";
        });
    },

    loadFamilies() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/families/list")
        .then(function(response) {
          self.families = response.data.data;
          for (var key in response.data.data) {
            writeData("families", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The families were not loaded";
        });
    },

    loadPrices() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/prices/list")
        .then(function(response) {
          self.prices = response.data.data;
          for (var key in response.data.data) {
            writeData("prices", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The families were not loaded";
        });
    },

    loadSeasons() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/seasons/list")
        .then(function(response) {
          self.seasons = response.data.data;
          for (var key in response.data.data) {
            writeData("seasons", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The seasons were not loaded";
        });
    },

    loadColors() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/colors/list")
        .then(function(response) {
          self.colors = response.data.data;
          for (var key in response.data.data) {
            writeData("colors", response.data.data[key]);
          }
        })
        .catch(function(error) {
          content.error_msg = "The colors were not loaded";
        });
    },

    loadYears() {
      let currentDay = new Date();
      let currentYear = currentDay.getFullYear();

      let lastYear = currentYear - 1;
      let nextYear = currentYear + 1;
      let twoYearsLater = currentYear + 2;

      let data = [
        { label: lastYear.toString(), year: currentYear - 1 },
        { label: currentYear.toString(), year: currentYear },
        { label: nextYear.toString(), year: currentYear + 1 },
        { label: twoYearsLater.toString(), year: currentYear + 2 }
      ];

      this.years = data;
      this.year = currentYear + 1;
    },

    openInput() {
      document.getElementById("materials").click();
    },

    openInputreference() {
      document.getElementById("references").click();
    },

    showImages() {
      let self = this;

      var inputFile = document.getElementById("materials");
      var files = inputFile.files;
      var filesArr = Array.prototype.slice.call(files);

      if (filesArr.length < 1) {
        return false;
      } else {
        self.imagesMaterials = files;

        filesArr.forEach(function(f, index) {
          var f = files[index];
          if (!f.type.match("image.*")) {
            return;
          }

          var reader = new FileReader();
          reader.onload = function(e) {
            self.materials.push({
              img: e.target.result,
              uploading: false,
              name: f.name
            });

            // Waiting for filesize request
            return;

            let fileSize = Math.round(f.size / 1024);
            let megaSize = parseFloat(Number(fileSize / 1024).toFixed(2));

            if (
              self.picturesSize + megaSize >= self.maxFileSize ||
              megaSize >= 2
            )
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: true,
                size: megaSize
              });
            else
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: false,
                size: megaSize
              });
          };
          reader.readAsDataURL(f);
        });
      }
    },

    showReferencesImages() {
      let self = this;

      var inputFile = document.getElementById("references");
      var files = inputFile.files;
      var filesArr = Array.prototype.slice.call(files);

      if (filesArr.length < 1) {
        return false;
      } else {
        self.imagesReferences = files;

        filesArr.forEach(function(f, index) {
          var f = files[index];
          if (!f.type.match("image.*")) {
            return;
          }

          var reader = new FileReader();
          reader.onload = function(e) {
            self.references.push({ img: e.target.result, name: f.name });

            // Waiting for filesize request
            return;

            let fileSize = Math.round(f.size / 1024);
            let megaSize = parseFloat(Number(fileSize / 1024).toFixed(2));

            if (
              self.picturesSize + megaSize >= self.maxFileSize ||
              megaSize >= 2
            )
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: true,
                size: megaSize
              });
            else
              self.pictures.push({
                img: e.target.result,
                name: f.name,
                overload: false,
                size: megaSize
              });
          };
          reader.readAsDataURL(f);
        });
      }
    },

    deleteReferenceImage(index) {
      this.references.splice(index, 1);
      delete this.imagesReferences[index];
    },

    saveProductLine() {
      let self = this;
      self.isMakingRequest = true;
      self.errorMsg = "";
      self.successMsg = "";

      this.getUnesIds();
      this.getCombinationsToServer();

      if (self.year == "") self.errorMsg = "Enter a valid year";

      if (self.season_id == "") self.errorMsg = "Enter a valid season";

      if (self.trend_id == "") self.errorMsg = "Enter a valid trend";

      if (self.client_id == "") self.errorMsg = "Enter a valid client";

      if (self.price_id == "") self.errorMsg = "Enter a valid price";

      if (self.family_id == "") self.errorMsg = "Enter a valid family";

      if (self.project == "") self.errorMsg = "Enter a valid project";

      /* if(self.product_line == "")
                    self.errorMsg = "Enter a valid product line" */

      if (self.sub_brand_id == "") self.errorMsg = "Enter a valid sub-brand";

      if (self.colorsCards.bodies[0].body == "")
        self.errorMsg = "Enter at least one body";

      if (self.colorsCards.trims[0].trim == "")
        self.errorMsg = "Enter at least one trim";

      if (self.supplier_id == "") self.errorMsg = "Enter a valid supplier";

      if (self.unesToServer.length == 0)
        self.errorMsg = "Enter at least one match une";

      if (self.linings[0].lining == "")
        self.errorMsg = "Enter at least one lining";

      if (self.outsoles[0].outsole == "")
        self.errorMsg = "Enter at least one outsole";

      if (self.combinationsToServer.length == 0)
        self.errorMsg = "Enter at least one combination";

      if (self.references.length == 0)
        self.errorMsg = "Enter at least one reference";

      if (self.materials.length == 0)
        self.errorMsg = "Enter at least one material";

      if (self.painting == "") self.errorMsg = "Enter a valid painting";

      if (self.stitching == "") self.errorMsg = "Enter a valid stitching";

      if (self.hardware_color == "")
        self.errorMsg = "Enter a valid hardware color";

      if (self.oe_hardware_code == "")
        self.errorMsg = "Enter a valid OE hardware color";

      if (self.zipper == "") self.errorMsg = "Enter a valid zipper";

      if (self.red_pocket == "") self.errorMsg = "Enter a valid red pocket";

      if (self.special_notes == "")
        self.errorMsg = "Enter a valid special note";

      if (self.errorMsg != "") {
        self.isMakingRequest = false;
        return;
      }

      let data = {
        codes: self.codes,
        info: self.info,
        year: self.year.year || self.year,
        season_id: self.season_id.id,
        trend_id: self.trend_id.id,
        client_id: self.client_id.id,
        family_id: self.family_id,
        price_id: self.price_id,
        supplier_id: self.supplier_id.id,
        sub_brand_id: self.sub_brand_id.id,
        // product_line     : self.product_line,
        proyect: self.project,
        painting: self.painting,
        stitching: self.stitching,
        hardware_color: self.hardware_color,
        oe_hw_code: self.oe_hardware_code,
        zipper: self.zipper,
        red_pocket: self.red_pocket,
        special_notes: self.special_notes,
        bodies: self.colorsCards.bodies,
        trims: self.colorsCards.trims,
        combinations: self.combinationsToServer,
        unes: self.unesToServer,
        linings: self.linings,
        outsoles: self.outsoles,
        imagesMaterials: self.materials,
        imagesReferences: self.references
      };

      if (!window.navigator.onLine) {
        navigator.serviceWorker.ready.then(function(sw) {
          data.id = "sync-" + new Date().toISOString();
          writeData("products-line", data);
          writeData("sync-products-line", data)
            .then(function() {
              return sw.sync.register("sync-new-posts");
            })
            .then(function() {
              self.isMakingRequest = false;
              self.successMsg =
                "Your Post was saved waiting for Internet connection!";
              self.$router.push(`/product-line/edit/${data.id}/new`);
              self.addNewModel();
            })
            .catch(function(err) {
              console.log(err);
            });
        });
      } else {
        axios
          .post(URL_SERVER + "/api/lines", data)
          .then(function(response) {
            self.isMakingRequest = false;
            self.line_id = response.data.data.line_id;
            data.id = response.data.data.line_id;
            writeData("products-line", data);
            self.successMsg = "The product line was successfully created";
            self.$router.push(
              "/product-line/edit/" + response.data.data.line_id + "/new"
            );
            self.addNewModel();
          })
          .catch(function(error) {
            self.isMakingRequest = false;

            if (error.response.status == 500) {
              self.errorMsg =
                error.response.data.message ||
                "The product line couldn't be created, please try later";
            } else if (error.response.status == 422) {
              self.errorMsg =
                window.processStrJson(error.response.data.errors) ||
                "The product line couldn't be created, please try later";
            } else {
              self.errorMsg =
                "The product line couldn't be created, please try later";
            }
          });
      }
    },

    loadProductLine() {
      let self = this;

      axios
        .get(URL_SERVER + "/api/lines/" + self.line_id + "/edit")
        .then(function(response) {
          self.uploading = true;

          self.year = response.data.data.year;
          self.season_id = response.data.data.season_id;
          self.trend_id = response.data.data.trend_id;
          self.client_id = response.data.data.client_id;
          self.family_id = response.data.data.family_id;
          self.price_id = response.data.data.price_id;
          self.product_line = response.data.data.product_line;
          self.project = response.data.data.proyect;
          self.supplier_id = response.data.data.supplier_id;
          self.sub_brand_id = response.data.data.sub_brand_id;
          self.painting = response.data.data.painting;
          self.zipper = response.data.data.zipper;
          self.stitching = response.data.data.stitching;
          self.red_pocket = response.data.data.red_pocket;
          self.hardware_color = response.data.data.hardware_color;
          self.special_notes = response.data.data.special_notes;
          self.matchArray = response.data.data.unes.data;
          self.colorsCards = response.data.data.colorsCards.data;
          self.codes = response.data.data.materials.data.codes;
          self.info = response.data.data.references.data.info;
          self.combinations = self.formatCombinations(
            response.data.data.combinations.data
          );
          self.materialsServer = self.formatImages(
            response.data.data.materials.data.images.data
          );
          self.referencesServer = self.formatImages(
            response.data.data.references.data.images.data
          );

          if (response.data.data.models.data.length > 0) {
            self.modelsServer = response.data.data.models.data;
            self.pagination = response.data.data.models.meta.pagination;
          } else {
            self.addNewModel();
          }
        })
        .catch(function(error) {
          content.error_msg = "The product line data could not be loaded";
        });
    },

    formatImages(data) {
      let images = [];

      for (var i = 0; i < data.length; i++) {
        let imgData = {
          img: data[i].image,
          uploading: true,
          image_id: data[i].image_id
        };

        images.push(imgData);
      }

      return images;
    },

    formatCombinations(data) {
      let combinations = [];

      for (var i = 0; i < data.length; i++) {
        let combination = {};
        let bodiesArray = [];
        let trimsArray = [];

        combination.color_id = data[i].color_id;

        for (var x = 0; x < data[i].bodies.data.length; x++) {
          bodiesArray.push(data[i].bodies.data[x]);
        }
        combination.bodies = bodiesArray;

        for (var y = 0; y < data[i].trims.data.length; y++) {
          trimsArray.push(data[i].trims.data[y]);
        }
        combination.trims = trimsArray;

        combinations.push(combination);
      }

      return combinations;
    },

    moveToPage(page) {
      let self = this;

      self.isMakingRequestSearch = true;

      let data = {};
      data.page = page;

      axios
        .get(URL_SERVER + "/api/models/line/" + self.line_id, {
          params: data
        })
        .then(function(response) {
          if (response.data.data.length > 0) {
            self.modelsServer = response.data.data;
            self.pagination = response.data.meta.pagination;
          } else {
            content.error_msg = "The models could not be found";
          }

          self.isMakingRequestSearch = false;
        })
        .catch(function(error) {
          self.isMakingRequestSearch = false;

          if (error.response.status == 500) {
            content.error_msg =
              error.response.data.message ||
              "The models could not be found, please try later";
          } else if (error.response.status == 422) {
            content.error_msg =
              self.processStrJson(error.response.data.errors) ||
              "The models could not be found, please try later";
          } else {
            content.error_msg =
              "The models could not be found, please try later";
          }
        });
    },

    getUnesIds() {
      let self = this;

      self.unesToServer = [];

      for (var i = 0; i < self.matchArray.length; i++) {
        let idUne = self.matchArray[i].une_id.id || "";

        if (idUne != "") self.unesToServer.push(idUne);
      }
    },

    getCombinationsToServer() {
      let self = this;

      self.combinationsToServer = [];

      for (var i = 0; i < self.combinations.length; i++) {
        let idCombination = self.combinations[i].color_id.id || "";

        if (idCombination != "") {
          let data = {
            bodies: self.combinations[i].bodies,
            trims: self.combinations[i].trims,
            color_id: idCombination
          };

          self.combinationsToServer.push(data);
        }
      }
    },

    nextProductLine() {
      let self = this;

      let year = "",
        season_id = "";

      if (self.year != null && self.year != "")
        year = self.year.year || self.year;

      if (self.season_id != null && self.season_id != "")
        season_id = self.season_id.id || self.season_id;

      if (year == "" || season_id == "") return;

      let data = {
        year: year,
        season_id: season_id
      };

      axios
        .get(URL_SERVER + "/api/lines/nextProductLine", {
          params: data
        })
        .then(function(response) {
          self.product_line = response.data;
        })
        .catch(function(error) {
          content.error_msg = "The Product line was not loaded";
        });
    }
  },
  computed: {
    materialsList() {
      return this.materials;
    },

    referencesList() {
      return this.references;
    },

    paginationData() {
      return this.pagination;
    }
  },
  watch: {
    year: {
      handler: function() {
        if (window.navigator.onLine) this.nextProductLine();
      },
      deep: true
    },

    season_id: {
      handler: function() {
        if (window.navigator.onLine) this.nextProductLine();
      },
      deep: true
    }
  }
};
</script>

<style scope>
.input-group {
  width: 50% !important;
}

@media (max-width: 768px) {
  .input-group {
    width: 100% !important;
  }
}
</style>

