<template>
    <div class="body-and-trim-wrapper flex-end">
        <div class="columns-direction body-input-wrapper">
            <label class="small-font">{{ indexChild | trim}}</label>
            <input type="text" class="form-product" :placeholder="indexChild | trim" v-model="trim.trim">
        </div>
        <button v-if="trimsQty > 1" title="Remove" @click="removeTrim" class="btn-remove btn-remove-product-line">
            <i class="fa fa-times" aria-hidden="true"></i> Remove
        </button>
    </div>
</template>

<script>
export default {
    name : "Trim",
    props: ["trim", "indexChild", "indexParent", "trimsQty", "productLine"],
    data(){
        return {
            productLineInside : this.productLine || false
        }
    },
    filters: {
        trim(value){
            return "Trim " + (value +1)
        }
    },
    methods: {

        removeTrim(){

            if(this.productLineInside) {

                let data = {
                    index : this.indexChild
                }

                this.$parent.$emit("removeColorCardsTrim", data)
            }
            else
            {
                let data = {
                    indexParent : this.indexParent,
                    indexChild  : this.indexChild
                }

                this.$parent.$parent.$emit("removeTrim", data)
            }
        }
    }
}
</script>
